<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.park.park.dao.ParkMapper">

<!--得到所有园区名-->
  <select id="getParkName" resultType="com.jn.park.park.model.ParkName">
         SELECT park_name as 'parkname',
         id_ as 'id'
         from tb_park
    </select>

  <!--根据ID得到园区详情-->
  <select id="getParkdetails" resultType="com.jn.park.park.vo.ParkDetailsVo">
         SELECT park_name as 'parkname',
         main_picture as 'mainpicture',
         minor_picture as 'minorpicture',
         creator_account as 'creatoraccount',
         date_format(created_time,'%Y-%m-%d %H:%i:%s') as 'createdtime',
         park_introduce as 'parkintroduce',
         is_enter as 'isenter',
         park_state as 'parkstate',
         id_ as 'id'
         from tb_park where id_=#{id}
    </select>

  <!--得到所有园区介绍-->
  <select id="getParkGeneral" resultType="com.jn.park.park.model.ParkGeneral">
         SELECT
         park_introduce as 'parkintroduce'
         from tb_park where parent_id='-1'
    </select>

</mapper>