<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.oa.notice.dao.NoticeMapper">

  <select id="list" resultType="com.jn.oa.notice.model.Notice" parameterType="com.jn.oa.notice.model.NoticePage">
    SELECT
    t1.id,
    t1.work_order_num AS workOrderNum,
    t1.notice_title AS noticeTitle,
    t1.notice_content AS noticeContent,
    t1.platform_type AS platformType,
    t1.effective_time as effectiveTime,
    t1.failure_time as failureTime,
    t1.record_status AS recordStatus,
    t1.created_time as createdTime,
    t2.`name` AS creator
    FROM
    `tb_oa_notice` t1
    LEFT JOIN
    tb_sys_user t2
    on t1.creator_account = t2.account
    WHERE t1.record_status != 0
    <if test="@org.apache.commons.lang.StringUtils@isNotBlank(noticeTitle)">
      and t1.notice_title like CONCAT('%', trim(#{noticeTitle,jdbcType=VARCHAR}), '%')
    </if>
    <if test="@org.apache.commons.lang.StringUtils@isNotBlank(recordStatus)">
      and t1.record_status = #{recordStatus,jdbcType=TINYINT}
    </if>
    <if test="@org.apache.commons.lang.StringUtils@isNotBlank(platformType)">
      and t1.platform_type like CONCAT('%"key":"', trim(#{platformType,jdbcType=VARCHAR}), '"%')
    </if>
    ORDER BY t1.created_time DESC,t1.id DESC
  </select>
</mapper>