<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.enterprise.recruit.dao.TbServiceRecruitMapper">
  <resultMap id="BaseResultMap" type="com.jn.enterprise.recruit.entity.TbServiceRecruit">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="recruit_no" jdbcType="VARCHAR" property="recruitNo" />
    <result column="com_id" jdbcType="VARCHAR" property="comId" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="salary" jdbcType="VARCHAR" property="salary" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="details" jdbcType="VARCHAR" property="details" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="view_count" jdbcType="INTEGER" property="viewCount" />
    <result column="creator_account" jdbcType="VARCHAR" property="creatorAccount" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="record_status" jdbcType="TINYINT" property="recordStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, recruit_no, com_id, post, salary, num, type, details, status, view_count, creator_account, 
    created_time, modifier_account, modified_time, record_status
  </sql>
  <select id="selectByExample" parameterType="com.jn.enterprise.recruit.entity.TbServiceRecruitCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_service_recruit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_service_recruit
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_service_recruit
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jn.enterprise.recruit.entity.TbServiceRecruitCriteria">
    delete from tb_service_recruit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.enterprise.recruit.entity.TbServiceRecruit">
    insert into tb_service_recruit (id, recruit_no, com_id, 
      post, salary, num, 
      type, details, status, 
      view_count, creator_account, created_time, 
      modifier_account, modified_time, record_status
      )
    values (#{id,jdbcType=VARCHAR}, #{recruitNo,jdbcType=VARCHAR}, #{comId,jdbcType=VARCHAR}, 
      #{post,jdbcType=VARCHAR}, #{salary,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, 
      #{type,jdbcType=VARCHAR}, #{details,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{viewCount,jdbcType=INTEGER}, #{creatorAccount,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{modifierAccount,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP}, #{recordStatus,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jn.enterprise.recruit.entity.TbServiceRecruit">
    insert into tb_service_recruit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="recruitNo != null">
        recruit_no,
      </if>
      <if test="comId != null">
        com_id,
      </if>
      <if test="post != null">
        post,
      </if>
      <if test="salary != null">
        salary,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="details != null">
        details,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="viewCount != null">
        view_count,
      </if>
      <if test="creatorAccount != null">
        creator_account,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifierAccount != null">
        modifier_account,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="recruitNo != null">
        #{recruitNo,jdbcType=VARCHAR},
      </if>
      <if test="comId != null">
        #{comId,jdbcType=VARCHAR},
      </if>
      <if test="post != null">
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="salary != null">
        #{salary,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="details != null">
        #{details,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="viewCount != null">
        #{viewCount,jdbcType=INTEGER},
      </if>
      <if test="creatorAccount != null">
        #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.enterprise.recruit.entity.TbServiceRecruitCriteria" resultType="java.lang.Long">
    select count(*) from tb_service_recruit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_service_recruit
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.recruitNo != null">
        recruit_no = #{record.recruitNo,jdbcType=VARCHAR},
      </if>
      <if test="record.comId != null">
        com_id = #{record.comId,jdbcType=VARCHAR},
      </if>
      <if test="record.post != null">
        post = #{record.post,jdbcType=VARCHAR},
      </if>
      <if test="record.salary != null">
        salary = #{record.salary,jdbcType=VARCHAR},
      </if>
      <if test="record.num != null">
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.details != null">
        details = #{record.details,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.viewCount != null">
        view_count = #{record.viewCount,jdbcType=INTEGER},
      </if>
      <if test="record.creatorAccount != null">
        creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifierAccount != null">
        modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedTime != null">
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.recordStatus != null">
        record_status = #{record.recordStatus,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_service_recruit
    set id = #{record.id,jdbcType=VARCHAR},
      recruit_no = #{record.recruitNo,jdbcType=VARCHAR},
      com_id = #{record.comId,jdbcType=VARCHAR},
      post = #{record.post,jdbcType=VARCHAR},
      salary = #{record.salary,jdbcType=VARCHAR},
      num = #{record.num,jdbcType=INTEGER},
      type = #{record.type,jdbcType=VARCHAR},
      details = #{record.details,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      view_count = #{record.viewCount,jdbcType=INTEGER},
      creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      record_status = #{record.recordStatus,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jn.enterprise.recruit.entity.TbServiceRecruit">
    update tb_service_recruit
    <set>
      <if test="recruitNo != null">
        recruit_no = #{recruitNo,jdbcType=VARCHAR},
      </if>
      <if test="comId != null">
        com_id = #{comId,jdbcType=VARCHAR},
      </if>
      <if test="post != null">
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="salary != null">
        salary = #{salary,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="details != null">
        details = #{details,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="viewCount != null">
        view_count = #{viewCount,jdbcType=INTEGER},
      </if>
      <if test="creatorAccount != null">
        creator_account = #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jn.enterprise.recruit.entity.TbServiceRecruit">
    update tb_service_recruit
    set recruit_no = #{recruitNo,jdbcType=VARCHAR},
      com_id = #{comId,jdbcType=VARCHAR},
      post = #{post,jdbcType=VARCHAR},
      salary = #{salary,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      details = #{details,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      view_count = #{viewCount,jdbcType=INTEGER},
      creator_account = #{creatorAccount,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      record_status = #{recordStatus,jdbcType=TINYINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>