<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.park.finance.dao.TbFinanceIncomeDayMapper">
  <resultMap id="BaseResultMap" type="com.jn.park.finance.entity.TbFinanceIncomeDay">
    <id column="iday_id" jdbcType="INTEGER" property="id" />
    <result column="iday_income_day" jdbcType="TIMESTAMP" property="incomeDay" />
    <result column="iday_income_type" jdbcType="TINYINT" property="incomeType" />
    <result column="iday_income_typename" jdbcType="VARCHAR" property="incomeTypename" />
    <result column="iday_income" jdbcType="DECIMAL" property="income" />
    <result column="iday_record_status" jdbcType="TINYINT" property="recordStatus" />
    <result column="iday_creator_account" jdbcType="VARCHAR" property="creatorAccount" />
    <result column="iday_created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="iday_modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
    <result column="iday_modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    iday.id as iday_id, iday.income_day as iday_income_day, iday.income_type as iday_income_type, 
    iday.income_typename as iday_income_typename, iday.income as iday_income, iday.record_status as iday_record_status, 
    iday.creator_account as iday_creator_account, iday.created_time as iday_created_time, 
    iday.modifier_account as iday_modifier_account, iday.modified_time as iday_modified_time
  </sql>
  <select id="selectByExample" parameterType="com.jn.park.finance.entity.TbFinanceIncomeDayExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_finance_income_day iday
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_finance_income_day iday
    where iday.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_finance_income_day
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jn.park.finance.entity.TbFinanceIncomeDayExample">
    delete from tb_finance_income_day iday
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.park.finance.entity.TbFinanceIncomeDay">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_finance_income_day (income_day, income_type, income_typename, 
      income, record_status, creator_account, 
      created_time, modifier_account, modified_time
      )
    values (#{incomeDay,jdbcType=TIMESTAMP}, #{incomeType,jdbcType=TINYINT}, #{incomeTypename,jdbcType=VARCHAR}, 
      #{income,jdbcType=DECIMAL}, #{recordStatus,jdbcType=TINYINT}, #{creatorAccount,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{modifierAccount,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jn.park.finance.entity.TbFinanceIncomeDay">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_finance_income_day
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="incomeDay != null">
        income_day,
      </if>
      <if test="incomeType != null">
        income_type,
      </if>
      <if test="incomeTypename != null">
        income_typename,
      </if>
      <if test="income != null">
        income,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
      <if test="creatorAccount != null">
        creator_account,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifierAccount != null">
        modifier_account,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="incomeDay != null">
        #{incomeDay,jdbcType=TIMESTAMP},
      </if>
      <if test="incomeType != null">
        #{incomeType,jdbcType=TINYINT},
      </if>
      <if test="incomeTypename != null">
        #{incomeTypename,jdbcType=VARCHAR},
      </if>
      <if test="income != null">
        #{income,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorAccount != null">
        #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.park.finance.entity.TbFinanceIncomeDayExample" resultType="java.lang.Long">
    select count(*) from tb_finance_income_day iday
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_finance_income_day iday
    <set>
      <if test="record.id != null">
        iday.id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.incomeDay != null">
        iday.income_day = #{record.incomeDay,jdbcType=TIMESTAMP},
      </if>
      <if test="record.incomeType != null">
        iday.income_type = #{record.incomeType,jdbcType=TINYINT},
      </if>
      <if test="record.incomeTypename != null">
        iday.income_typename = #{record.incomeTypename,jdbcType=VARCHAR},
      </if>
      <if test="record.income != null">
        iday.income = #{record.income,jdbcType=DECIMAL},
      </if>
      <if test="record.recordStatus != null">
        iday.record_status = #{record.recordStatus,jdbcType=TINYINT},
      </if>
      <if test="record.creatorAccount != null">
        iday.creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        iday.created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifierAccount != null">
        iday.modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedTime != null">
        iday.modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_finance_income_day iday
    set iday.id = #{record.id,jdbcType=INTEGER},
      iday.income_day = #{record.incomeDay,jdbcType=TIMESTAMP},
      iday.income_type = #{record.incomeType,jdbcType=TINYINT},
      iday.income_typename = #{record.incomeTypename,jdbcType=VARCHAR},
      iday.income = #{record.income,jdbcType=DECIMAL},
      iday.record_status = #{record.recordStatus,jdbcType=TINYINT},
      iday.creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      iday.created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      iday.modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      iday.modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jn.park.finance.entity.TbFinanceIncomeDay">
    update tb_finance_income_day
    <set>
      <if test="incomeDay != null">
        income_day = #{incomeDay,jdbcType=TIMESTAMP},
      </if>
      <if test="incomeType != null">
        income_type = #{incomeType,jdbcType=TINYINT},
      </if>
      <if test="incomeTypename != null">
        income_typename = #{incomeTypename,jdbcType=VARCHAR},
      </if>
      <if test="income != null">
        income = #{income,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorAccount != null">
        creator_account = #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jn.park.finance.entity.TbFinanceIncomeDay">
    update tb_finance_income_day
    set income_day = #{incomeDay,jdbcType=TIMESTAMP},
      income_type = #{incomeType,jdbcType=TINYINT},
      income_typename = #{incomeTypename,jdbcType=VARCHAR},
      income = #{income,jdbcType=DECIMAL},
      record_status = #{recordStatus,jdbcType=TINYINT},
      creator_account = #{creatorAccount,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>