<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.park.finance.dao.TbFinanceTotalBudgetMapper">
  <resultMap id="BaseResultMap" type="com.jn.park.finance.entity.TbFinanceTotalBudget">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cost_type_id" jdbcType="INTEGER" property="costTypeId" />
    <result column="cost_type_name" jdbcType="VARCHAR" property="costTypeName" />
    <result column="department_id" jdbcType="VARCHAR" property="departmentId" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="budget_month" jdbcType="CHAR" property="budgetMonth" />
    <result column="budget_number" jdbcType="DECIMAL" property="budgetNumber" />
    <result column="record_status" jdbcType="TINYINT" property="recordStatus" />
    <result column="modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
    <result column="creator_account" jdbcType="VARCHAR" property="creatorAccount" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="deal_date" jdbcType="CHAR" property="dealDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, cost_type_id, cost_type_name, department_id, department_name, budget_month, budget_number, 
    record_status, modifier_account, creator_account, modified_time, created_time, deal_date
  </sql>
  <select id="selectByExample" parameterType="com.jn.park.finance.entity.TbFinanceTotalBudgetExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_finance_total_budget
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_finance_total_budget
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_finance_total_budget
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jn.park.finance.entity.TbFinanceTotalBudgetExample">
    delete from tb_finance_total_budget
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.park.finance.entity.TbFinanceTotalBudget">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_finance_total_budget (cost_type_id, cost_type_name, department_id, 
      department_name, budget_month, budget_number, 
      record_status, modifier_account, creator_account, 
      modified_time, created_time, deal_date
      )
    values (#{costTypeId,jdbcType=INTEGER}, #{costTypeName,jdbcType=VARCHAR}, #{departmentId,jdbcType=VARCHAR}, 
      #{departmentName,jdbcType=VARCHAR}, #{budgetMonth,jdbcType=CHAR}, #{budgetNumber,jdbcType=DECIMAL}, 
      #{recordStatus,jdbcType=TINYINT}, #{modifierAccount,jdbcType=VARCHAR}, #{creatorAccount,jdbcType=VARCHAR}, 
      #{modifiedTime,jdbcType=TIMESTAMP}, #{createdTime,jdbcType=TIMESTAMP}, #{dealDate,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jn.park.finance.entity.TbFinanceTotalBudget">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_finance_total_budget
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="costTypeId != null">
        cost_type_id,
      </if>
      <if test="costTypeName != null">
        cost_type_name,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="departmentName != null">
        department_name,
      </if>
      <if test="budgetMonth != null">
        budget_month,
      </if>
      <if test="budgetNumber != null">
        budget_number,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
      <if test="modifierAccount != null">
        modifier_account,
      </if>
      <if test="creatorAccount != null">
        creator_account,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="dealDate != null">
        deal_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="costTypeId != null">
        #{costTypeId,jdbcType=INTEGER},
      </if>
      <if test="costTypeName != null">
        #{costTypeName,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null">
        #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="budgetMonth != null">
        #{budgetMonth,jdbcType=CHAR},
      </if>
      <if test="budgetNumber != null">
        #{budgetNumber,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="modifierAccount != null">
        #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="creatorAccount != null">
        #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealDate != null">
        #{dealDate,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.park.finance.entity.TbFinanceTotalBudgetExample" resultType="java.lang.Long">
    select count(*) from tb_finance_total_budget
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_finance_total_budget
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.costTypeId != null">
        cost_type_id = #{record.costTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.costTypeName != null">
        cost_type_name = #{record.costTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentId != null">
        department_id = #{record.departmentId,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentName != null">
        department_name = #{record.departmentName,jdbcType=VARCHAR},
      </if>
      <if test="record.budgetMonth != null">
        budget_month = #{record.budgetMonth,jdbcType=CHAR},
      </if>
      <if test="record.budgetNumber != null">
        budget_number = #{record.budgetNumber,jdbcType=DECIMAL},
      </if>
      <if test="record.recordStatus != null">
        record_status = #{record.recordStatus,jdbcType=TINYINT},
      </if>
      <if test="record.modifierAccount != null">
        modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.creatorAccount != null">
        creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedTime != null">
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dealDate != null">
        deal_date = #{record.dealDate,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_finance_total_budget
    set id = #{record.id,jdbcType=INTEGER},
      cost_type_id = #{record.costTypeId,jdbcType=INTEGER},
      cost_type_name = #{record.costTypeName,jdbcType=VARCHAR},
      department_id = #{record.departmentId,jdbcType=VARCHAR},
      department_name = #{record.departmentName,jdbcType=VARCHAR},
      budget_month = #{record.budgetMonth,jdbcType=CHAR},
      budget_number = #{record.budgetNumber,jdbcType=DECIMAL},
      record_status = #{record.recordStatus,jdbcType=TINYINT},
      modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      deal_date = #{record.dealDate,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jn.park.finance.entity.TbFinanceTotalBudget">
    update tb_finance_total_budget
    <set>
      <if test="costTypeId != null">
        cost_type_id = #{costTypeId,jdbcType=INTEGER},
      </if>
      <if test="costTypeName != null">
        cost_type_name = #{costTypeName,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null">
        department_name = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="budgetMonth != null">
        budget_month = #{budgetMonth,jdbcType=CHAR},
      </if>
      <if test="budgetNumber != null">
        budget_number = #{budgetNumber,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="modifierAccount != null">
        modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="creatorAccount != null">
        creator_account = #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealDate != null">
        deal_date = #{dealDate,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jn.park.finance.entity.TbFinanceTotalBudget">
    update tb_finance_total_budget
    set cost_type_id = #{costTypeId,jdbcType=INTEGER},
      cost_type_name = #{costTypeName,jdbcType=VARCHAR},
      department_id = #{departmentId,jdbcType=VARCHAR},
      department_name = #{departmentName,jdbcType=VARCHAR},
      budget_month = #{budgetMonth,jdbcType=CHAR},
      budget_number = #{budgetNumber,jdbcType=DECIMAL},
      record_status = #{recordStatus,jdbcType=TINYINT},
      modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      creator_account = #{creatorAccount,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      deal_date = #{dealDate,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>