<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.park.finance.dao.TbFinanceDictionaryMapper">
  <resultMap id="BaseResultMap" type="com.jn.park.finance.entity.TbFinanceDictionary">
    <result column="dict_dic_key" jdbcType="VARCHAR" property="dicKey" />
    <result column="dict_dic_value" jdbcType="VARCHAR" property="dicValue" />
    <result column="dict_record_status" jdbcType="TINYINT" property="recordStatus" />
    <result column="dict_creator_account" jdbcType="VARCHAR" property="creatorAccount" />
    <result column="dict_created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="dict_modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
    <result column="dict_modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    dict.dic_key as dict_dic_key, dict.dic_value as dict_dic_value, dict.record_status as dict_record_status, 
    dict.creator_account as dict_creator_account, dict.created_time as dict_created_time, 
    dict.modifier_account as dict_modifier_account, dict.modified_time as dict_modified_time
  </sql>
  <select id="selectByExample" parameterType="com.jn.park.finance.entity.TbFinanceDictionaryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_finance_dictionary dict
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.jn.park.finance.entity.TbFinanceDictionaryExample">
    delete from tb_finance_dictionary dict
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.park.finance.entity.TbFinanceDictionary">
    insert into tb_finance_dictionary (dic_key, dic_value, record_status, 
      creator_account, created_time, modifier_account, 
      modified_time)
    values (#{dicKey,jdbcType=VARCHAR}, #{dicValue,jdbcType=VARCHAR}, #{recordStatus,jdbcType=TINYINT}, 
      #{creatorAccount,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{modifierAccount,jdbcType=VARCHAR}, 
      #{modifiedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jn.park.finance.entity.TbFinanceDictionary">
    insert into tb_finance_dictionary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dicKey != null">
        dic_key,
      </if>
      <if test="dicValue != null">
        dic_value,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
      <if test="creatorAccount != null">
        creator_account,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifierAccount != null">
        modifier_account,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dicKey != null">
        #{dicKey,jdbcType=VARCHAR},
      </if>
      <if test="dicValue != null">
        #{dicValue,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorAccount != null">
        #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.park.finance.entity.TbFinanceDictionaryExample" resultType="java.lang.Long">
    select count(*) from tb_finance_dictionary dict
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_finance_dictionary dict
    <set>
      <if test="record.dicKey != null">
        dict.dic_key = #{record.dicKey,jdbcType=VARCHAR},
      </if>
      <if test="record.dicValue != null">
        dict.dic_value = #{record.dicValue,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        dict.record_status = #{record.recordStatus,jdbcType=TINYINT},
      </if>
      <if test="record.creatorAccount != null">
        dict.creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        dict.created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifierAccount != null">
        dict.modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedTime != null">
        dict.modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_finance_dictionary dict
    set dict.dic_key = #{record.dicKey,jdbcType=VARCHAR},
      dict.dic_value = #{record.dicValue,jdbcType=VARCHAR},
      dict.record_status = #{record.recordStatus,jdbcType=TINYINT},
      dict.creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      dict.created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      dict.modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      dict.modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>