<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.park.finance.dao.TbFinanceBudgetHistoryMapper">
  <resultMap id="BaseResultMap" type="com.jn.park.finance.entity.TbFinanceBudgetHistory">
    <id column="bh_id" jdbcType="INTEGER" property="id" />
    <result column="bh_cost_type_id" jdbcType="INTEGER" property="costTypeId" />
    <result column="bh_cost_type_name" jdbcType="VARCHAR" property="costTypeName" />
    <result column="bh_department_id" jdbcType="VARCHAR" property="departmentId" />
    <result column="bh_department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="bh_budget_month" jdbcType="CHAR" property="budgetMonth" />
    <result column="bh_budget_money" jdbcType="DECIMAL" property="budgetMoney" />
    <result column="bh_budget_Type" jdbcType="TINYINT" property="budgetType" />
    <result column="bh_record_status" jdbcType="TINYINT" property="recordStatus" />
    <result column="bh_created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="bh_modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
    <result column="bh_modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="bh_creator_account" jdbcType="VARCHAR" property="creatorAccount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    bh.id as bh_id, bh.cost_type_id as bh_cost_type_id, bh.cost_type_name as bh_cost_type_name, 
    bh.department_id as bh_department_id, bh.department_name as bh_department_name, bh.budget_month as bh_budget_month, 
    bh.budget_money as bh_budget_money, bh.budget_Type as bh_budget_Type, bh.record_status as bh_record_status, 
    bh.created_time as bh_created_time, bh.modifier_account as bh_modifier_account, bh.modified_time as bh_modified_time, 
    bh.creator_account as bh_creator_account
  </sql>
  <select id="selectByExample" parameterType="com.jn.park.finance.entity.TbFinanceBudgetHistoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_finance_budget_history bh
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_finance_budget_history bh
    where bh.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_finance_budget_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jn.park.finance.entity.TbFinanceBudgetHistoryExample">
    delete from tb_finance_budget_history bh
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.park.finance.entity.TbFinanceBudgetHistory">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_finance_budget_history (cost_type_id, cost_type_name, department_id, 
      department_name, budget_month, budget_money, 
      budget_Type, record_status, created_time, 
      modifier_account, modified_time, creator_account
      )
    values (#{costTypeId,jdbcType=INTEGER}, #{costTypeName,jdbcType=VARCHAR}, #{departmentId,jdbcType=VARCHAR}, 
      #{departmentName,jdbcType=VARCHAR}, #{budgetMonth,jdbcType=CHAR}, #{budgetMoney,jdbcType=DECIMAL}, 
      #{budgetType,jdbcType=TINYINT}, #{recordStatus,jdbcType=TINYINT}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{modifierAccount,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP}, #{creatorAccount,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jn.park.finance.entity.TbFinanceBudgetHistory">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_finance_budget_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="costTypeId != null">
        cost_type_id,
      </if>
      <if test="costTypeName != null">
        cost_type_name,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="departmentName != null">
        department_name,
      </if>
      <if test="budgetMonth != null">
        budget_month,
      </if>
      <if test="budgetMoney != null">
        budget_money,
      </if>
      <if test="budgetType != null">
        budget_Type,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifierAccount != null">
        modifier_account,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="creatorAccount != null">
        creator_account,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="costTypeId != null">
        #{costTypeId,jdbcType=INTEGER},
      </if>
      <if test="costTypeName != null">
        #{costTypeName,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null">
        #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="budgetMonth != null">
        #{budgetMonth,jdbcType=CHAR},
      </if>
      <if test="budgetMoney != null">
        #{budgetMoney,jdbcType=DECIMAL},
      </if>
      <if test="budgetType != null">
        #{budgetType,jdbcType=TINYINT},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorAccount != null">
        #{creatorAccount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.park.finance.entity.TbFinanceBudgetHistoryExample" resultType="java.lang.Long">
    select count(*) from tb_finance_budget_history bh
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_finance_budget_history bh
    <set>
      <if test="record.id != null">
        bh.id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.costTypeId != null">
        bh.cost_type_id = #{record.costTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.costTypeName != null">
        bh.cost_type_name = #{record.costTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentId != null">
        bh.department_id = #{record.departmentId,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentName != null">
        bh.department_name = #{record.departmentName,jdbcType=VARCHAR},
      </if>
      <if test="record.budgetMonth != null">
        bh.budget_month = #{record.budgetMonth,jdbcType=CHAR},
      </if>
      <if test="record.budgetMoney != null">
        bh.budget_money = #{record.budgetMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.budgetType != null">
        bh.budget_Type = #{record.budgetType,jdbcType=TINYINT},
      </if>
      <if test="record.recordStatus != null">
        bh.record_status = #{record.recordStatus,jdbcType=TINYINT},
      </if>
      <if test="record.createdTime != null">
        bh.created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifierAccount != null">
        bh.modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedTime != null">
        bh.modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creatorAccount != null">
        bh.creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_finance_budget_history bh
    set bh.id = #{record.id,jdbcType=INTEGER},
      bh.cost_type_id = #{record.costTypeId,jdbcType=INTEGER},
      bh.cost_type_name = #{record.costTypeName,jdbcType=VARCHAR},
      bh.department_id = #{record.departmentId,jdbcType=VARCHAR},
      bh.department_name = #{record.departmentName,jdbcType=VARCHAR},
      bh.budget_month = #{record.budgetMonth,jdbcType=CHAR},
      bh.budget_money = #{record.budgetMoney,jdbcType=DECIMAL},
      bh.budget_Type = #{record.budgetType,jdbcType=TINYINT},
      bh.record_status = #{record.recordStatus,jdbcType=TINYINT},
      bh.created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      bh.modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      bh.modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      bh.creator_account = #{record.creatorAccount,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jn.park.finance.entity.TbFinanceBudgetHistory">
    update tb_finance_budget_history
    <set>
      <if test="costTypeId != null">
        cost_type_id = #{costTypeId,jdbcType=INTEGER},
      </if>
      <if test="costTypeName != null">
        cost_type_name = #{costTypeName,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null">
        department_name = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="budgetMonth != null">
        budget_month = #{budgetMonth,jdbcType=CHAR},
      </if>
      <if test="budgetMoney != null">
        budget_money = #{budgetMoney,jdbcType=DECIMAL},
      </if>
      <if test="budgetType != null">
        budget_Type = #{budgetType,jdbcType=TINYINT},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorAccount != null">
        creator_account = #{creatorAccount,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jn.park.finance.entity.TbFinanceBudgetHistory">
    update tb_finance_budget_history
    set cost_type_id = #{costTypeId,jdbcType=INTEGER},
      cost_type_name = #{costTypeName,jdbcType=VARCHAR},
      department_id = #{departmentId,jdbcType=VARCHAR},
      department_name = #{departmentName,jdbcType=VARCHAR},
      budget_month = #{budgetMonth,jdbcType=CHAR},
      budget_money = #{budgetMoney,jdbcType=DECIMAL},
      budget_Type = #{budgetType,jdbcType=TINYINT},
      record_status = #{recordStatus,jdbcType=TINYINT},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      creator_account = #{creatorAccount,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>