@font-face {
  font-family: 'IMPACT';
  src: url('IMPACT.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ARIALN';
  src: url('ARIALN.ttf');
  font-weight: normal;
  font-style: normal;
}
