<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.enterprise.servicemarket.comment.dao.CommentMapper">
    <select id="getGiveMeCommentList" parameterType="com.jn.enterprise.servicemarket.comment.model.ReceiveRatingParameter"
            resultType="com.jn.enterprise.servicemarket.comment.model.Rating">
        SELECT r.id AS "id",r.org_name AS "orgName",r.advisor_name AS "advisorName",
        r.product_name AS "productName",date_format(re.issue_time,'%Y-%m-%d %H:%i:%S')  AS "issueTime",date_format(re.handle_time,'%Y-%m-%d %H:%i:%S') AS "handleTime",
        date_format(r.created_time,'%Y-%m-%d %H:%i:%S') AS "commentTime",re.is_comment AS "isComment",re.org_telephone as "orgTelephone"
        FROM tb_service_rating r LEFT JOIN tb_service_require re ON r.require_id = re.id left join tb_service_org o on r.org_id_ = o.org_id_
        where r.record_status = '1'
        <if test="issueAccount != null and issueAccount != ''">
            and re.issue_account =  #{issueAccount}
        </if>
        <if test="account != null and account != ''">
            and ( r.advisor_account = #{account} or o.org_account = #{account} )
        </if>
        <if test="productName != null and productName != ''">
            and r.product_name like CONCAT('%', #{searchCode}, '%')
        </if>
        <if test="advisorName != null and advisorName != ''">
            and re.advisor_name like CONCAT('%', #{advisorName}, '%')
        </if>
    </select>

    <select id="getRatingCommentDetail" parameterType="java.lang.String"
            resultType="com.jn.enterprise.servicemarket.comment.model.RatingDetail">
              select re.id as "id",
                   re.req_num as "reqNum",
                   date_format(re.issue_time,'%Y-%m-%d %H:%i:%S') as "issueTime",
                  re.contract_amount as "contractAmount",
                   re.req_name as "reqName",re.req_phone as "reqPhone",
                   re.req_email as "reqEmail",re.req_detail as "reqDetail",
                   re.contract_amount as "financingAmount",
                   re.actual_loan_amount as "actualLoanAmount",
                   re.financing_period_max as "financingPeriod",
                   re.expected_date as "expectedDate",
                   re.result_detail as "resultDetail",
                   re.is_comment as "isComment",
                   re.funds_req_desc as "fundsReqDesc"
                   info.con_name as "conName",info.con_phone as "conPhone",
                   info.con_email as "conEmail",re.org_name as "orgName",
                   re.advisor_name as "advisorName", re.product_name as "productName",
                   ra.attitude_score as "attitudeScore", ra.evaluation_desc as "evaluationDesc"
                from tb_service_require re <!-- 需求表 -->
                left join tb_service_org_info info on re.org_id_ = info.org_id_
                left join tb_service_rating ra <!-- 评价表 --> on ra.require_id   = re.id
                where re.record_status = '1' and re.id = #{id};
    </select>

</mapper>