**/.idea
**/target
**/.project
**/.settings
**/.classpath
**/*.iml
**/.metadata
**/Servers
**/out
**/overlays
**/*.log
**/*.pdb
#**/build
**/.pdb
**/*.bak

**/dist
**/node_modules
**/*_20*.vue
**/*_20*.js
**/*_20*.scss