* {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    width: 100%;
    height: 100%;
    font-family: '微软雅黑';
}

.clearfix:after {
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    /* 触发 hasLayout */
    zoom: 1;
}

.color {
    color: #d7d400;
}

.fr {
    float: right;
}

.pr {
    position: relative;
}

#time {
    background: url('./img/bg.png') 100% 100% / 100% 100% no-repeat;
    border-radius: 50%;
    width: 450px;
    height: 454px;
    position: relative;
    /* margin:100px auto; */
}

#hours {
    width: 4px;
    height: 90px;
    background: #000;
    position: absolute;
    left: 225px;
    top: 136px;
    -webkit-transform-origin: 1.5px bottom;
    transform-origin: 1.5px bottom;
}

#min {
    width: 3px;
    height: 120px;
    background: #000;
    position: absolute;
    left: 225px;
    top: 104px;
    -webkit-transform-origin: 1.5px bottom;
    transform-origin: 1.5px bottom;
}

#sec {
    width: 2px;
    height: 176px;
    background: #000;
    /*background: url(aaaa_01.png);
    background-size: 10px 80px;
    background-position: center;*/
    position: absolute;
    left: 224px;
    top: 50px;
    -webkit-transform-origin: 1.5px bottom;
    transform-origin: 1.5px bottom;
}

#scale {
    width: 20px;
    /* height: 88%; */
    height: 86%;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    /* margin-top:14px; */
    margin-top: 34px;
}

#point {
    /* width: 1px;
   height: 6px;
   background: #000; */
    width: 2px;
    height: 10px;
    background: #666;
    margin: auto;
}

#number {
    color: #2d2d2f;
    font-weight: bold;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
    line-height: 50px;
    margin-left: -18px;
}

.conLeft {
    float: left;
    margin: 20px 83px 0 250px;
}

.conRight {
    float: right;
    margin-right: 70px;
    margin-top: 30px;
    font-size: 26px;
}

/* .erweima {
    float: right;
    width: 30px;
    height: 30px;
} */

.container {
    width: 1920px;
    height: 1080px;
    background: url(./img/mainbg.png) 100% 100% / 100% 100% no-repeat;
}

header {
    height: 101px;
    line-height: 101px;
    background: url(./img/headerbg.png) 100% 100% / 100% 100% no-repeat;
}

.dateTime {
    font-size: 45px;
    position: relative;
    left: 1598px;
    top: -60px;
}

.headTitle {
    color: #d7d400;
    font-size: 70px;
    margin-left: 180px;
}

.meetingName {
    width: 815px;
    height: 547px;
    /* line-height: 547px; */
    /* text-align: center; */
    padding: 0 40px;
    background: url(./img/bg11.png) 100% 100% / 100% 100% no-repeat;
}

.name1 {
    color: #fcfcfc;
    font-size: 30px;
    padding-top: 50px;
    margin-left: 20px;
}

.name2 {
    font-size: 56px;
    color: #fcfcfc;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 100px;
}

.name3 {
    font-size: 45px;
    line-height: 100px;
}

.currentMeet {
    float: right;
    text-align: center;
    font-size: 45px;
    width: 270px;
    height: 100px;
    line-height: 100px;
    background: url(./img/bg22.png) 100% 100% / 100% 100% no-repeat;
}

.cityPos {
    position: relative;
    top: -77px;
    left: -138px;
    margin-bottom: 50px
}

.city {
    font-size: 38px;
}

.airQuality {
    font-size: 24px;
    margin-top: 10px;
}
.weather{
    float: left;
}
.weaImg{
    float: left;
}
.weaImg>img{
    width: 162px;
    height: 141px;
    margin-top: 60px;
    border-radius: 30px;
    margin-left: 39px;
}
.week{
    font-size: 36px;
}
.riqi{
    font-size: 28px;
}
.weaInfo{
    text-align: center;
    margin-left: -143px;
    margin-top: -57px;
}
.weather-wd{
    font-size: 64px;
}
.wea{
    font-size: 34px;
}
.temperature{
    margin:25px 0;
}
.erweima{
    float: left;
    margin-right: -170px;
    margin-left:23px;
    margin-top: 7px;
    padding: 28px;
    width: 180px;
    height: 180px;
    background: url(./img/bg5.png) 100% 100% / 100% 100% no-repeat;
}
.erweima>img{
    width: 100%;
    height: 100%;
}

.meetingPel {
    padding: 40px;
    width: 800px;
    margin-left: 8px;
    margin-top: 30px;
    height: 132px;
    background: url(./img/bg2.png) 100% 100% / 100% 100% no-repeat;
    word-wrap: break-word;
    word-break: break-all;
}

.meetingSum {
    padding: 40px;
    width: 800px;
    margin-left: 8px;
    margin-top: 10px;
    height: 149px;
    background: url(./img/bg2.png) 100% 100% / 100% 100% no-repeat;
    word-wrap: break-word;
    word-break: break-all;
}

.meetingName2{
    width: 815px;
    height: 92px;
    line-height: 92px;
    padding: 0 40px;
    margin-bottom:48px;
    background: url(./img/bg1.png) 100% 100% / 100% 100% no-repeat;
}



 h2 {
    position: relative;
    left: 424px;
    top: -73px;
    font-size: 40px;
    color: #dfdd33;
    font-weight: normal;
}

.weather-wd {
    margin-left: -20px;
}