<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.hr.archives.dao.TbManpowerEmployeeFileMapper">
  <resultMap id="BaseResultMap" type="com.jn.hr.archives.entity.TbManpowerEmployeeFile">
    <id column="file_id" jdbcType="VARCHAR" property="fileId" />
    <result column="class_id" jdbcType="VARCHAR" property="classId" />
    <result column="node_name" jdbcType="VARCHAR" property="nodeName" />
    <result column="symbol" jdbcType="VARCHAR" property="symbol" />
    <result column="title_name" jdbcType="VARCHAR" property="titleName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="person_liable" jdbcType="VARCHAR" property="personLiable" />
    <result column="accessory_management" jdbcType="VARCHAR" property="accessoryManagement" />
    <result column="record_status" jdbcType="TINYINT" property="recordStatus" />
    <result column="creator_account" jdbcType="VARCHAR" property="creatorAccount" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="reg_department" jdbcType="VARCHAR" property="regDepartment" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    file_id, class_id, node_name, symbol, title_name, remark, person_liable, accessory_management, 
    record_status, creator_account, created_time, modifier_account, modified_time, reg_department
  </sql>
  <select id="selectByExample" parameterType="com.jn.hr.archives.entity.TbManpowerEmployeeFileCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_manpower_employee_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_manpower_employee_file
    where file_id = #{fileId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_manpower_employee_file
    where file_id = #{fileId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jn.hr.archives.entity.TbManpowerEmployeeFileCriteria">
    delete from tb_manpower_employee_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.hr.archives.entity.TbManpowerEmployeeFile">
    insert into tb_manpower_employee_file (file_id, class_id, node_name, 
      symbol, title_name, remark, 
      person_liable, accessory_management, record_status, 
      creator_account, created_time, modifier_account, 
      modified_time, reg_department)
    values (#{fileId,jdbcType=VARCHAR}, #{classId,jdbcType=VARCHAR}, #{nodeName,jdbcType=VARCHAR}, 
      #{symbol,jdbcType=VARCHAR}, #{titleName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{personLiable,jdbcType=VARCHAR}, #{accessoryManagement,jdbcType=VARCHAR}, #{recordStatus,jdbcType=TINYINT}, 
      #{creatorAccount,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{modifierAccount,jdbcType=VARCHAR}, 
      #{modifiedTime,jdbcType=TIMESTAMP}, #{regDepartment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jn.hr.archives.entity.TbManpowerEmployeeFile">
    insert into tb_manpower_employee_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileId != null">
        file_id,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="nodeName != null">
        node_name,
      </if>
      <if test="symbol != null">
        symbol,
      </if>
      <if test="titleName != null">
        title_name,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="personLiable != null">
        person_liable,
      </if>
      <if test="accessoryManagement != null">
        accessory_management,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
      <if test="creatorAccount != null">
        creator_account,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifierAccount != null">
        modifier_account,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="regDepartment != null">
        reg_department,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileId != null">
        #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null">
        #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="symbol != null">
        #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="titleName != null">
        #{titleName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="personLiable != null">
        #{personLiable,jdbcType=VARCHAR},
      </if>
      <if test="accessoryManagement != null">
        #{accessoryManagement,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorAccount != null">
        #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="regDepartment != null">
        #{regDepartment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.hr.archives.entity.TbManpowerEmployeeFileCriteria" resultType="java.lang.Long">
    select count(*) from tb_manpower_employee_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_manpower_employee_file
    <set>
      <if test="record.fileId != null">
        file_id = #{record.fileId,jdbcType=VARCHAR},
      </if>
      <if test="record.classId != null">
        class_id = #{record.classId,jdbcType=VARCHAR},
      </if>
      <if test="record.nodeName != null">
        node_name = #{record.nodeName,jdbcType=VARCHAR},
      </if>
      <if test="record.symbol != null">
        symbol = #{record.symbol,jdbcType=VARCHAR},
      </if>
      <if test="record.titleName != null">
        title_name = #{record.titleName,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.personLiable != null">
        person_liable = #{record.personLiable,jdbcType=VARCHAR},
      </if>
      <if test="record.accessoryManagement != null">
        accessory_management = #{record.accessoryManagement,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        record_status = #{record.recordStatus,jdbcType=TINYINT},
      </if>
      <if test="record.creatorAccount != null">
        creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifierAccount != null">
        modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedTime != null">
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.regDepartment != null">
        reg_department = #{record.regDepartment,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_manpower_employee_file
    set file_id = #{record.fileId,jdbcType=VARCHAR},
      class_id = #{record.classId,jdbcType=VARCHAR},
      node_name = #{record.nodeName,jdbcType=VARCHAR},
      symbol = #{record.symbol,jdbcType=VARCHAR},
      title_name = #{record.titleName,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      person_liable = #{record.personLiable,jdbcType=VARCHAR},
      accessory_management = #{record.accessoryManagement,jdbcType=VARCHAR},
      record_status = #{record.recordStatus,jdbcType=TINYINT},
      creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      reg_department = #{record.regDepartment,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jn.hr.archives.entity.TbManpowerEmployeeFile">
    update tb_manpower_employee_file
    <set>
      <if test="classId != null">
        class_id = #{classId,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null">
        node_name = #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="symbol != null">
        symbol = #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="titleName != null">
        title_name = #{titleName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="personLiable != null">
        person_liable = #{personLiable,jdbcType=VARCHAR},
      </if>
      <if test="accessoryManagement != null">
        accessory_management = #{accessoryManagement,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorAccount != null">
        creator_account = #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="regDepartment != null">
        reg_department = #{regDepartment,jdbcType=VARCHAR},
      </if>
    </set>
    where file_id = #{fileId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jn.hr.archives.entity.TbManpowerEmployeeFile">
    update tb_manpower_employee_file
    set class_id = #{classId,jdbcType=VARCHAR},
      node_name = #{nodeName,jdbcType=VARCHAR},
      symbol = #{symbol,jdbcType=VARCHAR},
      title_name = #{titleName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      person_liable = #{personLiable,jdbcType=VARCHAR},
      accessory_management = #{accessoryManagement,jdbcType=VARCHAR},
      record_status = #{recordStatus,jdbcType=TINYINT},
      creator_account = #{creatorAccount,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      reg_department = #{regDepartment,jdbcType=VARCHAR}
    where file_id = #{fileId,jdbcType=VARCHAR}
  </update>
</mapper>