<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.oa.email.dao.TbOaEmailMapper">
  <resultMap id="BaseResultMap" type="com.jn.oa.email.entity.TbOaEmail">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="work_order_num" jdbcType="VARCHAR" property="workOrderNum" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="email_content" jdbcType="VARCHAR" property="emailContent" />
    <result column="send_status" jdbcType="VARCHAR" property="sendStatus" />
    <result column="is_delay" jdbcType="VARCHAR" property="isDelay" />
    <result column="delay_send_time" jdbcType="TIMESTAMP" property="delaySendTime" />
    <result column="attachment" jdbcType="VARCHAR" property="attachment" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="record_status" jdbcType="TINYINT" property="recordStatus" />
    <result column="creator_account" jdbcType="VARCHAR" property="creatorAccount" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, work_order_num, title, email_content, send_status, is_delay, delay_send_time, 
    attachment, send_time, record_status, creator_account, created_time, modifier_account, 
    modified_time
  </sql>
  <select id="selectByExample" parameterType="com.jn.oa.email.entity.TbOaEmailCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_oa_email
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_oa_email
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_oa_email
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jn.oa.email.entity.TbOaEmailCriteria">
    delete from tb_oa_email
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.oa.email.entity.TbOaEmail">
    insert into tb_oa_email (id, work_order_num, title, 
      email_content, send_status, is_delay, 
      delay_send_time, attachment, send_time, 
      record_status, creator_account, created_time, 
      modifier_account, modified_time)
    values (#{id,jdbcType=VARCHAR}, #{workOrderNum,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{emailContent,jdbcType=VARCHAR}, #{sendStatus,jdbcType=VARCHAR}, #{isDelay,jdbcType=VARCHAR}, 
      #{delaySendTime,jdbcType=TIMESTAMP}, #{attachment,jdbcType=VARCHAR}, #{sendTime,jdbcType=TIMESTAMP}, 
      #{recordStatus,jdbcType=TINYINT}, #{creatorAccount,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{modifierAccount,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jn.oa.email.entity.TbOaEmail">
    insert into tb_oa_email
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="workOrderNum != null">
        work_order_num,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="emailContent != null">
        email_content,
      </if>
      <if test="sendStatus != null">
        send_status,
      </if>
      <if test="isDelay != null">
        is_delay,
      </if>
      <if test="delaySendTime != null">
        delay_send_time,
      </if>
      <if test="attachment != null">
        attachment,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
      <if test="creatorAccount != null">
        creator_account,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifierAccount != null">
        modifier_account,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="workOrderNum != null">
        #{workOrderNum,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="emailContent != null">
        #{emailContent,jdbcType=VARCHAR},
      </if>
      <if test="sendStatus != null">
        #{sendStatus,jdbcType=VARCHAR},
      </if>
      <if test="isDelay != null">
        #{isDelay,jdbcType=VARCHAR},
      </if>
      <if test="delaySendTime != null">
        #{delaySendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attachment != null">
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorAccount != null">
        #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.oa.email.entity.TbOaEmailCriteria" resultType="java.lang.Long">
    select count(*) from tb_oa_email
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_oa_email
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.workOrderNum != null">
        work_order_num = #{record.workOrderNum,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.emailContent != null">
        email_content = #{record.emailContent,jdbcType=VARCHAR},
      </if>
      <if test="record.sendStatus != null">
        send_status = #{record.sendStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelay != null">
        is_delay = #{record.isDelay,jdbcType=VARCHAR},
      </if>
      <if test="record.delaySendTime != null">
        delay_send_time = #{record.delaySendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.attachment != null">
        attachment = #{record.attachment,jdbcType=VARCHAR},
      </if>
      <if test="record.sendTime != null">
        send_time = #{record.sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.recordStatus != null">
        record_status = #{record.recordStatus,jdbcType=TINYINT},
      </if>
      <if test="record.creatorAccount != null">
        creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifierAccount != null">
        modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedTime != null">
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_oa_email
    set id = #{record.id,jdbcType=VARCHAR},
      work_order_num = #{record.workOrderNum,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      email_content = #{record.emailContent,jdbcType=VARCHAR},
      send_status = #{record.sendStatus,jdbcType=VARCHAR},
      is_delay = #{record.isDelay,jdbcType=VARCHAR},
      delay_send_time = #{record.delaySendTime,jdbcType=TIMESTAMP},
      attachment = #{record.attachment,jdbcType=VARCHAR},
      send_time = #{record.sendTime,jdbcType=TIMESTAMP},
      record_status = #{record.recordStatus,jdbcType=TINYINT},
      creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jn.oa.email.entity.TbOaEmail">
    update tb_oa_email
    <set>
      <if test="workOrderNum != null">
        work_order_num = #{workOrderNum,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="emailContent != null">
        email_content = #{emailContent,jdbcType=VARCHAR},
      </if>
      <if test="sendStatus != null">
        send_status = #{sendStatus,jdbcType=VARCHAR},
      </if>
      <if test="isDelay != null">
        is_delay = #{isDelay,jdbcType=VARCHAR},
      </if>
      <if test="delaySendTime != null">
        delay_send_time = #{delaySendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attachment != null">
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorAccount != null">
        creator_account = #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jn.oa.email.entity.TbOaEmail">
    update tb_oa_email
    set work_order_num = #{workOrderNum,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      email_content = #{emailContent,jdbcType=VARCHAR},
      send_status = #{sendStatus,jdbcType=VARCHAR},
      is_delay = #{isDelay,jdbcType=VARCHAR},
      delay_send_time = #{delaySendTime,jdbcType=TIMESTAMP},
      attachment = #{attachment,jdbcType=VARCHAR},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      record_status = #{recordStatus,jdbcType=TINYINT},
      creator_account = #{creatorAccount,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>