<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.enterprise.servicemarket.org.dao.OrgMapper">
    <!--查询服务机构列表-->
    <select id="selectServiceOrgList" parameterType="com.jn.enterprise.servicemarket.org.model.OrgListParam"
            resultType="com.jn.enterprise.model.ServiceOrg">
        select
        tt.orgId
        ,tt.orgAccount
        ,tt.orgName
        ,tt.orgLogo
        ,tt.orgRegisterTime
        ,tt.isApprove
        ,tt.orgType
        ,orgPhone
        ,tt.orgSpeciality
        ,tt.orgAddress
        ,tt.pageviews
        ,tt.transactionNum
        ,tt.attitudeScore
        ,tt.evaluationNum
        ,tt.attitudeScore*#{praiseWeight}+tt.transactionNum*#{serviceWeight}+tt.pageviews*#{popularityWeight}+#{otherFactorScore} as "compreSort"
        from
        (select
            a.org_id_ as "orgId"
            ,a.org_account as "orgAccount"
            ,a.org_name as "orgName"
            ,a.org_speciality as "orgSpeciality"
            ,a.org_logo as "orgLogo"
            ,date_format(a.org_register_time,'%Y-%m-%d') as "orgRegisterTime"
            ,a.is_approve as "isApprove"
            ,a.org_type as "orgType"
            , i.org_phone as "orgPhone"
            ,CONCAT(i.org_province,i.org_city,i.org_area,i.org_address) as "orgAddress"
            ,ifnull(a.org_show,0) as "pageviews" <!-- 浏览量 -->
            ,(select count(1)
               from tb_service_require t
               where t.org_id_ = a.org_id_
               and t.record_status = '1'
               and t.handle_result = '1' ) as "transactionNum" <!-- 累计交易笔数 -->
            ,(SELECT IFNULL(AVG(t.`attitude_score`), 0)
                FROM tb_service_rating t
                WHERE t.org_id_ = a.org_id_)  AS "attitudeScore" <!-- 评价得分 -->
            ,(SELECT COUNT(1)
                FROM tb_service_rating t
                WHERE t.org_id_ = a.org_id_)  AS "evaluationNum"  <!-- 评价次数 -->
                from tb_service_org a
                left join tb_service_org_info i
                on a.org_id_ = i.org_id_
                LEFT JOIN tb_service_org_trait tr
                ON a.org_id_ = tr.org_id_
                where 1=1
                and a.record_status != '0'
                and  a.org_status = '1'

        <if test="businessType != null and businessType.length>0">
            AND a.business_type IN
            <foreach item="item" index="index" collection="businessType" open="("  close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="allowTechnology!=null and allowTechnology=='technology_finance' ">
            and a.business_type !=#{allowTechnology}
        </if>
        <if test="businessSType != null and businessSType != ''">
            and a.business_s_type = #{businessSType}
        </if>
        <if test="templateId != null and templateId != ''">
            and a.org_id_ in (
            select distinct
            ssp.org_id_
            from tb_service_product ssp
            where ssp.record_status='1' and ssp.template_id = #{templateId}
            )
        </if>
        <if test="orgName != null and orgName != ''">
            and a.org_name like CONCAT('%', #{orgName}, '%')
        </if>
        <if test="orgBusiness != null and orgBusiness != ''">
            and a.org_business = #{orgBusiness}
        </if>
        <if test="companyList != null and companyList.size()>0">
            AND tr.trait_value IN
            <foreach item="item" index="index" collection="companyList" open="("  close=")" separator=",">
                #{item}
          </foreach>
        </if>
        GROUP BY a.org_id_
        )tt
        <if test="sortTypes =='popularity'">
            ORDER BY <!-- 人气排序-->
            tt.pageviews DESC,tt.transactionNum DESC,tt.attitudeScore DESC
        </if>
        <if test="sortTypes =='integrate' or sortTypes ==null or sortTypes == ''">
            ORDER BY
            tt.attitudeScore*#{praiseWeight}+tt.transactionNum*#{serviceWeight}+tt.pageviews*#{popularityWeight}+#{otherFactorScore} DESC <!--综合排序结果值-->
        </if>
        <if test="sortTypes =='serviceNum'">
            ORDER BY <!-- 服务量排序-->
            tt.transactionNum DESC ,tt.pageviews DESC,tt.attitudeScore DESC
        </if>
        <if test="sortTypes =='attitudeScore'">
            ORDER BY <!-- 好评排序-->
            tt.attitudeScore DESC,tt.pageviews DESC,tt.transactionNum DESC
        </if>
    </select>

    <!--查看服务商详情-->
    <select id="getServiceOrgDetail" resultType="com.jn.enterprise.servicemarket.org.vo.OrgDetailVo">
        SELECT DISTINCT
        tso.org_id_ AS "orgId"
        ,tso.org_name AS "orgName"
        ,tso.org_code AS "orgCode"
        ,tso.org_business AS "orgBusiness"
        ,tso.org_synopsis AS "orgSynopsis"
        ,tso.org_account AS "orgAccount"
        ,tso.org_logo AS "orgLogo"
        ,DATE_FORMAT(tso.org_register_time,'%Y-%m-%d')  AS "orgRegisterTime"
        ,tso.business_type AS "businessType"
        ,tsp.pre_value  AS "businessTypeName"
        ,tso.org_speciality AS "orgSpeciality"
        ,tso.org_show AS "orgShow"
        ,tso.org_status AS "orgStatus"
        ,tso.operate_status AS "operateStatus"
        ,tso.`org_principal` AS "orgPrincipal"
        ,tso.`org_busin_type` AS "orgBusinType"
        ,tso.`org_busin_address` AS "orgBusinAddresse"
        ,tso.`org_busin_scope` AS "orgBusinScope"
        ,tsoi.org_phone AS "orgPhone"
        ,tsoi.org_province AS "orgProvince"
        ,tsoi.org_city AS "orgCity"
        ,tsoi.org_area AS "orgArea"
        ,tsoi.org_address AS "orgAddress"
        ,CONCAT(
        tsoi.org_province,
        tsoi.org_city,
        tsoi.org_area,
        tsoi.org_address
        ) AS "orgAddressDetail"
        ,tsoi.org_web AS "orgWeb"
        ,tsoi.con_name AS "conName"
        ,tsoi.con_phone AS "conPhone"
        ,tsoi.con_email AS "conEmail"
        ,tsoe.staff_count AS "staffCount"
        ,tsoe.profession_num AS "professionNum"
        ,tsoe.bachelor_num AS "bachelorNum"
        ,tsoe.master_num AS "masterNum"
        ,tsoe.`doctor_num` AS "doctorNum"
        ,tsoe.returnee_num AS "returneeNum"
        ,(SELECT COUNT(tsr.org_id_) FROM tb_service_require tsr WHERE tsr.org_id_ =#{orgId} AND tsr.record_status = 1 AND tsr.handle_result = '1' ) AS "transactionCount" <!--交易次数-->
        ,IFNULL(AVG(sra.`attitude_score`),0) AS "orgServiceScore" <!--评价分数-->
        ,SUM(CASE WHEN sra.`attitude_score` IS NOT NULL THEN 1  ELSE 0 END ) AS "evaluationNum" <!--评价次数-->
        FROM tb_service_org tso
        LEFT JOIN tb_service_prefer tsp
        ON tso.business_type=tsp.id
        AND tsp.pre_type='0' AND tsp.record_status=1
        LEFT JOIN tb_service_org_info tsoi
        ON tsoi.`org_id_`=tso.`org_id_` AND tsoi.`record_status`=1
        LEFT JOIN tb_service_org_element tsoe
        ON tsoe.`org_id_`=tso.`org_id_` AND tsoe.`record_status`=1
        LEFT JOIN tb_service_rating sra
        ON sra.`org_id_`=tso.`org_id_` AND sra.`record_status`=1
        WHERE 1=1
        AND tso.`record_status`=1
        AND tso.`org_id_`=#{orgId}
        GROUP BY
        tso.org_id_
        ,tso.org_name
        ,tso.org_code
        ,tso.org_business
        ,tso.org_synopsis
        ,tso.org_account
        ,tso.org_logo
        ,tso.org_register_time
        ,tso.business_type
        ,tsp.pre_value
        ,tso.org_speciality
        ,tso.org_show
        ,tso.org_status
        ,tso.operate_status
        ,tso.`org_principal`
        ,tso.`org_busin_type`
        ,tso.`org_busin_address`
        ,tso.`org_busin_scope`
        ,tsoi.org_phone
        ,tsoi.org_province
        ,tsoi.org_city
        ,tsoi.org_area
        ,tsoi.org_address
        ,tsoi.org_web
        ,tsoi.con_name
        ,tsoi.con_phone
        ,tsoi.con_email
        ,tsoe.staff_count
        ,tsoe.profession_num
        ,tsoe.bachelor_num
        ,tsoe.master_num
        ,tsoe.`doctor_num`
        ,tsoe.returnee_num
    </select>
    <!--机构的顾问数,产品数统计-->
    <select id="getMyOrgInfo" resultType="com.jn.enterprise.servicemarket.org.model.OrgCount">
        select count(t1.org_id_) as "productNum",
        (select count(t2.org_id_) from tb_service_advisor t2 where t2.org_id_=#{orgId} and t2.approval_status = '2') as "advisorNum"
            from tb_service_product t1
               where t1.org_id_ = #{orgId}
    </select>

    <!--根据产品查询服务机构统计数据-->
    <select id="getProductOrgNum" resultType="java.lang.String">
        SELECT
          SUM(t.num) AS "orgNum"
        FROM
          (SELECT
            COUNT(org_id_) AS 'num'
          FROM
            tb_service_product t
          WHERE t.status = '1'
            AND t.record_status = '1'
            AND t.template_id = #{productId}
          GROUP BY t.org_id_) t
    </select>

    <!--根据业务领域/产品查询评价统计数据-->
    <select id="getProductRatingNum" resultType="java.lang.String" parameterType="com.jn.enterprise.servicemarket.org.vo.BusinessStatisticalParam">
        SELECT COUNT(1) FROM tb_service_rating r WHERE r.product_id_ IN (
		    SELECT t.product_id_ FROM tb_service_product t WHERE  t.status = '1' AND t.record_status = '1'
            <if test="productId != null and productId != ''">
                and t. template_id= #{productId}
            </if>

            <if test="businessType != null and businessType != ''">
                and t.signory_id = #{businessType}
            </if>
		    GROUP BY t.product_id_
	    ) AND r.record_status = '1'
    </select>

    <!--根据产品查询顾问统计数据-->
    <select id="getProductAdvisorNum" resultType="java.lang.String">
        select
        count(sa.advisor_account)
        from tb_service_product sp
        join tb_service_and_advisor saa
            on sp.product_id=saa.product_id
        join tb_service_advisor sa
            on sa.advisor_account=saa.advisor_account
            and sa.approval_status='2'
            and sa.record_status='1'
        where sp.template_id  =#{productId}
    </select>



    <!--根据产品查询需求(交易量)统计数据-->
    <select id="getProductNum" resultType="java.lang.String">
        select
        count(sr.req_num)
        from tb_service_product sp
        left join tb_service_require sr
            on sp.product_id=sr.product_id
            and sr.status='2'
            and sr.record_status='1'
        where sp.template_id  =#{productId}
    </select>

</mapper>