<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.enterprise.servicemarket.org.dao.OrgTeamMapper">
    <!--批量插入服务机构特性值-->
    <insert id="insertTeamList" parameterType="java.util.List">
        insert into tb_service_org_team (id,org_id_,con_name,con_position,con_quali,con_time,con_speciality,
        created_time,creator_account,modified_time,modifier_account,record_status)
        select A.* from(
        <foreach collection="list" item="item" index="index" open="" close="" separator="union all">
            ( select #{item.id,jdbcType=VARCHAR} as "id"
            ,#{item.orgId,jdbcType=VARCHAR} as "orgId"
            ,#{item.conName,jdbcType=VARCHAR} as "conName"
            ,#{item.conPosition,jdbcType=VARCHAR} as "conPosition"
            ,#{item.conQuali,jdbcType=VARCHAR} as "conQuali"
            ,#{item.conTime,jdbcType=VARCHAR} as "conTime"
            ,#{item.conSpeciality,jdbcType=VARCHAR} as "conSpeciality"
            ,#{item.createdTime,jdbcType=TIMESTAMP} as "createdTime"
            ,#{item.creatorAccount,jdbcType=VARCHAR} as "creatorAccount"
            ,#{item.modifiedTime,jdbcType=TIMESTAMP} as "modifiedTime"
            ,#{item.modifierAccount,jdbcType=VARCHAR} as "modifierAccount"
            ,#{item.recordStatus,jdbcType=TINYINT} as "recordStatus"
            from dual )
        </foreach>
        )A
    </insert>

</mapper>