<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.park.electricmeter.dao.TbElectricEnergyControlTargetMapper">
  <resultMap id="BaseResultMap" type="com.jn.park.electricmeter.entity.TbElectricEnergyControlTarget">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="target_code" jdbcType="VARCHAR" property="targetCode" />
    <result column="target_name" jdbcType="DECIMAL" property="targetName" />
    <result column="target_desc" jdbcType="VARCHAR" property="targetDesc" />
    <result column="cycle" jdbcType="TINYINT" property="cycle" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="record_status" jdbcType="TINYINT" property="recordStatus" />
    <result column="creator_account" jdbcType="VARCHAR" property="creatorAccount" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, target_code, target_name, target_desc, cycle, unit, record_status, creator_account, 
    created_time, modifier_account, modified_time
  </sql>
  <select id="selectByExample" parameterType="com.jn.park.electricmeter.entity.TbElectricEnergyControlTargetCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_electric_energy_control_target
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_electric_energy_control_target
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_electric_energy_control_target
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jn.park.electricmeter.entity.TbElectricEnergyControlTargetCriteria">
    delete from tb_electric_energy_control_target
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.park.electricmeter.entity.TbElectricEnergyControlTarget">
    insert into tb_electric_energy_control_target (id, target_code, target_name, 
      target_desc, cycle, unit, 
      record_status, creator_account, created_time, 
      modifier_account, modified_time)
    values (#{id,jdbcType=VARCHAR}, #{targetCode,jdbcType=VARCHAR}, #{targetName,jdbcType=DECIMAL}, 
      #{targetDesc,jdbcType=VARCHAR}, #{cycle,jdbcType=TINYINT}, #{unit,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=TINYINT}, #{creatorAccount,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{modifierAccount,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jn.park.electricmeter.entity.TbElectricEnergyControlTarget">
    insert into tb_electric_energy_control_target
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="targetCode != null">
        target_code,
      </if>
      <if test="targetName != null">
        target_name,
      </if>
      <if test="targetDesc != null">
        target_desc,
      </if>
      <if test="cycle != null">
        cycle,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
      <if test="creatorAccount != null">
        creator_account,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifierAccount != null">
        modifier_account,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="targetCode != null">
        #{targetCode,jdbcType=VARCHAR},
      </if>
      <if test="targetName != null">
        #{targetName,jdbcType=DECIMAL},
      </if>
      <if test="targetDesc != null">
        #{targetDesc,jdbcType=VARCHAR},
      </if>
      <if test="cycle != null">
        #{cycle,jdbcType=TINYINT},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorAccount != null">
        #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.park.electricmeter.entity.TbElectricEnergyControlTargetCriteria" resultType="java.lang.Long">
    select count(*) from tb_electric_energy_control_target
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_electric_energy_control_target
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.targetCode != null">
        target_code = #{record.targetCode,jdbcType=VARCHAR},
      </if>
      <if test="record.targetName != null">
        target_name = #{record.targetName,jdbcType=DECIMAL},
      </if>
      <if test="record.targetDesc != null">
        target_desc = #{record.targetDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.cycle != null">
        cycle = #{record.cycle,jdbcType=TINYINT},
      </if>
      <if test="record.unit != null">
        unit = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        record_status = #{record.recordStatus,jdbcType=TINYINT},
      </if>
      <if test="record.creatorAccount != null">
        creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifierAccount != null">
        modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedTime != null">
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_electric_energy_control_target
    set id = #{record.id,jdbcType=VARCHAR},
      target_code = #{record.targetCode,jdbcType=VARCHAR},
      target_name = #{record.targetName,jdbcType=DECIMAL},
      target_desc = #{record.targetDesc,jdbcType=VARCHAR},
      cycle = #{record.cycle,jdbcType=TINYINT},
      unit = #{record.unit,jdbcType=VARCHAR},
      record_status = #{record.recordStatus,jdbcType=TINYINT},
      creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jn.park.electricmeter.entity.TbElectricEnergyControlTarget">
    update tb_electric_energy_control_target
    <set>
      <if test="targetCode != null">
        target_code = #{targetCode,jdbcType=VARCHAR},
      </if>
      <if test="targetName != null">
        target_name = #{targetName,jdbcType=DECIMAL},
      </if>
      <if test="targetDesc != null">
        target_desc = #{targetDesc,jdbcType=VARCHAR},
      </if>
      <if test="cycle != null">
        cycle = #{cycle,jdbcType=TINYINT},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorAccount != null">
        creator_account = #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jn.park.electricmeter.entity.TbElectricEnergyControlTarget">
    update tb_electric_energy_control_target
    set target_code = #{targetCode,jdbcType=VARCHAR},
      target_name = #{targetName,jdbcType=DECIMAL},
      target_desc = #{targetDesc,jdbcType=VARCHAR},
      cycle = #{cycle,jdbcType=TINYINT},
      unit = #{unit,jdbcType=VARCHAR},
      record_status = #{recordStatus,jdbcType=TINYINT},
      creator_account = #{creatorAccount,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>