<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.hr.employee.dao.DepartmentMapper">
     <select id="selectByDepartmentName" parameterType="com.jn.hr.employee.entity.TbManpowerDepartment" resultType="com.jn.hr.employee.entity.TbManpowerDepartment">
    select * from tb_manpower_department
  </select>

</mapper>