<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.oa.leave.dao.LeaveMapper">
    <resultMap id="BaseResultMap" type="com.jn.oa.vo.LeaveApiVo">
        <result column="userId" jdbcType="VARCHAR" property="userId" />
        <result column="account" jdbcType="VARCHAR" property="account" />
        <result column="userName" jdbcType="VARCHAR" property="userName" />
        <result column="departmentName" jdbcType="VARCHAR" property="departmentName" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="total_hour" jdbcType="VARCHAR" property="totalHour" />
        <result column="departmentId" jdbcType="VARCHAR" property="departmentId" />
    </resultMap>

   <select id="selectLeaveByCondition" parameterType="com.jn.oa.model.Leave" resultMap="BaseResultMap">
           SELECT
               start_time,
               end_time,
               type,
               total_hour,
               u.NAME AS userName,
               u.department_name AS departmentName,
               u.account,
               u.id as userId,
               u.departmentId
           FROM
           (
           SELECT
              CASE WHEN ( locate( 'user', applicant ) > 0 ) THEN SUBSTRING( applicant, 5 ) ELSE applicant END applicant,
              start_time,
              end_time,
              type,
              total_hour,
              approval_status
           FROM
              tb_oa_leave
           ) t
           LEFT JOIN (
               SELECT
                   t.id,
                   t.NAME,
                   t.account,
                   tt.department_name,
                   tt.departmentId
               FROM
                   tb_sys_user t
               LEFT JOIN (
               SELECT
                   t1.user_id,
                   t2.department_name,
                   t2.id AS departmentId
               FROM
                    tb_sys_user_department_post t1
               INNER JOIN tb_sys_department t2 ON t1.department_id = t2.id
               WHERE
                   t1.is_default = 1
                   AND t1.record_status = 1
                   AND t2.record_status = 1
           ) tt ON t.id = tt.user_id
           WHERE
              t.record_status = 1
           ) u ON t.applicant = u.id
           WHERE
           t.approval_status = 2

       <if test="@org.apache.commons.lang.StringUtils@isNotBlank(userId)">
        and u.id= #{userId,jdbcType=VARCHAR}
       </if>

       <if test="@org.apache.commons.lang.StringUtils@isNotBlank(departmentId)">
           and u.departmentId= #{departmentId,jdbcType=VARCHAR}
       </if>
       <if test="startTime != null">
       AND  Date(t.start_time) &gt;= DATE_FORMAT(#{startTime},'%Y-%m-%d')
       </if>
       <if test="endTime != null">
        and   Date( t.start_time ) &lt;= DATE_FORMAT(#{endTime},'%Y-%m-%d')
       </if>

   </select>










</mapper>