<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.hr.train.dao.QuestionMapper">

	<select id="list" parameterType="java.lang.String"
		resultType="com.jn.hr.train.entity.TbManpowerTrainQuestionnaireQuese">
		select * from tb_manpower_train_questionnaire_quese t1
		where 1=1
		<if test="@org.apache.commons.lang.StringUtils@isNotBlank(projectId)">
			and t1. project_id = #{projectId,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="listQuest" parameterType="java.lang.String"
		resultType="com.jn.hr.train.entity.TbManpowerTrainQuestQuestionnaireQuese">
		select * from tb_manpower_train_quest_questionnaire_quese t1
		where 1=1
		<if test="@org.apache.commons.lang.StringUtils@isNotBlank(projectId)">
			and t1. project_id = #{projectId,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="selectQuestQuestion"
		parameterType="com.jn.hr.train.entity.TbManpowerTrainQuestQuestionnaireQuese"
		resultType="com.jn.hr.train.entity.TbManpowerTrainQuestQuestionnaireQuese">
		select * from 
		tb_manpower_train_quest_questionnaire_quese	t1
		where t1.project_id = #{projectId,jdbcType=VARCHAR}
		and t1.title_id	= #{titleId,jdbcType=VARCHAR}
	</select>

</mapper>