<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.park.attractinvest.dao.BusinessAdContentMapper">
    <update id="updateBusinessAdStatus">
        UPDATE tb_business_ad_content
        SET record_status = '0'
        WHERE
        record_status = '1'
        AND end_time <![CDATA[ < ]]> CURRENT_DATE ()
    </update>

    <sql id="base_column1">
      id,
        title,
        ad_cover as adCover,
        ad_flag as adFlag,
        start_time as startTime,
        end_time as endTime,
        sub_title as subTitle,
        park
    </sql>
    <sql id="base_column2">
        id,
        title,
        ad_cover,
        ad_flag,
        start_time,
        end_time,
        sub_title,
        park
    </sql>
    <select id="getBusinessAdContent" resultType="com.jn.park.attractinvest.model.BusinessAdContent"
            parameterType="com.jn.park.attractinvest.model.BusinessAdPage">
        <if test="@org.apache.commons.lang.StringUtils@isBlank(keyWords)">
            SELECT
              <include refid="base_column1"/>
            FROM
              `tb_business_ad_content`
            WHERE
                record_status = '1'
                <if test="@org.apache.commons.lang.StringUtils@isNotBlank(parkId)">
                    and park = #{parkId,jdbcType=VARCHAR}
                </if>
            ORDER BY
              `id` DESC
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(keyWords)">
            SELECT DISTINCT
              <include refid="base_column1"/>
            FROM
                (
                    SELECT
                      <include refid="base_column2"/>
                    FROM
                      `tb_business_ad_content`
                    WHERE
                      record_status = '1'
                      and title like CONCAT('%', REPLACE(#{keyWords,jdbcType=VARCHAR}," ",""), '%')
                      <if test="@org.apache.commons.lang.StringUtils@isNotBlank(parkId)">
                        and park = #{parkId,jdbcType=VARCHAR}
                      </if>
                    UNION
                        SELECT
                          <include refid="base_column2"/>
                        FROM
                          `tb_business_ad_content`
                        WHERE
                            record_status = '1'
                            and sub_title like CONCAT('%', REPLACE(#{keyWords,jdbcType=VARCHAR}," ",""), '%')
                            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(parkId)">
                                and park = #{parkId,jdbcType=VARCHAR}
                            </if>
                ) t
              ORDER BY
                t.id DESC
        </if>
    </select>
</mapper>