<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.park.attractinvest.dao.BusinessAdDynamicMapper">
    <update id="updateBusinessAdStatus">
        UPDATE tb_business_ad_dynamic
        SET record_status = '0'
        WHERE
        record_status = '1'
        AND end_time <![CDATA[ < ]]> CURRENT_DATE ()
    </update>

    <select id="getBusinessAdDynamic" resultType="com.jn.park.attractinvest.model.BusinessAdDynamic">
        SELECT
            id,
            title,
            start_time as startTime,
            end_time as endTime
        FROM
            `tb_business_ad_dynamic`
        WHERE
            record_status = '1'
        ORDER BY
            `id` DESC
    </select>
</mapper>