<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.park.asset.dao.TbAssetMaintainManageMapper">
  <resultMap id="BaseResultMap" type="com.jn.park.asset.entity.TbAssetMaintainManage">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="asset_number" jdbcType="VARCHAR" property="assetNumber" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="asset_type" jdbcType="VARCHAR" property="assetType" />
    <result column="tower_id" jdbcType="VARCHAR" property="towerId" />
    <result column="tower_name" jdbcType="VARCHAR" property="towerName" />
    <result column="tower_address" jdbcType="VARCHAR" property="towerAddress" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="production_time" jdbcType="DATE" property="productionTime" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="asset_url" jdbcType="VARCHAR" property="assetUrl" />
    <result column="maintenance_time" jdbcType="DATE" property="maintenanceTime" />
    <result column="maintenance_period" jdbcType="VARCHAR" property="maintenancePeriod" />
    <result column="is_maintaion" jdbcType="TINYINT" property="isMaintaion" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="record_status" jdbcType="TINYINT" property="recordStatus" />
    <result column="creator_account" jdbcType="VARCHAR" property="creatorAccount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, asset_number, name, type_id, asset_type, tower_id, tower_name, tower_address, 
    specification, production_time, position, asset_url, maintenance_time, maintenance_period, 
    is_maintaion, company_id, company_name, contact_phone, status, record_status, creator_account, 
    create_time, modifier_account, modified_time
  </sql>
  <select id="selectByExample" parameterType="com.jn.park.asset.entity.TbAssetMaintainManageCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_asset_maintain_manage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_asset_maintain_manage
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_asset_maintain_manage
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jn.park.asset.entity.TbAssetMaintainManageCriteria">
    delete from tb_asset_maintain_manage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.park.asset.entity.TbAssetMaintainManage">
    insert into tb_asset_maintain_manage (id, asset_number, name, 
      type_id, asset_type, tower_id, 
      tower_name, tower_address, specification, 
      production_time, position, asset_url, 
      maintenance_time, maintenance_period, is_maintaion, 
      company_id, company_name, contact_phone, 
      status, record_status, creator_account, 
      create_time, modifier_account, modified_time
      )
    values (#{id,jdbcType=VARCHAR}, #{assetNumber,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{typeId,jdbcType=VARCHAR}, #{assetType,jdbcType=VARCHAR}, #{towerId,jdbcType=VARCHAR}, 
      #{towerName,jdbcType=VARCHAR}, #{towerAddress,jdbcType=VARCHAR}, #{specification,jdbcType=VARCHAR}, 
      #{productionTime,jdbcType=DATE}, #{position,jdbcType=VARCHAR}, #{assetUrl,jdbcType=VARCHAR}, 
      #{maintenanceTime,jdbcType=DATE}, #{maintenancePeriod,jdbcType=VARCHAR}, #{isMaintaion,jdbcType=TINYINT}, 
      #{companyId,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{recordStatus,jdbcType=TINYINT}, #{creatorAccount,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifierAccount,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jn.park.asset.entity.TbAssetMaintainManage">
    insert into tb_asset_maintain_manage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="assetNumber != null">
        asset_number,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="assetType != null">
        asset_type,
      </if>
      <if test="towerId != null">
        tower_id,
      </if>
      <if test="towerName != null">
        tower_name,
      </if>
      <if test="towerAddress != null">
        tower_address,
      </if>
      <if test="specification != null">
        specification,
      </if>
      <if test="productionTime != null">
        production_time,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="assetUrl != null">
        asset_url,
      </if>
      <if test="maintenanceTime != null">
        maintenance_time,
      </if>
      <if test="maintenancePeriod != null">
        maintenance_period,
      </if>
      <if test="isMaintaion != null">
        is_maintaion,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="contactPhone != null">
        contact_phone,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
      <if test="creatorAccount != null">
        creator_account,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifierAccount != null">
        modifier_account,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="assetNumber != null">
        #{assetNumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="assetType != null">
        #{assetType,jdbcType=VARCHAR},
      </if>
      <if test="towerId != null">
        #{towerId,jdbcType=VARCHAR},
      </if>
      <if test="towerName != null">
        #{towerName,jdbcType=VARCHAR},
      </if>
      <if test="towerAddress != null">
        #{towerAddress,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="productionTime != null">
        #{productionTime,jdbcType=DATE},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="assetUrl != null">
        #{assetUrl,jdbcType=VARCHAR},
      </if>
      <if test="maintenanceTime != null">
        #{maintenanceTime,jdbcType=DATE},
      </if>
      <if test="maintenancePeriod != null">
        #{maintenancePeriod,jdbcType=VARCHAR},
      </if>
      <if test="isMaintaion != null">
        #{isMaintaion,jdbcType=TINYINT},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorAccount != null">
        #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.park.asset.entity.TbAssetMaintainManageCriteria" resultType="java.lang.Long">
    select count(*) from tb_asset_maintain_manage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_asset_maintain_manage
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.assetNumber != null">
        asset_number = #{record.assetNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.typeId != null">
        type_id = #{record.typeId,jdbcType=VARCHAR},
      </if>
      <if test="record.assetType != null">
        asset_type = #{record.assetType,jdbcType=VARCHAR},
      </if>
      <if test="record.towerId != null">
        tower_id = #{record.towerId,jdbcType=VARCHAR},
      </if>
      <if test="record.towerName != null">
        tower_name = #{record.towerName,jdbcType=VARCHAR},
      </if>
      <if test="record.towerAddress != null">
        tower_address = #{record.towerAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.specification != null">
        specification = #{record.specification,jdbcType=VARCHAR},
      </if>
      <if test="record.productionTime != null">
        production_time = #{record.productionTime,jdbcType=DATE},
      </if>
      <if test="record.position != null">
        position = #{record.position,jdbcType=VARCHAR},
      </if>
      <if test="record.assetUrl != null">
        asset_url = #{record.assetUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.maintenanceTime != null">
        maintenance_time = #{record.maintenanceTime,jdbcType=DATE},
      </if>
      <if test="record.maintenancePeriod != null">
        maintenance_period = #{record.maintenancePeriod,jdbcType=VARCHAR},
      </if>
      <if test="record.isMaintaion != null">
        is_maintaion = #{record.isMaintaion,jdbcType=TINYINT},
      </if>
      <if test="record.companyId != null">
        company_id = #{record.companyId,jdbcType=VARCHAR},
      </if>
      <if test="record.companyName != null">
        company_name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.contactPhone != null">
        contact_phone = #{record.contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.recordStatus != null">
        record_status = #{record.recordStatus,jdbcType=TINYINT},
      </if>
      <if test="record.creatorAccount != null">
        creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifierAccount != null">
        modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedTime != null">
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_asset_maintain_manage
    set id = #{record.id,jdbcType=VARCHAR},
      asset_number = #{record.assetNumber,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      type_id = #{record.typeId,jdbcType=VARCHAR},
      asset_type = #{record.assetType,jdbcType=VARCHAR},
      tower_id = #{record.towerId,jdbcType=VARCHAR},
      tower_name = #{record.towerName,jdbcType=VARCHAR},
      tower_address = #{record.towerAddress,jdbcType=VARCHAR},
      specification = #{record.specification,jdbcType=VARCHAR},
      production_time = #{record.productionTime,jdbcType=DATE},
      position = #{record.position,jdbcType=VARCHAR},
      asset_url = #{record.assetUrl,jdbcType=VARCHAR},
      maintenance_time = #{record.maintenanceTime,jdbcType=DATE},
      maintenance_period = #{record.maintenancePeriod,jdbcType=VARCHAR},
      is_maintaion = #{record.isMaintaion,jdbcType=TINYINT},
      company_id = #{record.companyId,jdbcType=VARCHAR},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      contact_phone = #{record.contactPhone,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      record_status = #{record.recordStatus,jdbcType=TINYINT},
      creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jn.park.asset.entity.TbAssetMaintainManage">
    update tb_asset_maintain_manage
    <set>
      <if test="assetNumber != null">
        asset_number = #{assetNumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="assetType != null">
        asset_type = #{assetType,jdbcType=VARCHAR},
      </if>
      <if test="towerId != null">
        tower_id = #{towerId,jdbcType=VARCHAR},
      </if>
      <if test="towerName != null">
        tower_name = #{towerName,jdbcType=VARCHAR},
      </if>
      <if test="towerAddress != null">
        tower_address = #{towerAddress,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="productionTime != null">
        production_time = #{productionTime,jdbcType=DATE},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="assetUrl != null">
        asset_url = #{assetUrl,jdbcType=VARCHAR},
      </if>
      <if test="maintenanceTime != null">
        maintenance_time = #{maintenanceTime,jdbcType=DATE},
      </if>
      <if test="maintenancePeriod != null">
        maintenance_period = #{maintenancePeriod,jdbcType=VARCHAR},
      </if>
      <if test="isMaintaion != null">
        is_maintaion = #{isMaintaion,jdbcType=TINYINT},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorAccount != null">
        creator_account = #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jn.park.asset.entity.TbAssetMaintainManage">
    update tb_asset_maintain_manage
    set asset_number = #{assetNumber,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=VARCHAR},
      asset_type = #{assetType,jdbcType=VARCHAR},
      tower_id = #{towerId,jdbcType=VARCHAR},
      tower_name = #{towerName,jdbcType=VARCHAR},
      tower_address = #{towerAddress,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      production_time = #{productionTime,jdbcType=DATE},
      position = #{position,jdbcType=VARCHAR},
      asset_url = #{assetUrl,jdbcType=VARCHAR},
      maintenance_time = #{maintenanceTime,jdbcType=DATE},
      maintenance_period = #{maintenancePeriod,jdbcType=VARCHAR},
      is_maintaion = #{isMaintaion,jdbcType=TINYINT},
      company_id = #{companyId,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      record_status = #{recordStatus,jdbcType=TINYINT},
      creator_account = #{creatorAccount,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>