<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.enterprise.company.dao.ServiceRecruitMapper">

    <sql id="recruitFiled">
        a.id_ AS "id",
        a.recruit_no AS "recruitNo",
        a.post AS "post",
        a.num AS "num",
        a.details AS "details",
        a.status AS "status",
        a.view_count AS "viewCount",
        a.created_time AS "createdTime",
        a.com_name AS "comName",
        cd.code_name AS "typeName",
        tsc.code_name AS "salaryName",
        CASE
            WHEN a.status = '1' THEN '有效'
            WHEN a.status = '0' THEN '无效'
        ELSE '错误' END AS 'statusName'
    </sql>

    <sql id="recruitJoin">
        LEFT JOIN tb_service_code cd ON cd.group_id = 'recruitType' AND cd.code_value = a.type
        LEFT JOIN tb_service_code tsc ON tsc.group_id = 'recruitSalary' AND tsc.code_value = a.salary
    </sql>

    <!-- 根据ID获取招聘详情 -->
    <select id="getRecruitDetailsById" resultType="com.jn.enterprise.company.vo.RecruitDetailsVO">
        SELECT
            <include refid="recruitFiled" />
        FROM tb_service_recruit a
            <include refid="recruitJoin" />
        WHERE a.record_status = 1
        AND a.id_ = #{id}
    </select>

    <!-- 查询企业招聘信息列表 -->
    <select id="getRecruitList" resultType="com.jn.enterprise.company.vo.RecruitVO">
        SELECT
            <include refid="recruitFiled" />
        FROM tb_service_recruit a
            <include refid="recruitJoin" />
        WHERE a.record_status = 1
        <if test="comId != null and comId != ''">
            AND a.com_id = #{comId}
        </if>
        <choose>
            <when test="status != 2">
                AND a.status = #{status}
            </when>
            <otherwise>

            </otherwise>
        </choose>
        <if test="type != null and type != ''">
            AND a.type = #{type}
        </if>
        <if test="searchFiled != null and searchFiled != ''">
            AND ( a.post LIKE CONCAT('%', #{searchFiled}, '%') OR co.com_name LIKE CONCAT('%', #{searchFiled}, '%'))
        </if>
        <if test="whereTypes != null and whereTypes != ''">
            <choose>
                <when test="whereTypes == 'week'">
                    <![CDATA[ AND DATE_SUB(DATE_FORMAT(CURDATE(),'%Y-%m-%d %H:%i:%S'), INTERVAL 6 DAY) <= DATE_FORMAT(a.created_time,'%Y-%m-%d %H:%i:%S') ]]>
                </when>
                <when test="whereTypes == 'month'">
                    <![CDATA[ AND DATE_SUB(DATE_FORMAT(CURDATE(),'%Y-%m-%d %H:%i:%S'), INTERVAL 1 MONTH) <= DATE_FORMAT(a.created_time,'%Y-%m-%d %H:%i:%S') ]]>
                </when>
                <otherwise>

                </otherwise>
            </choose>
        </if>
        <if test="approvalStatus != null and approvalStatus != ''">
            AND a.approval_status = #{approvalStatus}
        </if>
        <if test="beginDate != null and endDate != null">
            <![CDATA[
                AND DATE_FORMAT(#{beginDate},'%Y-%m-%d') <= DATE_FORMAT(a.created_time,'%Y-%m-%d')
                AND DATE_FORMAT(#{endDate},'%Y-%m-%d') >= DATE_FORMAT(a.created_time,'%Y-%m-%d')
            ]]>
        </if>
        <choose>
            <when test="sortTypes != null and sortTypes != '' and sortTypes == 'hot'">
                ORDER BY a.view_count DESC, a.created_time DESC
            </when>
            <otherwise>
                ORDER BY a.created_time DESC
            </otherwise>
        </choose>
    </select>

    <!-- 企业招聘信息浏览量 -->
    <update id="addRecruitClickById">
        UPDATE tb_service_recruit SET
            view_count = view_count + 1
        WHERE id_ = #{id}
    </update>

    <!-- 删除企业招聘信息 -->
    <delete id="delRecruitById">
        UPDATE tb_service_recruit SET
            record_status = 0,
            modifier_account = #{account},
            modified_time = #{modifiedTime}
        WHERE id_ = #{id}
    </delete>
</mapper>