<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.user.userinfo.dao.TbUserCompanyMapper">
  <resultMap id="BaseResultMap" type="com.jn.user.userinfo.entity.TbUserCompany">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="com_name" jdbcType="VARCHAR" property="comName" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="unify_code" jdbcType="VARCHAR" property="unifyCode" />
    <result column="owners" jdbcType="VARCHAR" property="owners" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="owner_ID" jdbcType="VARCHAR" property="ownerId" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_account" jdbcType="VARCHAR" property="bankAccount" />
    <result column="products" jdbcType="VARCHAR" property="products" />
    <result column="material" jdbcType="VARCHAR" property="material" />
    <result column="com_property" jdbcType="VARCHAR" property="comProperty" />
    <result column="reg_capital" jdbcType="DOUBLE" property="regCapital" />
    <result column="founding_time" jdbcType="TIMESTAMP" property="foundingTime" />
    <result column="indu_type" jdbcType="VARCHAR" property="induType" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="lic_starttime" jdbcType="TIMESTAMP" property="licStarttime" />
    <result column="lic_endtime" jdbcType="TIMESTAMP" property="licEndtime" />
    <result column="org_code" jdbcType="VARCHAR" property="orgCode" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="con_phone" jdbcType="VARCHAR" property="conPhone" />
    <result column="con_address" jdbcType="VARCHAR" property="conAddress" />
    <result column="postcode" jdbcType="VARCHAR" property="postcode" />
    <result column="com_adress" jdbcType="VARCHAR" property="comAdress" />
    <result column="com_tele" jdbcType="VARCHAR" property="comTele" />
    <result column="addr_park" jdbcType="VARCHAR" property="addrPark" />
    <result column="credit_points" jdbcType="DOUBLE" property="creditPoints" />
    <result column="com_type" jdbcType="VARCHAR" property="comType" />
    <result column="checker" jdbcType="VARCHAR" property="checker" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="check_status" jdbcType="VARCHAR" property="checkStatus" />
    <result column="check_time" jdbcType="TIMESTAMP" property="checkTime" />
    <result column="creator_account" jdbcType="VARCHAR" property="creatorAccount" />
    <result column="modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="record_status" jdbcType="TINYINT" property="recordStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, account, phone, email, com_name, avatar, unify_code, owners, owner, owner_ID, 
    bank_name, bank_account, products, material, com_property, reg_capital, founding_time, 
    indu_type, industry, lic_starttime, lic_endtime, org_code, contact, con_phone, con_address, 
    postcode, com_adress, com_tele, addr_park, credit_points, com_type, checker, created_time, 
    check_status, check_time, creator_account, modifier_account, modified_time, record_status
  </sql>
  <select id="selectByExample" parameterType="com.jn.user.userinfo.entity.TbUserCompanyCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_user_company
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_user_company
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_user_company
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jn.user.userinfo.entity.TbUserCompanyCriteria">
    delete from tb_user_company
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.user.userinfo.entity.TbUserCompany">
    insert into tb_user_company (id, account, phone, 
      email, com_name, avatar, 
      unify_code, owners, owner, 
      owner_ID, bank_name, bank_account, 
      products, material, com_property, 
      reg_capital, founding_time, indu_type, 
      industry, lic_starttime, lic_endtime, 
      org_code, contact, con_phone, 
      con_address, postcode, com_adress, 
      com_tele, addr_park, credit_points, 
      com_type, checker, created_time, 
      check_status, check_time, creator_account, 
      modifier_account, modified_time, record_status
      )
    values (#{id,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{comName,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, 
      #{unifyCode,jdbcType=VARCHAR}, #{owners,jdbcType=VARCHAR}, #{owner,jdbcType=VARCHAR}, 
      #{ownerId,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}, #{bankAccount,jdbcType=VARCHAR}, 
      #{products,jdbcType=VARCHAR}, #{material,jdbcType=VARCHAR}, #{comProperty,jdbcType=VARCHAR}, 
      #{regCapital,jdbcType=DOUBLE}, #{foundingTime,jdbcType=TIMESTAMP}, #{induType,jdbcType=VARCHAR}, 
      #{industry,jdbcType=VARCHAR}, #{licStarttime,jdbcType=TIMESTAMP}, #{licEndtime,jdbcType=TIMESTAMP}, 
      #{orgCode,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, #{conPhone,jdbcType=VARCHAR}, 
      #{conAddress,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}, #{comAdress,jdbcType=VARCHAR}, 
      #{comTele,jdbcType=VARCHAR}, #{addrPark,jdbcType=VARCHAR}, #{creditPoints,jdbcType=DOUBLE}, 
      #{comType,jdbcType=VARCHAR}, #{checker,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{checkStatus,jdbcType=VARCHAR}, #{checkTime,jdbcType=TIMESTAMP}, #{creatorAccount,jdbcType=VARCHAR}, 
      #{modifierAccount,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP}, #{recordStatus,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jn.user.userinfo.entity.TbUserCompany">
    insert into tb_user_company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="comName != null">
        com_name,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="unifyCode != null">
        unify_code,
      </if>
      <if test="owners != null">
        owners,
      </if>
      <if test="owner != null">
        owner,
      </if>
      <if test="ownerId != null">
        owner_ID,
      </if>
      <if test="bankName != null">
        bank_name,
      </if>
      <if test="bankAccount != null">
        bank_account,
      </if>
      <if test="products != null">
        products,
      </if>
      <if test="material != null">
        material,
      </if>
      <if test="comProperty != null">
        com_property,
      </if>
      <if test="regCapital != null">
        reg_capital,
      </if>
      <if test="foundingTime != null">
        founding_time,
      </if>
      <if test="induType != null">
        indu_type,
      </if>
      <if test="industry != null">
        industry,
      </if>
      <if test="licStarttime != null">
        lic_starttime,
      </if>
      <if test="licEndtime != null">
        lic_endtime,
      </if>
      <if test="orgCode != null">
        org_code,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="conPhone != null">
        con_phone,
      </if>
      <if test="conAddress != null">
        con_address,
      </if>
      <if test="postcode != null">
        postcode,
      </if>
      <if test="comAdress != null">
        com_adress,
      </if>
      <if test="comTele != null">
        com_tele,
      </if>
      <if test="addrPark != null">
        addr_park,
      </if>
      <if test="creditPoints != null">
        credit_points,
      </if>
      <if test="comType != null">
        com_type,
      </if>
      <if test="checker != null">
        checker,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="checkStatus != null">
        check_status,
      </if>
      <if test="checkTime != null">
        check_time,
      </if>
      <if test="creatorAccount != null">
        creator_account,
      </if>
      <if test="modifierAccount != null">
        modifier_account,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="comName != null">
        #{comName,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="unifyCode != null">
        #{unifyCode,jdbcType=VARCHAR},
      </if>
      <if test="owners != null">
        #{owners,jdbcType=VARCHAR},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null">
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="products != null">
        #{products,jdbcType=VARCHAR},
      </if>
      <if test="material != null">
        #{material,jdbcType=VARCHAR},
      </if>
      <if test="comProperty != null">
        #{comProperty,jdbcType=VARCHAR},
      </if>
      <if test="regCapital != null">
        #{regCapital,jdbcType=DOUBLE},
      </if>
      <if test="foundingTime != null">
        #{foundingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="induType != null">
        #{induType,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="licStarttime != null">
        #{licStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="licEndtime != null">
        #{licEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgCode != null">
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="conPhone != null">
        #{conPhone,jdbcType=VARCHAR},
      </if>
      <if test="conAddress != null">
        #{conAddress,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="comAdress != null">
        #{comAdress,jdbcType=VARCHAR},
      </if>
      <if test="comTele != null">
        #{comTele,jdbcType=VARCHAR},
      </if>
      <if test="addrPark != null">
        #{addrPark,jdbcType=VARCHAR},
      </if>
      <if test="creditPoints != null">
        #{creditPoints,jdbcType=DOUBLE},
      </if>
      <if test="comType != null">
        #{comType,jdbcType=VARCHAR},
      </if>
      <if test="checker != null">
        #{checker,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkStatus != null">
        #{checkStatus,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorAccount != null">
        #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifierAccount != null">
        #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.user.userinfo.entity.TbUserCompanyCriteria" resultType="java.lang.Long">
    select count(*) from tb_user_company
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_user_company
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.account != null">
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.comName != null">
        com_name = #{record.comName,jdbcType=VARCHAR},
      </if>
      <if test="record.avatar != null">
        avatar = #{record.avatar,jdbcType=VARCHAR},
      </if>
      <if test="record.unifyCode != null">
        unify_code = #{record.unifyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.owners != null">
        owners = #{record.owners,jdbcType=VARCHAR},
      </if>
      <if test="record.owner != null">
        owner = #{record.owner,jdbcType=VARCHAR},
      </if>
      <if test="record.ownerId != null">
        owner_ID = #{record.ownerId,jdbcType=VARCHAR},
      </if>
      <if test="record.bankName != null">
        bank_name = #{record.bankName,jdbcType=VARCHAR},
      </if>
      <if test="record.bankAccount != null">
        bank_account = #{record.bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.products != null">
        products = #{record.products,jdbcType=VARCHAR},
      </if>
      <if test="record.material != null">
        material = #{record.material,jdbcType=VARCHAR},
      </if>
      <if test="record.comProperty != null">
        com_property = #{record.comProperty,jdbcType=VARCHAR},
      </if>
      <if test="record.regCapital != null">
        reg_capital = #{record.regCapital,jdbcType=DOUBLE},
      </if>
      <if test="record.foundingTime != null">
        founding_time = #{record.foundingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.induType != null">
        indu_type = #{record.induType,jdbcType=VARCHAR},
      </if>
      <if test="record.industry != null">
        industry = #{record.industry,jdbcType=VARCHAR},
      </if>
      <if test="record.licStarttime != null">
        lic_starttime = #{record.licStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.licEndtime != null">
        lic_endtime = #{record.licEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orgCode != null">
        org_code = #{record.orgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.contact != null">
        contact = #{record.contact,jdbcType=VARCHAR},
      </if>
      <if test="record.conPhone != null">
        con_phone = #{record.conPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.conAddress != null">
        con_address = #{record.conAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.postcode != null">
        postcode = #{record.postcode,jdbcType=VARCHAR},
      </if>
      <if test="record.comAdress != null">
        com_adress = #{record.comAdress,jdbcType=VARCHAR},
      </if>
      <if test="record.comTele != null">
        com_tele = #{record.comTele,jdbcType=VARCHAR},
      </if>
      <if test="record.addrPark != null">
        addr_park = #{record.addrPark,jdbcType=VARCHAR},
      </if>
      <if test="record.creditPoints != null">
        credit_points = #{record.creditPoints,jdbcType=DOUBLE},
      </if>
      <if test="record.comType != null">
        com_type = #{record.comType,jdbcType=VARCHAR},
      </if>
      <if test="record.checker != null">
        checker = #{record.checker,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkStatus != null">
        check_status = #{record.checkStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.checkTime != null">
        check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creatorAccount != null">
        creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.modifierAccount != null">
        modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedTime != null">
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.recordStatus != null">
        record_status = #{record.recordStatus,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_user_company
    set id = #{record.id,jdbcType=VARCHAR},
      account = #{record.account,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      com_name = #{record.comName,jdbcType=VARCHAR},
      avatar = #{record.avatar,jdbcType=VARCHAR},
      unify_code = #{record.unifyCode,jdbcType=VARCHAR},
      owners = #{record.owners,jdbcType=VARCHAR},
      owner = #{record.owner,jdbcType=VARCHAR},
      owner_ID = #{record.ownerId,jdbcType=VARCHAR},
      bank_name = #{record.bankName,jdbcType=VARCHAR},
      bank_account = #{record.bankAccount,jdbcType=VARCHAR},
      products = #{record.products,jdbcType=VARCHAR},
      material = #{record.material,jdbcType=VARCHAR},
      com_property = #{record.comProperty,jdbcType=VARCHAR},
      reg_capital = #{record.regCapital,jdbcType=DOUBLE},
      founding_time = #{record.foundingTime,jdbcType=TIMESTAMP},
      indu_type = #{record.induType,jdbcType=VARCHAR},
      industry = #{record.industry,jdbcType=VARCHAR},
      lic_starttime = #{record.licStarttime,jdbcType=TIMESTAMP},
      lic_endtime = #{record.licEndtime,jdbcType=TIMESTAMP},
      org_code = #{record.orgCode,jdbcType=VARCHAR},
      contact = #{record.contact,jdbcType=VARCHAR},
      con_phone = #{record.conPhone,jdbcType=VARCHAR},
      con_address = #{record.conAddress,jdbcType=VARCHAR},
      postcode = #{record.postcode,jdbcType=VARCHAR},
      com_adress = #{record.comAdress,jdbcType=VARCHAR},
      com_tele = #{record.comTele,jdbcType=VARCHAR},
      addr_park = #{record.addrPark,jdbcType=VARCHAR},
      credit_points = #{record.creditPoints,jdbcType=DOUBLE},
      com_type = #{record.comType,jdbcType=VARCHAR},
      checker = #{record.checker,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      check_status = #{record.checkStatus,jdbcType=VARCHAR},
      check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      record_status = #{record.recordStatus,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jn.user.userinfo.entity.TbUserCompany">
    update tb_user_company
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="comName != null">
        com_name = #{comName,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="unifyCode != null">
        unify_code = #{unifyCode,jdbcType=VARCHAR},
      </if>
      <if test="owners != null">
        owners = #{owners,jdbcType=VARCHAR},
      </if>
      <if test="owner != null">
        owner = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        owner_ID = #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null">
        bank_account = #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="products != null">
        products = #{products,jdbcType=VARCHAR},
      </if>
      <if test="material != null">
        material = #{material,jdbcType=VARCHAR},
      </if>
      <if test="comProperty != null">
        com_property = #{comProperty,jdbcType=VARCHAR},
      </if>
      <if test="regCapital != null">
        reg_capital = #{regCapital,jdbcType=DOUBLE},
      </if>
      <if test="foundingTime != null">
        founding_time = #{foundingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="induType != null">
        indu_type = #{induType,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="licStarttime != null">
        lic_starttime = #{licStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="licEndtime != null">
        lic_endtime = #{licEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgCode != null">
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="conPhone != null">
        con_phone = #{conPhone,jdbcType=VARCHAR},
      </if>
      <if test="conAddress != null">
        con_address = #{conAddress,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        postcode = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="comAdress != null">
        com_adress = #{comAdress,jdbcType=VARCHAR},
      </if>
      <if test="comTele != null">
        com_tele = #{comTele,jdbcType=VARCHAR},
      </if>
      <if test="addrPark != null">
        addr_park = #{addrPark,jdbcType=VARCHAR},
      </if>
      <if test="creditPoints != null">
        credit_points = #{creditPoints,jdbcType=DOUBLE},
      </if>
      <if test="comType != null">
        com_type = #{comType,jdbcType=VARCHAR},
      </if>
      <if test="checker != null">
        checker = #{checker,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkStatus != null">
        check_status = #{checkStatus,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null">
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorAccount != null">
        creator_account = #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifierAccount != null">
        modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jn.user.userinfo.entity.TbUserCompany">
    update tb_user_company
    set account = #{account,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      com_name = #{comName,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      unify_code = #{unifyCode,jdbcType=VARCHAR},
      owners = #{owners,jdbcType=VARCHAR},
      owner = #{owner,jdbcType=VARCHAR},
      owner_ID = #{ownerId,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      bank_account = #{bankAccount,jdbcType=VARCHAR},
      products = #{products,jdbcType=VARCHAR},
      material = #{material,jdbcType=VARCHAR},
      com_property = #{comProperty,jdbcType=VARCHAR},
      reg_capital = #{regCapital,jdbcType=DOUBLE},
      founding_time = #{foundingTime,jdbcType=TIMESTAMP},
      indu_type = #{induType,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      lic_starttime = #{licStarttime,jdbcType=TIMESTAMP},
      lic_endtime = #{licEndtime,jdbcType=TIMESTAMP},
      org_code = #{orgCode,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      con_phone = #{conPhone,jdbcType=VARCHAR},
      con_address = #{conAddress,jdbcType=VARCHAR},
      postcode = #{postcode,jdbcType=VARCHAR},
      com_adress = #{comAdress,jdbcType=VARCHAR},
      com_tele = #{comTele,jdbcType=VARCHAR},
      addr_park = #{addrPark,jdbcType=VARCHAR},
      credit_points = #{creditPoints,jdbcType=DOUBLE},
      com_type = #{comType,jdbcType=VARCHAR},
      checker = #{checker,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      check_status = #{checkStatus,jdbcType=VARCHAR},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      creator_account = #{creatorAccount,jdbcType=VARCHAR},
      modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      record_status = #{recordStatus,jdbcType=TINYINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>