<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.park.activity.dao.ActivityFileMapper">
    <!--批量插入活动类型模板-->
    <insert id="insertActivityTypeTemp" parameterType="java.util.Map">
        INSERT INTO TB_ACTIVITY_FILE (ID,TYPE_ID,FILE_SRC,CREATE_ACCOUNT,CREATE_TIME,STATE)
        select A.* from(
        <foreach collection="list" item="item" index="index" open="" close="" separator="union all">
            ( select #{item.id,jdbcType=VARCHAR}
            ,#{item.typeId,jdbcType=VARCHAR}
            ,#{item.fileSrc,jdbcType=VARCHAR}
            ,#{item.createAccount,jdbcType=VARCHAR}
            ,#{item.createTime,jdbcType=TIMESTAMP}
            ,#{item.state,jdbcType=VARCHAR}
            from dual)
        </foreach>
        )A
    </insert>
</mapper>