<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.park.activity.dao.ActivityMapper">
    <select id="selectActivityList" parameterType="com.jn.park.model.ActivityContent" resultType="com.jn.park.model.Activity">
        select a.id as "id", a.acti_type as "actiType", a.acti_name as "actiName",
        date_format(a.acti_start_time,'%Y-%m-%d %H:%i:%S') as "actiStartTime",
        date_format(a.acti_end_time,'%Y-%m-%d %H:%i:%S') as "actiEndTime",
        date_format(a.apply_start_time,'%Y-%m-%d %H:%i:%S') as "applyStartTime",
        date_format(a.apply_end_time,'%Y-%m-%d %H:%i:%S') as "applyEndTime",
        date_format(a.mes_send_time,'%Y-%m-%d %H:%i:%S') as "mesSendTime",
        a.acti_address as "actiAddress",a.status as "status",a.is_index as "isIndex",
        a.acti_cost as "actiCost", a.acti_organizer as "actiOrganizer",
        a.acti_number as "actiNumber", a.acti_poster_url as "actiPosterUrl",
        date_format(a.create_time,'%Y-%m-%d %H:%i:%S') as "createTime", a.create_account as "createAccount",
        date_format(a.update_time,'%Y-%m-%d %H:%i:%S') as "updateTime", a.update_account as "updateAccount",
        a.acti_views as "actiViews", a.acti_like as "actiLike", a.apply_num as "applyNum",
        a.partic_num as "particNum",a.is_apply as "isApply",a.park_id as "parkId",co.code_name as "parkName",
        a.acti_order as "actiOrder",t.type_name as "typeName",a.show_apply_num as "showApplyNum",a.apply_check as "applyCheck"
        from tb_activity a left join tb_activity_type t on a.acti_type = t.type_id left join tb_park_code co on co.id = a.park_id
        where 1=1  and a.status != '5'
        <if test="actiType != null and actiType != ''">
            and a.acti_type = #{actiType}
        </if>
        <if test="status != null and status != ''">
            and a.status = #{status}
        </if>
        <if test="actiName != null and actiName != ''">
            and a.acti_name LIKE concat(concat('%',#{actiName}),'%')
        </if>
        <if test="isIndex != null and isIndex!= ''">
            and a.is_index = #{isIndex}
        </if>
        <if test="actiAddress != null and actiAddress != ''">
            and a.acti_address = #{actiAddress}
        </if>
        <if test="actiCost != null and actiCost != ''">
            and a.acti_cost = #{actiCost}
        </if>
        <if test="actiOrganizer != null and actiOrganizer != ''">
            and a.acti_organizer = #{actiOrganizer}
        </if>
        <if test="showApplyNum != null and showApplyNum != ''">
            and a.show_apply_num = #{showApplyNum}
        </if>
        order by a.create_time desc
    </select>

    <select id="activityListSlim" resultType="com.jn.park.model.ActivitySlim">
          select
            ta.id as "id"                                                                                 <!--活动id-->
            ,ta.acti_name as "actiName"                                                                   <!--活动名称-->
            ,ta.acti_address as "actiAddress"                                                             <!--活动地址-->
            ,date_format(ta.acti_start_time,'%Y-%m-%d %H:%i:%s') as "actiStartTime"                       <!--活动开始时间-->
            ,date_format(ta.acti_end_time,'%Y-%m-%d %H:%i:%s') as "actiEndTime"                           <!--活动结束时间-->
            ,ta.apply_num as "applyNum"                                                                   <!--活动报名人数-->
            ,ta.acti_like as "actiLike"                                                                   <!--活动点赞人数-->
            ,ta.acti_number as "actiNumber"                                                               <!--活动人数-->
            ,ta.acti_poster_url as "actiPosterUrl"                                                        <!--活动海报路径-->
            ,ta.show_apply_num as "showApplyNum"
            from tb_activity ta
            left join tb_activity_detail td on td.activity_id = ta.id
            where 1=1
            and ta.status  not in ('1','5')                                                               <!--不展示活动状态为草稿(status=1),和已删除的的活动(status=5)-->
            <if test="typeId != null and typeId !=''">
                and  ta.acti_type = #{typeId,jdbcType=VARCHAR}
            </if>
            <if test="startTime != null and startTime != ''">
                and ta.acti_start_time &gt;= #{startTime,jdbcType=VARCHAR}
            </if>
            <if test="endTime != null and endTime != ''">
                and ta.acti_start_time &lt;= #{endTime,jdbcType=VARCHAR}
            </if>

            <if test="keyWord != null and keyWord !=''">
            and ta.acti_name LIKE concat('%',#{keyWord},'%')
            or ta.acti_address LIKE concat('%',#{keyWord},'%')
            or td.acti_detail LIKE concat('%',#{keyWord},'%')
            </if>
        order by
        <if test = "orderBy != null and orderBy != ''">
            ${orderBy} desc,
        </if>
        ta.acti_order desc
    </select>


</mapper>