<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.park.activity.dao.ActivityMapper">
    <select id="selectActivityList" parameterType="com.jn.park.activity.model.Activity" resultType="com.jn.park.activity.model.Activity">
        select a.id as "id", a.acti_type as "actiType", a.acti_name as "actiName",
        date_format(a.acti_start_time,'yyyy-MM-dd HH:mm:ss') as "actiStartTime",
        date_format(a.acti_end_time,'yyyy-MM-dd HH:mm:ss') as "actiEndTime",
        date_format(a.apply_start_time,'yyyy-MM-dd HH:mm:ss') as "applyStartTime",
        date_format(a.apply_end_time,'yyyy-MM-dd HH:mm:ss') as "applyEndTime",
        date_format(a.mes_send_time,'yyyy-MM-dd HH:mm:ss') as "mesSendTime",
        a.acti_address as "actiAddress",a.state as "state",
        a.acti_cost as "actiCost", a.acti_organizer as "actiOrganizer",
        a.acti_number as "actiNumber", a.acti_poster_url as "actiPosterUrl",
        date_format(a.create_time,'yyyy-MM-dd HH:mm:ss') as "createTime", a.create_account as "createAccount",
        date_format(a.update_time,'yyyy-MM-dd HH:mm:ss') as "updateTime", a.update_account as "updateAccount",
        a.acti_views as "actiViews", a.acti_like as "actiLike", a.apply_num as "applyNum",
        a.partic_num as "particNum", a.is_top as "isTop",
        date_format(a.top_time,'yyyy-MM-dd HH:mm:ss') as "topTime",
        a.is_apply as "isApply", a.acti_order as "actiOrder",t.type_name as "typeName"
        from tb_activity a left join tb_activity_type t on a.acti_type = t.type_id
        where 1=1  and a.state != '5'
        <if test="actiType != null">
            and a.acti_type = #{actiType}
        </if>
        <if test="state != null">
            and a.state = #{state}
        </if>
        <if test="actiName != null">
            and a.acti_name = #{actiName}
        </if>
    </select>

    <select id="activityListSlim" resultMap="SlimMap">
          select
            ta.id as id
            ,ta.acti_name as actiName
            ,ta.acti_address as actiAddress
            ,ta.acti_start_time as actiStartTime
            ,ta.acti_end_time as actiEndTime
            ,ta.apply_num as applyNum
            ,ta.acti_like as actiLike
            ,ta.acti_number as actiNumber
            ,ta.acti_poster_url as actiPosterUrl
            , case when  tp.avatar is not null and tc.avatar is null
                  then tp.avatar
                  when tp.avatar is null and tc.avatar is not null
                  then tc.avatar
                  else tp.avatar
                  end as "avatar"
            from tb_activity ta
            inner join tb_activity_detail td on td.activity_id = ta.id
            left join  tb_activity_apply ty on ty.activity_id = ta.id
            left join tb_sys_user tu on tu.account =ty.account
            left join tb_user_person tp on tp.account = tu.account
            left join tb_user_company tc on tc.account = tu.account
            where 1=1
            and ta.state != -1
            <if test="typeId != null and type!=''">
                and  ta.acti_type = #{typeId,jdbcType=VARCHAR}
            </if>
            <if test="keyWord != null and keyWord !=''">
            and ta.acti_name LIKE concat(concat('%',#{keyWord}),'%')
            or ta.acti_address LIKE concat(concat('%',#{keyWord}),'%')
            or td.acti_detail LIKE concat(concat('%',#{keyWord}),'%')
            </if>
    </select>
    <resultMap id="SlimMap" type="com.jn.park.activity.model.ActivitySlim">
        <id column="id" property="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="actiName" property="actiName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="actiAddress" property="actiAddress" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="actiStartTime" property="actiStartTime" javaType="java.lang.String" />
        <result column="actiEndTime" property="actiEndTime" javaType="java.lang.String" />
        <result column="applyNum" property="applyNum" javaType="java.lang.Integer" jdbcType="VARCHAR"/>
        <result column="actiLike" property="actiLike" javaType="java.lang.Integer" jdbcType="VARCHAR"/>
        <result column="actiNumber" property="actiNumber" javaType="java.lang.Integer" jdbcType="VARCHAR"/>
        <result column="actiPosterUrl" property="actiPosterUrl" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <collection property="avatar"   ofType="java.lang.String">
            <constructor>
                <arg column="avatar"/>
            </constructor>
        </collection>
    </resultMap>
</mapper>