<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.park.activity.dao.ActivityMapper">
    <select id="selectActivityList" parameterType="com.jn.park.model.Activity" resultType="com.jn.park.model.Activity">
        select a.id as "id", a.acti_type as "actiType", a.acti_name as "actiName",
        date_format(a.acti_start_time,'yyyy-MM-dd HH:mm:ss') as "actiStartTime",
        date_format(a.acti_end_time,'yyyy-MM-dd HH:mm:ss') as "actiEndTime",
        date_format(a.apply_start_time,'yyyy-MM-dd HH:mm:ss') as "applyStartTime",
        date_format(a.apply_end_time,'yyyy-MM-dd HH:mm:ss') as "applyEndTime",
        date_format(a.mes_send_time,'yyyy-MM-dd HH:mm:ss') as "mesSendTime",
        a.acti_address as "actiAddress",a.state as "state",a.is_top as "isTop",
        a.acti_cost as "actiCost", a.acti_organizer as "actiOrganizer",
        a.acti_number as "actiNumber", a.acti_poster_url as "actiPosterUrl",
        date_format(a.create_time,'yyyy-MM-dd HH:mm:ss') as "createTime", a.create_account as "createAccount",
        date_format(a.update_time,'yyyy-MM-dd HH:mm:ss') as "updateTime", a.update_account as "updateAccount",
        a.acti_views as "actiViews", a.acti_like as "actiLike", a.apply_num as "applyNum",
        a.partic_num as "particNum", a.is_top as "isTop",
        date_format(a.top_time,'yyyy-MM-dd HH:mm:ss') as "topTime",
        a.is_apply as "isApply", a.acti_order as "actiOrder",t.type_name as "typeName"
        from tb_activity a left join tb_activity_type t on a.acti_type = t.type_id
        where 1=1  and a.state != '5'
        <if test="actiType != null">
            and a.acti_type = #{actiType}
        </if>
        <if test="state != null">
            and a.state = #{state}
        </if>
        <if test="actiName != null">
            and a.acti_name = #{actiName}
        </if>
        <if test="is_top != null">
            and a.is_top = #{isTop}
        </if>

        order by a.create_time desc
    </select>

    <select id="activityListSlim" resultType="com.jn.park.model.ActivitySlim">
          select
            ta.id as id
            ,ta.acti_name as actiName
            ,ta.acti_address as actiAddress
            ,ta.acti_start_time as actiStartTime
            ,ta.acti_end_time as actiEndTime
            ,ta.apply_num as applyNum
            ,ta.acti_like as actiLike
            ,ta.acti_number as actiNumber
            ,ta.acti_poster_url as actiPosterUrl
            ,ta.show_apply_num as showApplyNum
            ,group_concat(ifnull(tc.avatar,tp.avatar))as avatar
            from tb_activity ta
            left join tb_activity_detail td on td.activity_id = ta.id
            left join  tb_activity_apply ty on ty.activity_id = ta.id
            left join tb_user_person tp on tp.account = ty.account
            left join tb_user_company tc on tc.account = ty.account
            where 1=1
            and ta.state != -1
            <if test="typeId != null and typeId !=''">
                and  ta.acti_type = #{typeId,jdbcType=VARCHAR}
            </if>
            <if test="keyWord != null and keyWord !=''">
            and ta.acti_name LIKE concat(concat('%',#{keyWord}),'%')
            or ta.acti_address LIKE concat(concat('%',#{keyWord}),'%')
            or td.acti_detail LIKE concat(concat('%',#{keyWord}),'%')
            </if>
        group by ta.id
    </select>


</mapper>