<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.park.activity.dao.ActivityApplyMapper">
   <select id="findApplyActivityList" resultType="com.jn.park.activity.model.ActivityApplyDetail">
    select
      ifnull(tp.account,tc.account) as account ,
      ifnull(tp.avatar,tc.avatar)as avatar,
      ifnull(tp.name,tc.com_name)as name,
      ifnull(tp.phone,tc.con_phone) as phone,
      tp.sex as sex,
      tp.age as age,
      tp.company as company,
      tp.post as post,
      ta.sign_state as singState
    from tb_activity_apply ta
    left join tb_user_person tp
    on ta.account = tp.account
    left join tb_user_company tc
    on tc.account = ta.account
    where
        1=1
    and
    ta.activity_id=#{activityId}
   </select>
</mapper>