<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.enterprise.servicemarket.advisor.dao.TbServiceAdvisorMapper">
  <resultMap id="BaseResultMap" type="com.jn.enterprise.servicemarket.advisor.entity.TbServiceAdvisor">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
    <result column="advisor_account" jdbcType="VARCHAR" property="advisorAccount" />
    <result column="advisor_name" jdbcType="VARCHAR" property="advisorName" />
    <result column="business_area" jdbcType="VARCHAR" property="businessArea" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="is_certification" jdbcType="VARCHAR" property="isCertification" />
    <result column="contact_email" jdbcType="VARCHAR" property="contactEmail" />
    <result column="card_type" jdbcType="VARCHAR" property="cardType" />
    <result column="card_number" jdbcType="VARCHAR" property="cardNumber" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="graduated_school" jdbcType="VARCHAR" property="graduatedSchool" />
    <result column="working_years" jdbcType="REAL" property="workingYears" />
    <result column="practice_qualification" jdbcType="VARCHAR" property="practiceQualification" />
    <result column="good_at_business" jdbcType="VARCHAR" property="goodAtBusiness" />
    <result column="transaction_num" jdbcType="INTEGER" property="transactionNum" />
    <result column="pageviews" jdbcType="INTEGER" property="pageviews" />
    <result column="is_have_subsidy" jdbcType="VARCHAR" property="isHaveSubsidy" />
    <result column="approval_status" jdbcType="VARCHAR" property="approvalStatus" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="creator_account" jdbcType="VARCHAR" property="creatorAccount" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
    <result column="record_status" jdbcType="TINYINT" property="recordStatus" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.jn.enterprise.servicemarket.advisor.entity.TbServiceAdvisor">
    <result column="personal_profile" jdbcType="LONGVARBINARY" property="personalProfile" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, org_id, advisor_account, advisor_name, business_area, avatar, position, org_name, 
    is_certification, contact_email, card_type, card_number, education, graduated_school, 
    working_years, practice_qualification, good_at_business, transaction_num, pageviews, 
    is_have_subsidy, approval_status, created_time, creator_account, modified_time, modifier_account, 
    record_status
  </sql>
  <sql id="Blob_Column_List">
    personal_profile
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.jn.enterprise.servicemarket.advisor.entity.TbServiceAdvisorCriteria" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_service_advisor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.jn.enterprise.servicemarket.advisor.entity.TbServiceAdvisorCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_service_advisor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_service_advisor
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_service_advisor
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jn.enterprise.servicemarket.advisor.entity.TbServiceAdvisorCriteria">
    delete from tb_service_advisor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.enterprise.servicemarket.advisor.entity.TbServiceAdvisor">
    insert into tb_service_advisor (id, org_id, advisor_account, 
      advisor_name, business_area, avatar, 
      position, org_name, is_certification, 
      contact_email, card_type, card_number, 
      education, graduated_school, working_years, 
      practice_qualification, good_at_business, 
      transaction_num, pageviews, is_have_subsidy, 
      approval_status, created_time, creator_account, 
      modified_time, modifier_account, record_status, 
      personal_profile)
    values (#{id,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}, #{advisorAccount,jdbcType=VARCHAR}, 
      #{advisorName,jdbcType=VARCHAR}, #{businessArea,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, 
      #{position,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, #{isCertification,jdbcType=VARCHAR}, 
      #{contactEmail,jdbcType=VARCHAR}, #{cardType,jdbcType=VARCHAR}, #{cardNumber,jdbcType=VARCHAR}, 
      #{education,jdbcType=VARCHAR}, #{graduatedSchool,jdbcType=VARCHAR}, #{workingYears,jdbcType=REAL}, 
      #{practiceQualification,jdbcType=VARCHAR}, #{goodAtBusiness,jdbcType=VARCHAR}, 
      #{transactionNum,jdbcType=INTEGER}, #{pageviews,jdbcType=INTEGER}, #{isHaveSubsidy,jdbcType=VARCHAR}, 
      #{approvalStatus,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{creatorAccount,jdbcType=VARCHAR}, 
      #{modifiedTime,jdbcType=TIMESTAMP}, #{modifierAccount,jdbcType=VARCHAR}, #{recordStatus,jdbcType=TINYINT}, 
      #{personalProfile,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.jn.enterprise.servicemarket.advisor.entity.TbServiceAdvisor">
    insert into tb_service_advisor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="advisorAccount != null">
        advisor_account,
      </if>
      <if test="advisorName != null">
        advisor_name,
      </if>
      <if test="businessArea != null">
        business_area,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="orgName != null">
        org_name,
      </if>
      <if test="isCertification != null">
        is_certification,
      </if>
      <if test="contactEmail != null">
        contact_email,
      </if>
      <if test="cardType != null">
        card_type,
      </if>
      <if test="cardNumber != null">
        card_number,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="graduatedSchool != null">
        graduated_school,
      </if>
      <if test="workingYears != null">
        working_years,
      </if>
      <if test="practiceQualification != null">
        practice_qualification,
      </if>
      <if test="goodAtBusiness != null">
        good_at_business,
      </if>
      <if test="transactionNum != null">
        transaction_num,
      </if>
      <if test="pageviews != null">
        pageviews,
      </if>
      <if test="isHaveSubsidy != null">
        is_have_subsidy,
      </if>
      <if test="approvalStatus != null">
        approval_status,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="creatorAccount != null">
        creator_account,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="modifierAccount != null">
        modifier_account,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
      <if test="personalProfile != null">
        personal_profile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="advisorAccount != null">
        #{advisorAccount,jdbcType=VARCHAR},
      </if>
      <if test="advisorName != null">
        #{advisorName,jdbcType=VARCHAR},
      </if>
      <if test="businessArea != null">
        #{businessArea,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="isCertification != null">
        #{isCertification,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null">
        #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null">
        #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null">
        #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="graduatedSchool != null">
        #{graduatedSchool,jdbcType=VARCHAR},
      </if>
      <if test="workingYears != null">
        #{workingYears,jdbcType=REAL},
      </if>
      <if test="practiceQualification != null">
        #{practiceQualification,jdbcType=VARCHAR},
      </if>
      <if test="goodAtBusiness != null">
        #{goodAtBusiness,jdbcType=VARCHAR},
      </if>
      <if test="transactionNum != null">
        #{transactionNum,jdbcType=INTEGER},
      </if>
      <if test="pageviews != null">
        #{pageviews,jdbcType=INTEGER},
      </if>
      <if test="isHaveSubsidy != null">
        #{isHaveSubsidy,jdbcType=VARCHAR},
      </if>
      <if test="approvalStatus != null">
        #{approvalStatus,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorAccount != null">
        #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="personalProfile != null">
        #{personalProfile,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.enterprise.servicemarket.advisor.entity.TbServiceAdvisorCriteria" resultType="java.lang.Long">
    select count(*) from tb_service_advisor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_service_advisor
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.orgId != null">
        org_id = #{record.orgId,jdbcType=VARCHAR},
      </if>
      <if test="record.advisorAccount != null">
        advisor_account = #{record.advisorAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.advisorName != null">
        advisor_name = #{record.advisorName,jdbcType=VARCHAR},
      </if>
      <if test="record.businessArea != null">
        business_area = #{record.businessArea,jdbcType=VARCHAR},
      </if>
      <if test="record.avatar != null">
        avatar = #{record.avatar,jdbcType=VARCHAR},
      </if>
      <if test="record.position != null">
        position = #{record.position,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null">
        org_name = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.isCertification != null">
        is_certification = #{record.isCertification,jdbcType=VARCHAR},
      </if>
      <if test="record.contactEmail != null">
        contact_email = #{record.contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.cardType != null">
        card_type = #{record.cardType,jdbcType=VARCHAR},
      </if>
      <if test="record.cardNumber != null">
        card_number = #{record.cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.education != null">
        education = #{record.education,jdbcType=VARCHAR},
      </if>
      <if test="record.graduatedSchool != null">
        graduated_school = #{record.graduatedSchool,jdbcType=VARCHAR},
      </if>
      <if test="record.workingYears != null">
        working_years = #{record.workingYears,jdbcType=REAL},
      </if>
      <if test="record.practiceQualification != null">
        practice_qualification = #{record.practiceQualification,jdbcType=VARCHAR},
      </if>
      <if test="record.goodAtBusiness != null">
        good_at_business = #{record.goodAtBusiness,jdbcType=VARCHAR},
      </if>
      <if test="record.transactionNum != null">
        transaction_num = #{record.transactionNum,jdbcType=INTEGER},
      </if>
      <if test="record.pageviews != null">
        pageviews = #{record.pageviews,jdbcType=INTEGER},
      </if>
      <if test="record.isHaveSubsidy != null">
        is_have_subsidy = #{record.isHaveSubsidy,jdbcType=VARCHAR},
      </if>
      <if test="record.approvalStatus != null">
        approval_status = #{record.approvalStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creatorAccount != null">
        creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedTime != null">
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifierAccount != null">
        modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        record_status = #{record.recordStatus,jdbcType=TINYINT},
      </if>
      <if test="record.personalProfile != null">
        personal_profile = #{record.personalProfile,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update tb_service_advisor
    set id = #{record.id,jdbcType=VARCHAR},
      org_id = #{record.orgId,jdbcType=VARCHAR},
      advisor_account = #{record.advisorAccount,jdbcType=VARCHAR},
      advisor_name = #{record.advisorName,jdbcType=VARCHAR},
      business_area = #{record.businessArea,jdbcType=VARCHAR},
      avatar = #{record.avatar,jdbcType=VARCHAR},
      position = #{record.position,jdbcType=VARCHAR},
      org_name = #{record.orgName,jdbcType=VARCHAR},
      is_certification = #{record.isCertification,jdbcType=VARCHAR},
      contact_email = #{record.contactEmail,jdbcType=VARCHAR},
      card_type = #{record.cardType,jdbcType=VARCHAR},
      card_number = #{record.cardNumber,jdbcType=VARCHAR},
      education = #{record.education,jdbcType=VARCHAR},
      graduated_school = #{record.graduatedSchool,jdbcType=VARCHAR},
      working_years = #{record.workingYears,jdbcType=REAL},
      practice_qualification = #{record.practiceQualification,jdbcType=VARCHAR},
      good_at_business = #{record.goodAtBusiness,jdbcType=VARCHAR},
      transaction_num = #{record.transactionNum,jdbcType=INTEGER},
      pageviews = #{record.pageviews,jdbcType=INTEGER},
      is_have_subsidy = #{record.isHaveSubsidy,jdbcType=VARCHAR},
      approval_status = #{record.approvalStatus,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      record_status = #{record.recordStatus,jdbcType=TINYINT},
      personal_profile = #{record.personalProfile,jdbcType=LONGVARBINARY}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_service_advisor
    set id = #{record.id,jdbcType=VARCHAR},
      org_id = #{record.orgId,jdbcType=VARCHAR},
      advisor_account = #{record.advisorAccount,jdbcType=VARCHAR},
      advisor_name = #{record.advisorName,jdbcType=VARCHAR},
      business_area = #{record.businessArea,jdbcType=VARCHAR},
      avatar = #{record.avatar,jdbcType=VARCHAR},
      position = #{record.position,jdbcType=VARCHAR},
      org_name = #{record.orgName,jdbcType=VARCHAR},
      is_certification = #{record.isCertification,jdbcType=VARCHAR},
      contact_email = #{record.contactEmail,jdbcType=VARCHAR},
      card_type = #{record.cardType,jdbcType=VARCHAR},
      card_number = #{record.cardNumber,jdbcType=VARCHAR},
      education = #{record.education,jdbcType=VARCHAR},
      graduated_school = #{record.graduatedSchool,jdbcType=VARCHAR},
      working_years = #{record.workingYears,jdbcType=REAL},
      practice_qualification = #{record.practiceQualification,jdbcType=VARCHAR},
      good_at_business = #{record.goodAtBusiness,jdbcType=VARCHAR},
      transaction_num = #{record.transactionNum,jdbcType=INTEGER},
      pageviews = #{record.pageviews,jdbcType=INTEGER},
      is_have_subsidy = #{record.isHaveSubsidy,jdbcType=VARCHAR},
      approval_status = #{record.approvalStatus,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      record_status = #{record.recordStatus,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jn.enterprise.servicemarket.advisor.entity.TbServiceAdvisor">
    update tb_service_advisor
    <set>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="advisorAccount != null">
        advisor_account = #{advisorAccount,jdbcType=VARCHAR},
      </if>
      <if test="advisorName != null">
        advisor_name = #{advisorName,jdbcType=VARCHAR},
      </if>
      <if test="businessArea != null">
        business_area = #{businessArea,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="isCertification != null">
        is_certification = #{isCertification,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null">
        contact_email = #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null">
        card_type = #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null">
        card_number = #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="graduatedSchool != null">
        graduated_school = #{graduatedSchool,jdbcType=VARCHAR},
      </if>
      <if test="workingYears != null">
        working_years = #{workingYears,jdbcType=REAL},
      </if>
      <if test="practiceQualification != null">
        practice_qualification = #{practiceQualification,jdbcType=VARCHAR},
      </if>
      <if test="goodAtBusiness != null">
        good_at_business = #{goodAtBusiness,jdbcType=VARCHAR},
      </if>
      <if test="transactionNum != null">
        transaction_num = #{transactionNum,jdbcType=INTEGER},
      </if>
      <if test="pageviews != null">
        pageviews = #{pageviews,jdbcType=INTEGER},
      </if>
      <if test="isHaveSubsidy != null">
        is_have_subsidy = #{isHaveSubsidy,jdbcType=VARCHAR},
      </if>
      <if test="approvalStatus != null">
        approval_status = #{approvalStatus,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorAccount != null">
        creator_account = #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="personalProfile != null">
        personal_profile = #{personalProfile,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jn.enterprise.servicemarket.advisor.entity.TbServiceAdvisor">
    update tb_service_advisor
    set org_id = #{orgId,jdbcType=VARCHAR},
      advisor_account = #{advisorAccount,jdbcType=VARCHAR},
      advisor_name = #{advisorName,jdbcType=VARCHAR},
      business_area = #{businessArea,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      org_name = #{orgName,jdbcType=VARCHAR},
      is_certification = #{isCertification,jdbcType=VARCHAR},
      contact_email = #{contactEmail,jdbcType=VARCHAR},
      card_type = #{cardType,jdbcType=VARCHAR},
      card_number = #{cardNumber,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      graduated_school = #{graduatedSchool,jdbcType=VARCHAR},
      working_years = #{workingYears,jdbcType=REAL},
      practice_qualification = #{practiceQualification,jdbcType=VARCHAR},
      good_at_business = #{goodAtBusiness,jdbcType=VARCHAR},
      transaction_num = #{transactionNum,jdbcType=INTEGER},
      pageviews = #{pageviews,jdbcType=INTEGER},
      is_have_subsidy = #{isHaveSubsidy,jdbcType=VARCHAR},
      approval_status = #{approvalStatus,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      creator_account = #{creatorAccount,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      record_status = #{recordStatus,jdbcType=TINYINT},
      personal_profile = #{personalProfile,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jn.enterprise.servicemarket.advisor.entity.TbServiceAdvisor">
    update tb_service_advisor
    set org_id = #{orgId,jdbcType=VARCHAR},
      advisor_account = #{advisorAccount,jdbcType=VARCHAR},
      advisor_name = #{advisorName,jdbcType=VARCHAR},
      business_area = #{businessArea,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      org_name = #{orgName,jdbcType=VARCHAR},
      is_certification = #{isCertification,jdbcType=VARCHAR},
      contact_email = #{contactEmail,jdbcType=VARCHAR},
      card_type = #{cardType,jdbcType=VARCHAR},
      card_number = #{cardNumber,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      graduated_school = #{graduatedSchool,jdbcType=VARCHAR},
      working_years = #{workingYears,jdbcType=REAL},
      practice_qualification = #{practiceQualification,jdbcType=VARCHAR},
      good_at_business = #{goodAtBusiness,jdbcType=VARCHAR},
      transaction_num = #{transactionNum,jdbcType=INTEGER},
      pageviews = #{pageviews,jdbcType=INTEGER},
      is_have_subsidy = #{isHaveSubsidy,jdbcType=VARCHAR},
      approval_status = #{approvalStatus,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      creator_account = #{creatorAccount,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      record_status = #{recordStatus,jdbcType=TINYINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>