<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.enterprise.technologyfinancial.financial.product.dao.FinancialProductMapper">
    <!--金融产品列表查询-->
    <select id="getFinancialProductList" parameterType="com.jn.enterprise.technologyfinancial.financial.product.model.FinancialProductListParam"
            resultType="com.jn.enterprise.technologyfinancial.financial.product.model.FinancialProductListInfo">
        SELECT 
            sp.`product_id` AS "productId"				        <!--产品id-->
            ,sp.`product_name` AS "productName"			        <!--产品名称-->
            ,sp.`org_id` AS "orgId"					            <!--机构id-->
            ,sp.`org_name` AS "orgName"				            <!--机构名称-->
            ,sp.`ref_rate_min` AS "refRateMin"			        <!--参考利率最小值-->
            ,sp.`ref_rate_max` AS "refRateMax"			        <!--参考利率最大值-->
            ,sp.`loan_amount_min` AS "loanAmountMin"		    <!--贷款额度最小值-->
            ,sp.`loan_amount_max` AS "loanAmountMax"		    <!--贷款额度最大值-->
            ,sp.`assure_method_name` AS "assureMethodName"  	<!--担保方式-->
            ,sp.`loan_term_min` AS "loanTermMin"			    <!--贷款期限最小值-->
            ,sp.`loan_term_max` AS "loanTermMax"			    <!--贷款期限最大值-->
            ,COUNT(sr.`attitude_score`) AS "ratingNum"		    <!--评价次数-->
            ,IFNULL(AVG(sr.`attitude_score`),0) AS "ratingScore"<!--评价分数-->
            ,COUNT(sq.`product_id`) AS "transactionNum"		    <!--累计交易数-->
        FROM tb_service_product sp 
        LEFT JOIN tb_service_rating sr
        ON sp.`product_id`=sr.`product_id`
        AND sr.`record_status`='1'
        LEFT JOIN tb_service_require sq
        ON sp.`product_id`=sq.`product_id`
        AND sq.`status`='2'						              <!--已处理-->
        AND sq.`record_status`='1'
        WHERE 1=1
        AND sp.`record_status`='1'
        AND sp.`status`='1'						              <!--有效-->
        AND sp.`org_id` IS NOT NULL
        AND sp.`signory_id`='technology_finance'			  <!--科技金融-->
        <if test="loanTerm == 1 ">  <!--贷款期限3个月及以下-->
            and sp.loan_term_max &lt;=3
        </if>
        <if test="loanTerm == 2 ">  <!--贷款期限6个月及以下-->
            and sp.loan_term_max &lt;=6
        </if>
        <if test="loanTerm == 3 ">  <!--贷款期限12个月及以下-->
            and sp.loan_term_max &lt;=12
        </if>
        <if test="loanTerm == 4 ">  <!--贷款期限36个月及以下-->
            and sp.loan_term_max &lt;=36
        </if>
        <if test="loanTerm == 5 ">  <!--贷款期限36个月以上-->
            and sp.loan_term_max &gt;36
        </if>
        <if test="assureMethodCode !=null and assureMethodCode!='' ">  <!--担保方式-->
            and sp.assure_method_code=#{assureMethodCode}
        </if>
        <if test="onlineLoan !=null and onlineLoan!='' ">  <!--网贷直联-->
            and sp.is_online_loan=#{onlineLoan}
        </if>
        <if test="policyProduct !=null and policyProduct!='' ">  <!--政策性产品-->
            and sp.is_policy_pro=#{policyProduct}
        </if>
        <if test="loanAmount == 1">  <!--贷款额度 100万及以下-->
            and sp.loan_amount_max &lt;=100
        </if>
        <if test="loanAmount == 2">  <!--贷款额度 200万及以下-->
            and sp.loan_amount_max &lt;=200
        </if>
        <if test="loanAmount == 3">  <!--贷款额度 300万及以下-->
            and sp.loan_amount_max &lt;=300
        </if>
        <if test="loanAmount == 4">  <!--贷款额度 500万及以下-->
            and sp.loan_amount_max &lt;=500
        </if>
        <if test="loanAmount == 5">  <!--贷款额度 1000万及以下-->
            and sp.loan_amount_max &lt;=1000
        </if>
        <if test="loanAmount == 5">  <!--贷款额度 1000万以上-->
            and sp.loan_amount_max &gt; 1000
        </if>
        <if test="keyWord!=null and keyWord!=''">  <!--关键词-->
            and (sp.product_name like  CONCAT('%', #{keyWord}, '%') or sp.org_name like CONCAT('%', #{keyWord}, '%'))
        </if>
        GROUP BY sp.`product_id`
            ,sp.`product_name`
            ,sp.`org_id`
            ,sp.`org_name`
            ,sp.`ref_rate_min`
            ,sp.`ref_rate_max`
            ,sp.`loan_amount_min`
            ,sp.`loan_amount_max`
            ,sp.`assure_method_name`
            ,sp.`loan_term_min`
            ,sp.`loan_term_max` 

    </select>

</mapper>