<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.system.dept.dao.SysPostMapper">
    <update id="deletePostBranch" parameterType="java.util.Map">
        update tb_sys_post
        set
        record_status = 0,
        modifier_account=#{account},
        modified_time = now()
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="findByPage" parameterType="com.jn.system.dept.model.SysPostPage"
            resultType="com.jn.system.model.SysPost">
        SELECT
            id,
            post_name AS postName,
            created_time AS createdTime,
            record_status AS recordStatus,
            rank,
            post_type_id AS postTypeId,
            (
            SELECT
              post_type_name
            FROM
              tb_sys_post_type
            WHERE
              id = post_type_id
            AND record_status = 1
            ) AS postTypeName
        FROM
          tb_sys_post
        WHERE
            `record_status` != 0
            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(postName)">
                and post_name like CONCAT('%', #{postName,jdbcType=VARCHAR}, '%')
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(recordStatus)">
                and record_status = #{recordStatus,jdbcType=TINYINT}
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(postTypeId)">
                and post_type_id = #{postTypeId,jdbcType=VARCHAR}
            </if>
        ORDER BY
          rank ASC
    </select>
    <select id="getPostAll" resultType="com.jn.system.model.SysPost">
        SELECT
            id,
            post_name AS postName,
            created_time AS createdTime,
            record_status AS recordStatus,
            post_type_id AS postTypeId,
            rank
        FROM
            tb_sys_post
        WHERE
            record_status = '1'
        ORDER BY
            rank ASC
    </select>
</mapper>