<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.system.dept.dao.SysPostMapper">
    <update id="deletePostBranch" parameterType="java.lang.String">
        update tb_sys_post set record_status = 0
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="findByPage" parameterType="com.jn.system.dept.model.SysPostPage"
            resultType="com.jn.system.dept.model.SysPost">
        select id,
        post_name as postName,
        created_time as createdTime,
        record_status as recordStatus,
        post_type_id as postTypeId,
        (SELECT post_type_name
            from tb_sys_post_type
            where id = post_type_id
            and record_status = 1) as postTypeName
        from tb_sys_post
        where `record_status` != 0
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(postName)">
            and post_name like CONCAT('%', #{postName,jdbcType=VARCHAR}, '%')
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(recordStatus)">
            and record_status = #{recordStatus,jdbcType=TINYINT}
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(postTypeId)">
            and post_type_id = #{postTypeId,jdbcType=VARCHAR}
        </if>
        ORDER BY created_time desc,id desc
    </select>
</mapper>