<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.hr.train.dao.TbManpowerTrainQuestQuestionnaireQueseMapper">
  <resultMap id="BaseResultMap" type="com.jn.hr.train.entity.TbManpowerTrainQuestQuestionnaireQuese">
    <id column="title_id" jdbcType="VARCHAR" property="titleId" />
    <result column="title_name" jdbcType="VARCHAR" property="titleName" />
    <result column="title_type" jdbcType="TINYINT" property="titleType" />
    <result column="is_show_answer" jdbcType="TINYINT" property="isShowAnswer" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    title_id, title_name, title_type, is_show_answer, project_id
  </sql>
  <select id="selectByExample" parameterType="com.jn.hr.train.entity.TbManpowerTrainQuestQuestionnaireQueseCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_manpower_train_quest_questionnaire_quese
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_manpower_train_quest_questionnaire_quese
    where title_id = #{titleId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_manpower_train_quest_questionnaire_quese
    where title_id = #{titleId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jn.hr.train.entity.TbManpowerTrainQuestQuestionnaireQueseCriteria">
    delete from tb_manpower_train_quest_questionnaire_quese
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.hr.train.entity.TbManpowerTrainQuestQuestionnaireQuese">
    insert into tb_manpower_train_quest_questionnaire_quese (title_id, title_name, title_type, 
      is_show_answer, project_id)
    values (#{titleId,jdbcType=VARCHAR}, #{titleName,jdbcType=VARCHAR}, #{titleType,jdbcType=TINYINT}, 
      #{isShowAnswer,jdbcType=TINYINT}, #{projectId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jn.hr.train.entity.TbManpowerTrainQuestQuestionnaireQuese">
    insert into tb_manpower_train_quest_questionnaire_quese
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="titleId != null">
        title_id,
      </if>
      <if test="titleName != null">
        title_name,
      </if>
      <if test="titleType != null">
        title_type,
      </if>
      <if test="isShowAnswer != null">
        is_show_answer,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="titleId != null">
        #{titleId,jdbcType=VARCHAR},
      </if>
      <if test="titleName != null">
        #{titleName,jdbcType=VARCHAR},
      </if>
      <if test="titleType != null">
        #{titleType,jdbcType=TINYINT},
      </if>
      <if test="isShowAnswer != null">
        #{isShowAnswer,jdbcType=TINYINT},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.hr.train.entity.TbManpowerTrainQuestQuestionnaireQueseCriteria" resultType="java.lang.Long">
    select count(*) from tb_manpower_train_quest_questionnaire_quese
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_manpower_train_quest_questionnaire_quese
    <set>
      <if test="record.titleId != null">
        title_id = #{record.titleId,jdbcType=VARCHAR},
      </if>
      <if test="record.titleName != null">
        title_name = #{record.titleName,jdbcType=VARCHAR},
      </if>
      <if test="record.titleType != null">
        title_type = #{record.titleType,jdbcType=TINYINT},
      </if>
      <if test="record.isShowAnswer != null">
        is_show_answer = #{record.isShowAnswer,jdbcType=TINYINT},
      </if>
      <if test="record.projectId != null">
        project_id = #{record.projectId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_manpower_train_quest_questionnaire_quese
    set title_id = #{record.titleId,jdbcType=VARCHAR},
      title_name = #{record.titleName,jdbcType=VARCHAR},
      title_type = #{record.titleType,jdbcType=TINYINT},
      is_show_answer = #{record.isShowAnswer,jdbcType=TINYINT},
      project_id = #{record.projectId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jn.hr.train.entity.TbManpowerTrainQuestQuestionnaireQuese">
    update tb_manpower_train_quest_questionnaire_quese
    <set>
      <if test="titleName != null">
        title_name = #{titleName,jdbcType=VARCHAR},
      </if>
      <if test="titleType != null">
        title_type = #{titleType,jdbcType=TINYINT},
      </if>
      <if test="isShowAnswer != null">
        is_show_answer = #{isShowAnswer,jdbcType=TINYINT},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
    </set>
    where title_id = #{titleId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jn.hr.train.entity.TbManpowerTrainQuestQuestionnaireQuese">
    update tb_manpower_train_quest_questionnaire_quese
    set title_name = #{titleName,jdbcType=VARCHAR},
      title_type = #{titleType,jdbcType=TINYINT},
      is_show_answer = #{isShowAnswer,jdbcType=TINYINT},
      project_id = #{projectId,jdbcType=VARCHAR}
    where title_id = #{titleId,jdbcType=VARCHAR}
  </update>
</mapper>