.quesLayer, .popLayer {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.55);
    margin:auto;
}

/*弹出层*/
.quesBox {
    display: none;
    background-color: white;
    z-index: 11;
    width: 800px;
    height: 600px;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
}

/*弹出层*/
.popBox {
    display: none;
    background-color: white;
    z-index: 11;
    width: 600px;
    height: 400px;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
}
.quesLayer .title, .popLayer .title{
    text-align: center;
    line-height: 35px;
    height: 35px;
    background: #f4f4f4;
    font-size: 14px;
}
.popBox .close,.quesBox .close{
    position: absolute;
    right: 10px;
    top: 8px;
}
.quesLayer .content, .popLayer .content{
    padding: 20px;
}
.quesLayer .content .form-box ul, .popLayer .content .form-box ul{
    width: 100%;
}
/*关闭按钮*/
.popBox .close a, .quesLayer .close a {
    text-decoration: none;
    color: #2D2C3B;
}
