<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.oa.meeting.dao.OaMeetingMapper">

    <resultMap id="BaseResultMap" type="com.jn.oa.meeting.vo.OaMeetingVo">
        <id column="meeting_id" jdbcType="VARCHAR" property="id" />
        <result column="meeting_work_order_num" jdbcType="VARCHAR" property="workOrderNum" />
        <result column="meeting_start_date" jdbcType="TIMESTAMP" property="startDate" />
        <result column="meeting_start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="meeting_end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="meeting_meeting_room_id" jdbcType="VARCHAR" property="meetingRoomId" />
        <result column="meeting_approval_status" jdbcType="VARCHAR" property="approvalStatus" />
        <result column="meeting_record_status" jdbcType="TINYINT" property="recordStatus" />
        <result column="meeting_creator_account" jdbcType="VARCHAR" property="creatorAccount" />
        <result column="meeting_created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="meeting_modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
        <result column="meeting_modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
        <result column="meeting_user_id_str" jdbcType="VARCHAR" property="userIdStr" />
        <result column="meeting_applicant" jdbcType="VARCHAR" property="applicant" />
        <result column="meeting_application_time" jdbcType="TIMESTAMP" property="applicationTime" />
        <result column="meeting_sign_in_QR" jdbcType="VARCHAR" property="signInQr" />
        <result column="meeting_wechat_remind" jdbcType="VARCHAR" property="wechatRemind" />
        <result column="meeting_message_remind" jdbcType="VARCHAR" property="messageRemind" />
        <result column="meeting_pc_remind" jdbcType="VARCHAR" property="pcRemind" />
        <result column="meeting_app_remind" jdbcType="VARCHAR" property="appRemind" />
        <result column="meeting_is_remind" jdbcType="VARCHAR" property="isRemind" />
        <result column="meeting_title" jdbcType="VARCHAR" property="title" />
        <result column="meeting_approval_role" jdbcType="VARCHAR" property="approvalRole" />
        <result column="meeting_approval_user" jdbcType="VARCHAR" property="approvalUser" />
        <result column="meeting_approval_opinion" jdbcType="VARCHAR" property="approvalOpinion" />
        <result column="meeting_meeting_status" jdbcType="VARCHAR" property="meetingStatus" />
        <result column="userName" jdbcType="VARCHAR" property="userName" />
        <result column="departmentName" jdbcType="VARCHAR" property="departmentName" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="meetingRoomName" jdbcType="VARCHAR" property="meetingRoomName" />
        <result column="meetingStatusMessage" jdbcType="VARCHAR" property="meetingStatusMessage" />



        <collection property="tbOaMeetingRoom" ofType="com.jn.oa.meeting.entity.TbOaMeetingRoom">
            <id column="meetingroom_id" jdbcType="VARCHAR" property="id" />
            <result column="meetingroom_name" jdbcType="VARCHAR" property="name" />
            <result column="meetingroom_building" jdbcType="VARCHAR" property="building" />
            <result column="meetingroom_floor" jdbcType="VARCHAR" property="floor" />
            <result column="meetingroom_room_number" jdbcType="VARCHAR" property="roomNumber" />
            <result column="meetingroom_position" jdbcType="VARCHAR" property="position" />
            <result column="meetingroom_explains" jdbcType="VARCHAR" property="explains" />
            <result column="meetingroom_record_status" jdbcType="VARCHAR" property="recordStatus" />
            <result column="meetingroom_capacity" jdbcType="VARCHAR" property="capacity" />
            <result column="meetingroom_remark" jdbcType="VARCHAR" property="remark" />
            <result column="meetingroom_creator_account" jdbcType="VARCHAR" property="creatorAccount" />
            <result column="meetingroom_created_time" jdbcType="TIMESTAMP" property="createdTime" />
            <result column="meetingroom_modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
            <result column="meetingroom_modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
        </collection>

        <collection property="participantList" column="meeting_id" javaType="java.util.List" select="selectParticipantById" ofType="com.jn.oa.meeting.entity.TbOaMeetingParticipants">
        </collection>


    </resultMap>

    <resultMap id="MeetingNoticeBaseResultMap" type="com.jn.oa.meeting.model.OaMeetingNotice">
        <id column="meeting_id" jdbcType="VARCHAR" property="id" />
        <result column="applicantPhone" jdbcType="VARCHAR" property="applicantPhone" />
        <result column="applicantWechatAccount" jdbcType="VARCHAR" property="applicantWechatAccount" />
        <result column="meeting_title" jdbcType="VARCHAR" property="title" />
    </resultMap>
    <resultMap id="TbOaMeetingBaseResultMap" type="com.jn.oa.meeting.entity.TbOaMeeting">
        <id column="meeting_id" jdbcType="VARCHAR" property="id" />
        <result column="meeting_work_order_num" jdbcType="VARCHAR" property="workOrderNum" />
        <result column="meeting_start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="meeting_end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="meeting_meeting_room_id" jdbcType="VARCHAR" property="meetingRoomId" />
        <result column="meeting_approval_status" jdbcType="VARCHAR" property="approvalStatus" />
        <result column="meeting_record_status" jdbcType="TINYINT" property="recordStatus" />
        <result column="meeting_creator_account" jdbcType="VARCHAR" property="creatorAccount" />
        <result column="meeting_created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="meeting_modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
        <result column="meeting_modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
        <result column="meeting_user_id_str" jdbcType="VARCHAR" property="userIdStr" />
        <result column="meeting_applicant" jdbcType="VARCHAR" property="applicant" />
        <result column="meeting_application_time" jdbcType="TIMESTAMP" property="applicationTime" />
        <result column="meeting_sign_in_QR" jdbcType="VARCHAR" property="signInQr" />
        <result column="meeting_wechat_remind" jdbcType="VARCHAR" property="wechatRemind" />
        <result column="meeting_message_remind" jdbcType="VARCHAR" property="messageRemind" />
        <result column="meeting_pc_remind" jdbcType="VARCHAR" property="pcRemind" />
        <result column="meeting_app_remind" jdbcType="VARCHAR" property="appRemind" />
        <result column="meeting_is_remind" jdbcType="VARCHAR" property="isRemind" />
        <result column="meeting_title" jdbcType="VARCHAR" property="title" />
        <result column="meeting_approval_role" jdbcType="VARCHAR" property="approvalRole" />
        <result column="meeting_approval_user" jdbcType="VARCHAR" property="approvalUser" />
        <result column="meeting_approval_opinion" jdbcType="VARCHAR" property="approvalOpinion" />
        <result column="meeting_meeting_status" jdbcType="VARCHAR" property="meetingStatus" />
    </resultMap>


    <resultMap id="SelectBaseResultMap" type="com.jn.oa.meeting.vo.OaMeetingParticipantVo">
        <id column="meeting_id" jdbcType="VARCHAR" property="id" />
        <result column="meeting_work_order_num" jdbcType="VARCHAR" property="workOrderNum" />
        <result column="meeting_start_date" jdbcType="VARCHAR" property="startDate" />
        <result column="meeting_start_time" jdbcType="VARCHAR" property="startTime" />
        <result column="meeting_end_time" jdbcType="VARCHAR" property="endTime" />
        <result column="meeting_meeting_room_id" jdbcType="VARCHAR" property="meetingRoomId" />
        <result column="meeting_approval_status" jdbcType="VARCHAR" property="approvalStatus" />
        <result column="meeting_record_status" jdbcType="TINYINT" property="recordStatus" />
        <result column="meeting_creator_account" jdbcType="VARCHAR" property="creatorAccount" />
        <result column="meeting_created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="meeting_modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
        <result column="meeting_modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
        <result column="meeting_user_id_str" jdbcType="VARCHAR" property="userIdStr" />
        <result column="meeting_applicant" jdbcType="VARCHAR" property="applicant" />
        <result column="meeting_application_time" jdbcType="TIMESTAMP" property="applicationTime" />
        <result column="meeting_sign_in_QR" jdbcType="VARCHAR" property="signInQr" />
        <result column="meeting_wechat_remind" jdbcType="VARCHAR" property="wechatRemind" />
        <result column="meeting_message_remind" jdbcType="VARCHAR" property="messageRemind" />
        <result column="meeting_pc_remind" jdbcType="VARCHAR" property="pcRemind" />
        <result column="meeting_app_remind" jdbcType="VARCHAR" property="appRemind" />
        <result column="meeting_is_remind" jdbcType="VARCHAR" property="isRemind" />
        <result column="meeting_title" jdbcType="VARCHAR" property="title" />
        <result column="meeting_approval_role" jdbcType="VARCHAR" property="approvalRole" />
        <result column="meeting_approval_user" jdbcType="VARCHAR" property="approvalUser" />
        <result column="meeting_approval_opinion" jdbcType="VARCHAR" property="approvalOpinion" />
        <result column="meeting_meeting_status" jdbcType="VARCHAR" property="meetingStatus" />
        <result column="userName" jdbcType="VARCHAR" property="userName" />
        <result column="departmentName" jdbcType="VARCHAR" property="departmentName" />
        <result column="content" jdbcType="VARCHAR" property="content" />


        <collection property="tbOaMeetingRoom" ofType="com.jn.oa.meeting.entity.TbOaMeetingRoom">
            <id column="meetingroom_id" jdbcType="VARCHAR" property="id" />
            <result column="meetingroom_name" jdbcType="VARCHAR" property="name" />
            <result column="meetingroom_building" jdbcType="VARCHAR" property="building" />
            <result column="meetingroom_floor" jdbcType="VARCHAR" property="floor" />
            <result column="meetingroom_room_number" jdbcType="VARCHAR" property="roomNumber" />
            <result column="meetingroom_position" jdbcType="VARCHAR" property="position" />
            <result column="meetingroom_explains" jdbcType="VARCHAR" property="explains" />
            <result column="meetingroom_record_status" jdbcType="VARCHAR" property="recordStatus" />
            <result column="meetingroom_capacity" jdbcType="VARCHAR" property="capacity" />
            <result column="meetingroom_remark" jdbcType="VARCHAR" property="remark" />
            <result column="meetingroom_creator_account" jdbcType="VARCHAR" property="creatorAccount" />
            <result column="meetingroom_created_time" jdbcType="TIMESTAMP" property="createdTime" />
            <result column="meetingroom_modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
            <result column="meetingroom_modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
        </collection>

        <collection property="participantList" javaType="java.util.List" ofType="com.jn.oa.meeting.vo.OaParticipantVo">
            <id column="meetingparticipants_id" jdbcType="VARCHAR" property="id" />
            <result column="meetingparticipants_meeting_id" jdbcType="VARCHAR" property="meetingId" />
            <result column="meetingparticipants_meeting_user_id" jdbcType="VARCHAR" property="meetingUserId" />
            <result column="meetingparticipants_sign_in_time" jdbcType="TIMESTAMP" property="signInTime" />
            <result column="meetingparticipants_sign_back_time" jdbcType="TIMESTAMP" property="signBackTime" />
            <result column="meetingparticipants_attendance_status" jdbcType="VARCHAR" property="attendanceStatus" />
            <result column="meetingparticipants_record_status" jdbcType="TINYINT" property="recordStatus" />
            <result column="meetingparticipants_userName" jdbcType="VARCHAR" property="userName" />
            <result column="meetingparticipants_account" jdbcType="VARCHAR" property="account" />
        </collection>
    </resultMap>

    <sql id="Meeting_Column_List">
    meeting.id as meeting_id, meeting.work_order_num as meeting_work_order_num, meeting.start_time as meeting_start_time,
    meeting.end_time as meeting_end_time, meeting.meeting_room_id as meeting_meeting_room_id,
    meeting.approval_status as meeting_approval_status, meeting.record_status as meeting_record_status,
    meeting.creator_account as meeting_creator_account, meeting.created_time as meeting_created_time,
    meeting.modifier_account as meeting_modifier_account, meeting.modified_time as meeting_modified_time,
    meeting.user_id_str as meeting_user_id_str, meeting.applicant as meeting_applicant,
    meeting.application_time as meeting_application_time, meeting.sign_in_QR as meeting_sign_in_QR,
    meeting.wechat_remind as meeting_wechat_remind, meeting.message_remind as meeting_message_remind,
    meeting.pc_remind as meeting_pc_remind, meeting.app_remind as meeting_app_remind,
    meeting.is_remind as meeting_is_remind, meeting.title as meeting_title, meeting.approval_role as meeting_approval_role,
    meeting.approval_user as meeting_approval_user, meeting.approval_opinion as meeting_approval_opinion,
    meeting.meeting_status as meeting_meeting_status
  </sql>
    <sql id="Base_Column_List">
    	meeting.id AS meeting_id,
	meeting.work_order_num AS meeting_work_order_num,
	date_format(meeting.start_time,'%Y-%m-%d') AS meeting_start_date,
	date_format(meeting.start_time,'%k:%i')  AS meeting_start_time,
	date_format(meeting.end_time,'%k:%i') AS meeting_end_time,
	meeting.meeting_room_id AS meeting_meeting_room_id,
	meeting.approval_status AS meeting_approval_status,
	meeting.record_status AS meeting_record_status,
	meeting.creator_account AS meeting_creator_account,
	meeting.created_time AS meeting_created_time,
	meeting.modifier_account AS meeting_modifier_account,
	meeting.modified_time AS meeting_modified_time,
	meeting.user_id_str AS meeting_user_id_str,
	meeting.applicant AS meeting_applicant,
	meeting.application_time AS meeting_application_time,
	meeting.sign_in_QR AS meeting_sign_in_QR,
	meeting.wechat_remind AS meeting_wechat_remind,
	meeting.message_remind AS meeting_message_remind,
	meeting.pc_remind AS meeting_pc_remind,
	meeting.app_remind AS meeting_app_remind,
	meeting.is_remind AS meeting_is_remind,
	meeting.title AS meeting_title,
	meeting.approval_role AS meeting_approval_role,
	meeting.approval_user AS meeting_approval_user,
	meeting.approval_opinion AS meeting_approval_opinion,
	meeting.meeting_status AS meeting_meeting_status,
    u.NAME AS userName,
 	u.department_name AS departmentName,
	meetingroom.meetingroom_id,
	meetingroom.name as meetingRoomName,
	meetingroom.name as meetingroom_name,
	meetingroom.building as meetingroom_building,
    meetingroom.floor as meetingroom_floor,
    meetingroom.room_number as meetingroom_room_number,
    meetingroom.position as meetingroom_position,
	tc.content as content,
	(CASE meeting.meeting_status

	 WHEN 0 THEN '待开始'
      WHEN 1 THEN '进行中'
     WHEN 2 THEN '已完成'
      WHEN 3 THEN '已取消'
       END)meetingStatusMessage
  </sql>
    <update id="deleteBranchByIds" parameterType="java.util.Map">
        update tb_oa_meeting
        set
        record_status = 0,
        modifier_account=#{account},
        modified_time = now()
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <update id="updateMeetingRunningStatusByTime">
        update tb_oa_meeting
        set
        meeting_status = 1,
        modified_time = now()
        where
        id in (

        select t.id		from
        (
        SELECT
        round( ( UNIX_TIMESTAMP( meeting.start_time ) - UNIX_TIMESTAMP( NOW( ) ) ) / 60 ) as sub_time,
        meeting.id
        FROM
        tb_oa_meeting meeting
        WHERE
        meeting.meeting_status =0

        )t where  <![CDATA[ t.sub_time<=1 ]]>  )

    </update>
    <update id="updateMeetingCompleteStatusByTime">
        update tb_oa_meeting
        set
        meeting_status =2,
        modified_time = now()
        where
        id in (

        select t.id		from
        (
        SELECT
        round( ( UNIX_TIMESTAMP( meeting.start_time ) - UNIX_TIMESTAMP( NOW( ) ) ) / 60 ) as sub_time,
        meeting.id
        FROM
        tb_oa_meeting meeting
        WHERE
        meeting.meeting_status =1

        )t where  <![CDATA[ t.sub_time<=-10]]>  )

    </update>

    <select id="selectMeetingListByCondition" resultMap="BaseResultMap" parameterType="com.jn.oa.meeting.model.OaMeetingPage">
                        SELECT
                   <include refid="Base_Column_List"/>

        FROM
        tb_oa_meeting meeting
        LEFT JOIN (
        select c.meeting_id,c.content from tb_oa_meeting_content c where c.record_status!=0
        )tc on tc.meeting_id=meeting.id
        LEFT JOIN (


        SELECT
        m.id AS meetingroom_id,
        m.NAME ,
        m.building ,
        m.floor ,
        m.room_number ,
        m.position
        FROM
        tb_oa_meeting_room m
        WHERE
        m.record_status !=0

        )meetingroom on meetingroom.meetingroom_id=meeting.meeting_room_id
        LEFT JOIN (
        SELECT
        t.id,
        t.NAME,
        t.account,
        tt.department_name
        FROM
        tb_sys_user t
        LEFT JOIN (
        SELECT
        t1.user_id,
        t2.department_name
        FROM
        tb_sys_user_department_post t1
        INNER JOIN tb_sys_department t2 ON t1.department_id = t2.id
        WHERE
        t1.is_default = 1
        AND t1.record_status = 1
        AND t2.record_status = 1
        ) tt ON t.id = tt.user_id
        WHERE
        t.record_status = 1
        ) u ON meeting.applicant = u.id
        WHERE
        1=1
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(id)">
            and meeting.id =#{id,jdbcType=VARCHAR}
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(title)">
            and meeting.title like CONCAT('%', #{title,jdbcType=VARCHAR}, '%')
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(approvalStatus)">
            and meeting.approval_status = #{approvalStatus,jdbcType=VARCHAR}
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(meetingStatus)">
            and meeting.meeting_status = #{meetingStatus,jdbcType=VARCHAR}
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(meetingRoomId)">
            and meeting.meeting_room_id =#{meetingRoomId,jdbcType=VARCHAR}
        </if>

        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(meetingRoomName)">
            and meetingroom.name like CONCAT('%', #{meetingRoomName,jdbcType=VARCHAR}, '%')
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(departmentName)">
            and  u.department_name like CONCAT('%', #{departmentName,jdbcType=VARCHAR}, '%')
        </if>

        <if test="startTime != null">AND  Date(meeting.start_time) &gt;= #{startTime}</if>
        <if test="endTime != null">AND Date(meeting.end_time) &lt;= #{endTime}</if>

        <if test="currentTime != null">
        and (meeting.meeting_status=0 or meeting.meeting_status=1 )
          AND (meeting.start_time &gt;= #{currentTime} or (meeting.end_time &gt;= #{currentTime} and meeting.start_time &lt;= #{currentTime}) )
          AND  Date(meeting.start_time) = DATE_FORMAT(#{currentTime},'%Y-%m-%d')
        </if>


        ORDER BY
        <if test="currentTime != null">
        meeting.start_time asc ,
        </if>
        meeting.created_time DESC,
        meeting.id DESC
    </select>
    <select id="selectMeetingById" resultMap="SelectBaseResultMap"  parameterType="java.lang.String">
         select

	meeting.id AS meeting_id,
	meeting.work_order_num AS meeting_work_order_num,
	meeting.start_time AS meeting_start_date,
	meeting.start_time AS meeting_start_time,
	meeting.end_time AS meeting_end_time,
	meeting.meeting_room_id AS meeting_meeting_room_id,
	meeting.approval_status AS meeting_approval_status,
	meeting.record_status AS meeting_record_status,
	meeting.creator_account AS meeting_creator_account,
	meeting.created_time AS meeting_created_time,
	meeting.modifier_account AS meeting_modifier_account,
	meeting.modified_time AS meeting_modified_time,
	meeting.user_id_str AS meeting_user_id_str,
	meeting.applicant AS meeting_applicant,
	meeting.application_time AS meeting_application_time,
	meeting.sign_in_QR AS meeting_sign_in_QR,
	meeting.wechat_remind AS meeting_wechat_remind,
	meeting.message_remind AS meeting_message_remind,
	meeting.pc_remind AS meeting_pc_remind,
	meeting.app_remind AS meeting_app_remind,
	meeting.is_remind AS meeting_is_remind,
	meeting.title AS meeting_title,
	meeting.approval_role AS meeting_approval_role,
	meeting.approval_user AS meeting_approval_user,
	meeting.approval_opinion AS meeting_approval_opinion,
	meeting.meeting_status AS meeting_meeting_status,
    u.NAME AS userName,
 	u.department_name AS departmentName,
    p. meetingparticipants_id,
	p.meetingparticipants_meeting_id,
	p.meetingparticipants_meeting_user_id,
	p. meetingparticipants_attendance_status,
	p.name as meetingparticipants_userName,
	p.account as meetingparticipants_account,

	meetingroom.meetingroom_id,
	meetingroom.name as meetingroom_name,
	meetingroom.building as meetingroom_building,
    meetingroom.floor as meetingroom_floor,
    meetingroom.room_number as meetingroom_room_number,
    meetingroom.position as meetingroom_position,
	tc.content as content
	FROM
        tb_oa_meeting meeting
        LEFT JOIN (
        select c.meeting_id,c.content from tb_oa_meeting_content c where c.record_status!=0
        )tc on tc.meeting_id=meeting.id
        LEFT JOIN (
        SELECT
        meetingparticipants.id AS meetingparticipants_id,
        meetingparticipants.meeting_id AS meetingparticipants_meeting_id,
        meetingparticipants.meeting_user_id AS meetingparticipants_meeting_user_id,
        meetingparticipants.attendance_status AS meetingparticipants_attendance_status,
				tu.name,
				tu.account
        FROM
        tb_oa_meeting_participants meetingparticipants
				LEFT JOIN (
        SELECT
        id,
        NAME,
				account
        FROM
        tb_sys_user  where  record_status =1) tu on tu.id=meetingparticipants.meeting_user_id
        WHERE
        meetingparticipants.record_status != 0
        )p on p.meetingparticipants_meeting_id=meeting.id
        LEFT JOIN (

        SELECT
        m.id AS meetingroom_id,
        m.NAME ,
        m.building ,
        m.floor ,
        m.room_number ,
        m.position
        FROM
        tb_oa_meeting_room m
        WHERE
        m.record_status !=0

        )meetingroom on meetingroom.meetingroom_id=meeting.meeting_room_id
        LEFT JOIN (
        SELECT
        t.id,
        t.NAME,
        t.account,
        tt.department_name
        FROM
        tb_sys_user t
        LEFT JOIN (
        SELECT
        t1.user_id,
        t2.department_name
        FROM
        tb_sys_user_department_post t1
        INNER JOIN tb_sys_department t2 ON t1.department_id = t2.id
        WHERE
        t1.is_default = 1
        AND t1.record_status = 1
        AND t2.record_status = 1
        ) tt ON t.id = tt.user_id
        WHERE
        t.record_status = 1
        ) u ON meeting.applicant = u.id
        WHERE
        1=1
         and meeting.id=#{id,jdbcType=VARCHAR}
    </select>

    <select id="selectParticipantById" resultType="com.jn.oa.meeting.vo.OaParticipantVo" parameterType="java.lang.String" >


          SELECT
        meetingparticipants.id AS id,
        meetingparticipants.meeting_id AS meetingId,
        meetingparticipants.meeting_user_id AS meetingUserId,
        meetingparticipants.attendance_status AS attendanceStatus,
				u.name as userName,
				u.account
        FROM
        tb_oa_meeting_participants meetingparticipants

				 LEFT JOIN (
        SELECT
        t.id,
        t.NAME,
        t.account

        FROM
        tb_sys_user t where t.record_status=1 )u on u.id =meetingparticipants.meeting_user_id
        WHERE
        meetingparticipants.record_status != 0

        and meetingparticipants.meeting_id=#{id}
    </select>

    <select id="selectNotCompleteMeetingByTimeAndMeetingRoomId" resultMap="TbOaMeetingBaseResultMap" parameterType="com.jn.oa.meeting.entity.TbOaMeeting">
        select
       <include refid="Meeting_Column_List"/>
        FROM
        tb_oa_meeting meeting

        where ( meeting.meeting_status =0 or meeting.meeting_status =1)

        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(meetingRoomId)">
            and meeting.meeting_room_id =#{meetingRoomId,jdbcType=VARCHAR}
        </if>
        <if test="startTime != null and endTime != null">

            AND  <![CDATA[
        	(
                (meeting.start_time <#{startTime}and #{startTime}<meeting.end_time)
                or
                 (meeting.start_time <#{endTime}and #{endTime}<meeting.end_time)
                 OR
                 ((meeting.start_time =#{startTime})OR( #{endTime}=meeting.end_time) )
        	 )

        ]]>

        </if>
    </select>

    <select id="noticesApplicationMeeting" resultMap="MeetingNoticeBaseResultMap">
               SELECT
            t.id AS meeting_id,
            tt.phone AS applicantPhone,
            tt.wechat_account AS applicantWechatAccount,
            t.title AS meeting_title
        FROM
            (
        SELECT
            round( ( UNIX_TIMESTAMP( meeting.start_time ) - UNIX_TIMESTAMP( NOW( ) ) ) / 60 ) AS sub_time,
            meeting.start_time,
            meeting.applicant,
            meeting.id,
            meeting.title
        FROM
            tb_oa_meeting meeting
        WHERE
           meeting.is_remind is null
            ) t
            LEFT JOIN ( SELECT t.id, t.phone, t.wechat_account FROM tb_sys_user t WHERE t.record_status = 1 ) tt ON tt.id = t.applicant
         where <![CDATA[  t.sub_time>=0 and t.sub_time<=12  ]]>
    </select>

    
</mapper>