<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.oa.meeting.dao.OaMeetingRoomPhotoMapper">



    <update id="deleteBranchByIds" parameterType="java.util.Map">
        update tb_oa_meeting_room_photo
        set
        record_status = 0,
        modifier_account=#{account},
        modified_time = now()
        where meeting_room_id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="deleteBranchByMeetingRoomId" parameterType="java.util.Map">
        update tb_oa_meeting_room_photo
        set
        record_status = 0,
        modifier_account=#{account},
        modified_time = now()
        where meeting_room_id =   #{meetingRoomId}

    </update>

</mapper>