<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.hr.exam.dao.ExaminaExamQuestionMapper">



	<delete id="deleteByTitleId" parameterType="com.jn.hr.exam.entity.TbManpowerExaminaExamQuestion">
		delete from
		tb_manpower_examina_exam_question
		where
		examina_id=#{examinaId,jdbcType=VARCHAR}
		and
		test_question_id=#{testQuestionId,jdbcType=VARCHAR}
	</delete>


	<select id="selectListByExaminaId" parameterType="java.lang.String"
		resultType="com.jn.hr.exam.entity.TbManpowerExaminaExamQuestion">
		select * from tb_manpower_examina_exam_question
		where
		examina_id=#{examinaId,jdbcType=VARCHAR}

	</select>


</mapper>