#toolBarDiv {background:#3FA9CA;width:100%;height:24px;line-height:24px;font-size:14px;}
#configDiv {background:#3FA9CA;width:100%;height:24px;line-height:24px;font-size:14px;}
#busyDiv {background:#3FA9CA;width:100%;height:24px;line-height:24px;font-size:14px;}
#stateInput {width:120px;font-size:14px; margin-left:5px; margin-top:1px}
#phoneInput {width:120px;font-size:14px; margin-top:1px}
#ipInput {width:120px;font-size:14px; margin-top:1px}
#extInput {width:50px;font-size:14px; margin-top:1px}
#idInput {width:60px;font-size:14px; margin-top:1px}
#timeInput {width:40px;font-size:14px; margin-top:1px}
#groupInput {width:60px;font-size:14px; margin-top:1px}
#tempspan {margin-left:15px; margin-left:5px; }
#ipspan {margin-left:15px;}
#extspan {margin-left:5px;}
#timespan {margin-left:5px;}
#idspan {margin-left:5px;}
#groupspan {margin-left:5px;}
#errspan {margin-left:5px;color:red}
.btn{margin-left:10px; }
