<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.park.sp.dao.TbSpMessageMapper">
  <resultMap id="BaseResultMap" type="com.jn.park.sp.entity.TbSpMessage">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="concat_name" jdbcType="VARCHAR" property="concatName" />
    <result column="concat_phone" jdbcType="VARCHAR" property="concatPhone" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="from_busi_id" jdbcType="VARCHAR" property="fromBusiId" />
    <result column="reply_status" jdbcType="VARCHAR" property="replyStatus" />
    <result column="reply_user_account" jdbcType="VARCHAR" property="replyUserAccount" />
    <result column="reply_time" jdbcType="TIMESTAMP" property="replyTime" />
    <result column="reply_message" jdbcType="VARCHAR" property="replyMessage" />
    <result column="solution_status" jdbcType="VARCHAR" property="solutionStatus" />
    <result column="record_status" jdbcType="TINYINT" property="recordStatus" />
    <result column="creator_account" jdbcType="VARCHAR" property="creatorAccount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.jn.park.sp.entity.TbSpMessage">
    <result column="message" jdbcType="LONGVARCHAR" property="message" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, company_name, concat_name, concat_phone, title, from_busi_id, reply_status, reply_user_account, 
    reply_time, reply_message, solution_status, record_status, creator_account, create_time, 
    modifier_account, modified_time
  </sql>
  <sql id="Blob_Column_List">
    message
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.jn.park.sp.entity.TbSpMessageCriteria" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_sp_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.jn.park.sp.entity.TbSpMessageCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_sp_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_sp_message
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_sp_message
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jn.park.sp.entity.TbSpMessageCriteria">
    delete from tb_sp_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.park.sp.entity.TbSpMessage">
    insert into tb_sp_message (id, company_name, concat_name, 
      concat_phone, title, from_busi_id, 
      reply_status, reply_user_account, reply_time, 
      reply_message, solution_status, record_status, 
      creator_account, create_time, modifier_account, 
      modified_time, message)
    values (#{id,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{concatName,jdbcType=VARCHAR}, 
      #{concatPhone,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{fromBusiId,jdbcType=VARCHAR}, 
      #{replyStatus,jdbcType=VARCHAR}, #{replyUserAccount,jdbcType=VARCHAR}, #{replyTime,jdbcType=TIMESTAMP}, 
      #{replyMessage,jdbcType=VARCHAR}, #{solutionStatus,jdbcType=VARCHAR}, #{recordStatus,jdbcType=TINYINT}, 
      #{creatorAccount,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifierAccount,jdbcType=VARCHAR}, 
      #{modifiedTime,jdbcType=TIMESTAMP}, #{message,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jn.park.sp.entity.TbSpMessage">
    insert into tb_sp_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="concatName != null">
        concat_name,
      </if>
      <if test="concatPhone != null">
        concat_phone,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="fromBusiId != null">
        from_busi_id,
      </if>
      <if test="replyStatus != null">
        reply_status,
      </if>
      <if test="replyUserAccount != null">
        reply_user_account,
      </if>
      <if test="replyTime != null">
        reply_time,
      </if>
      <if test="replyMessage != null">
        reply_message,
      </if>
      <if test="solutionStatus != null">
        solution_status,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
      <if test="creatorAccount != null">
        creator_account,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifierAccount != null">
        modifier_account,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="message != null">
        message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="concatName != null">
        #{concatName,jdbcType=VARCHAR},
      </if>
      <if test="concatPhone != null">
        #{concatPhone,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="fromBusiId != null">
        #{fromBusiId,jdbcType=VARCHAR},
      </if>
      <if test="replyStatus != null">
        #{replyStatus,jdbcType=VARCHAR},
      </if>
      <if test="replyUserAccount != null">
        #{replyUserAccount,jdbcType=VARCHAR},
      </if>
      <if test="replyTime != null">
        #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyMessage != null">
        #{replyMessage,jdbcType=VARCHAR},
      </if>
      <if test="solutionStatus != null">
        #{solutionStatus,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorAccount != null">
        #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null">
        #{message,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.park.sp.entity.TbSpMessageCriteria" resultType="java.lang.Long">
    select count(*) from tb_sp_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_sp_message
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.companyName != null">
        company_name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.concatName != null">
        concat_name = #{record.concatName,jdbcType=VARCHAR},
      </if>
      <if test="record.concatPhone != null">
        concat_phone = #{record.concatPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.fromBusiId != null">
        from_busi_id = #{record.fromBusiId,jdbcType=VARCHAR},
      </if>
      <if test="record.replyStatus != null">
        reply_status = #{record.replyStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.replyUserAccount != null">
        reply_user_account = #{record.replyUserAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.replyTime != null">
        reply_time = #{record.replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.replyMessage != null">
        reply_message = #{record.replyMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.solutionStatus != null">
        solution_status = #{record.solutionStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        record_status = #{record.recordStatus,jdbcType=TINYINT},
      </if>
      <if test="record.creatorAccount != null">
        creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifierAccount != null">
        modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedTime != null">
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.message != null">
        message = #{record.message,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update tb_sp_message
    set id = #{record.id,jdbcType=VARCHAR},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      concat_name = #{record.concatName,jdbcType=VARCHAR},
      concat_phone = #{record.concatPhone,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      from_busi_id = #{record.fromBusiId,jdbcType=VARCHAR},
      reply_status = #{record.replyStatus,jdbcType=VARCHAR},
      reply_user_account = #{record.replyUserAccount,jdbcType=VARCHAR},
      reply_time = #{record.replyTime,jdbcType=TIMESTAMP},
      reply_message = #{record.replyMessage,jdbcType=VARCHAR},
      solution_status = #{record.solutionStatus,jdbcType=VARCHAR},
      record_status = #{record.recordStatus,jdbcType=TINYINT},
      creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      message = #{record.message,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_sp_message
    set id = #{record.id,jdbcType=VARCHAR},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      concat_name = #{record.concatName,jdbcType=VARCHAR},
      concat_phone = #{record.concatPhone,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      from_busi_id = #{record.fromBusiId,jdbcType=VARCHAR},
      reply_status = #{record.replyStatus,jdbcType=VARCHAR},
      reply_user_account = #{record.replyUserAccount,jdbcType=VARCHAR},
      reply_time = #{record.replyTime,jdbcType=TIMESTAMP},
      reply_message = #{record.replyMessage,jdbcType=VARCHAR},
      solution_status = #{record.solutionStatus,jdbcType=VARCHAR},
      record_status = #{record.recordStatus,jdbcType=TINYINT},
      creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jn.park.sp.entity.TbSpMessage">
    update tb_sp_message
    <set>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="concatName != null">
        concat_name = #{concatName,jdbcType=VARCHAR},
      </if>
      <if test="concatPhone != null">
        concat_phone = #{concatPhone,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="fromBusiId != null">
        from_busi_id = #{fromBusiId,jdbcType=VARCHAR},
      </if>
      <if test="replyStatus != null">
        reply_status = #{replyStatus,jdbcType=VARCHAR},
      </if>
      <if test="replyUserAccount != null">
        reply_user_account = #{replyUserAccount,jdbcType=VARCHAR},
      </if>
      <if test="replyTime != null">
        reply_time = #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyMessage != null">
        reply_message = #{replyMessage,jdbcType=VARCHAR},
      </if>
      <if test="solutionStatus != null">
        solution_status = #{solutionStatus,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorAccount != null">
        creator_account = #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jn.park.sp.entity.TbSpMessage">
    update tb_sp_message
    set company_name = #{companyName,jdbcType=VARCHAR},
      concat_name = #{concatName,jdbcType=VARCHAR},
      concat_phone = #{concatPhone,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      from_busi_id = #{fromBusiId,jdbcType=VARCHAR},
      reply_status = #{replyStatus,jdbcType=VARCHAR},
      reply_user_account = #{replyUserAccount,jdbcType=VARCHAR},
      reply_time = #{replyTime,jdbcType=TIMESTAMP},
      reply_message = #{replyMessage,jdbcType=VARCHAR},
      solution_status = #{solutionStatus,jdbcType=VARCHAR},
      record_status = #{recordStatus,jdbcType=TINYINT},
      creator_account = #{creatorAccount,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      message = #{message,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jn.park.sp.entity.TbSpMessage">
    update tb_sp_message
    set company_name = #{companyName,jdbcType=VARCHAR},
      concat_name = #{concatName,jdbcType=VARCHAR},
      concat_phone = #{concatPhone,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      from_busi_id = #{fromBusiId,jdbcType=VARCHAR},
      reply_status = #{replyStatus,jdbcType=VARCHAR},
      reply_user_account = #{replyUserAccount,jdbcType=VARCHAR},
      reply_time = #{replyTime,jdbcType=TIMESTAMP},
      reply_message = #{replyMessage,jdbcType=VARCHAR},
      solution_status = #{solutionStatus,jdbcType=VARCHAR},
      record_status = #{recordStatus,jdbcType=TINYINT},
      creator_account = #{creatorAccount,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>