<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.user.point.dao.TbPointRuleMapper">
  <resultMap id="BaseResultMap" type="com.jn.user.point.entity.TbPointRule">
    <id column="rule_id" jdbcType="VARCHAR" property="ruleId" />
    <result column="rule_code" jdbcType="VARCHAR" property="ruleCode" />
    <result column="rule_name" jdbcType="VARCHAR" property="ruleName" />
    <result column="integral_num" jdbcType="DOUBLE" property="integralNum" />
    <result column="integral_cycle" jdbcType="INTEGER" property="integralCycle" />
    <result column="cycle_unit_num" jdbcType="INTEGER" property="cycleUnitNum" />
    <result column="cycle_unit" jdbcType="VARCHAR" property="cycleUnit" />
    <result column="cycle_status" jdbcType="VARCHAR" property="cycleStatus" />
    <result column="integral_count_num" jdbcType="INTEGER" property="integralCountNum" />
    <result column="rule_type" jdbcType="VARCHAR" property="ruleType" />
    <result column="is_status" jdbcType="VARCHAR" property="isStatus" />
    <result column="creator_account" jdbcType="VARCHAR" property="creatorAccount" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
    <result column="record_status" jdbcType="TINYINT" property="recordStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    rule_id, rule_code, rule_name, integral_num, integral_cycle, cycle_unit_num, cycle_unit, 
    cycle_status, integral_count_num, rule_type, is_status, creator_account, modified_time, 
    modifier_account, record_status
  </sql>
  <select id="selectByExample" parameterType="com.jn.user.point.entity.TbPointRuleCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_point_rule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_point_rule
    where rule_id = #{ruleId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_point_rule
    where rule_id = #{ruleId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jn.user.point.entity.TbPointRuleCriteria">
    delete from tb_point_rule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.user.point.entity.TbPointRule">
    insert into tb_point_rule (rule_id, rule_code, rule_name, 
      integral_num, integral_cycle, cycle_unit_num, 
      cycle_unit, cycle_status, integral_count_num, 
      rule_type, is_status, creator_account, 
      modified_time, modifier_account, record_status
      )
    values (#{ruleId,jdbcType=VARCHAR}, #{ruleCode,jdbcType=VARCHAR}, #{ruleName,jdbcType=VARCHAR}, 
      #{integralNum,jdbcType=DOUBLE}, #{integralCycle,jdbcType=INTEGER}, #{cycleUnitNum,jdbcType=INTEGER}, 
      #{cycleUnit,jdbcType=VARCHAR}, #{cycleStatus,jdbcType=VARCHAR}, #{integralCountNum,jdbcType=INTEGER}, 
      #{ruleType,jdbcType=VARCHAR}, #{isStatus,jdbcType=VARCHAR}, #{creatorAccount,jdbcType=VARCHAR}, 
      #{modifiedTime,jdbcType=TIMESTAMP}, #{modifierAccount,jdbcType=VARCHAR}, #{recordStatus,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jn.user.point.entity.TbPointRule">
    insert into tb_point_rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ruleId != null">
        rule_id,
      </if>
      <if test="ruleCode != null">
        rule_code,
      </if>
      <if test="ruleName != null">
        rule_name,
      </if>
      <if test="integralNum != null">
        integral_num,
      </if>
      <if test="integralCycle != null">
        integral_cycle,
      </if>
      <if test="cycleUnitNum != null">
        cycle_unit_num,
      </if>
      <if test="cycleUnit != null">
        cycle_unit,
      </if>
      <if test="cycleStatus != null">
        cycle_status,
      </if>
      <if test="integralCountNum != null">
        integral_count_num,
      </if>
      <if test="ruleType != null">
        rule_type,
      </if>
      <if test="isStatus != null">
        is_status,
      </if>
      <if test="creatorAccount != null">
        creator_account,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="modifierAccount != null">
        modifier_account,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ruleId != null">
        #{ruleId,jdbcType=VARCHAR},
      </if>
      <if test="ruleCode != null">
        #{ruleCode,jdbcType=VARCHAR},
      </if>
      <if test="ruleName != null">
        #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="integralNum != null">
        #{integralNum,jdbcType=DOUBLE},
      </if>
      <if test="integralCycle != null">
        #{integralCycle,jdbcType=INTEGER},
      </if>
      <if test="cycleUnitNum != null">
        #{cycleUnitNum,jdbcType=INTEGER},
      </if>
      <if test="cycleUnit != null">
        #{cycleUnit,jdbcType=VARCHAR},
      </if>
      <if test="cycleStatus != null">
        #{cycleStatus,jdbcType=VARCHAR},
      </if>
      <if test="integralCountNum != null">
        #{integralCountNum,jdbcType=INTEGER},
      </if>
      <if test="ruleType != null">
        #{ruleType,jdbcType=VARCHAR},
      </if>
      <if test="isStatus != null">
        #{isStatus,jdbcType=VARCHAR},
      </if>
      <if test="creatorAccount != null">
        #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.user.point.entity.TbPointRuleCriteria" resultType="java.lang.Long">
    select count(*) from tb_point_rule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_point_rule
    <set>
      <if test="record.ruleId != null">
        rule_id = #{record.ruleId,jdbcType=VARCHAR},
      </if>
      <if test="record.ruleCode != null">
        rule_code = #{record.ruleCode,jdbcType=VARCHAR},
      </if>
      <if test="record.ruleName != null">
        rule_name = #{record.ruleName,jdbcType=VARCHAR},
      </if>
      <if test="record.integralNum != null">
        integral_num = #{record.integralNum,jdbcType=DOUBLE},
      </if>
      <if test="record.integralCycle != null">
        integral_cycle = #{record.integralCycle,jdbcType=INTEGER},
      </if>
      <if test="record.cycleUnitNum != null">
        cycle_unit_num = #{record.cycleUnitNum,jdbcType=INTEGER},
      </if>
      <if test="record.cycleUnit != null">
        cycle_unit = #{record.cycleUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.cycleStatus != null">
        cycle_status = #{record.cycleStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.integralCountNum != null">
        integral_count_num = #{record.integralCountNum,jdbcType=INTEGER},
      </if>
      <if test="record.ruleType != null">
        rule_type = #{record.ruleType,jdbcType=VARCHAR},
      </if>
      <if test="record.isStatus != null">
        is_status = #{record.isStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.creatorAccount != null">
        creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedTime != null">
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifierAccount != null">
        modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        record_status = #{record.recordStatus,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_point_rule
    set rule_id = #{record.ruleId,jdbcType=VARCHAR},
      rule_code = #{record.ruleCode,jdbcType=VARCHAR},
      rule_name = #{record.ruleName,jdbcType=VARCHAR},
      integral_num = #{record.integralNum,jdbcType=DOUBLE},
      integral_cycle = #{record.integralCycle,jdbcType=INTEGER},
      cycle_unit_num = #{record.cycleUnitNum,jdbcType=INTEGER},
      cycle_unit = #{record.cycleUnit,jdbcType=VARCHAR},
      cycle_status = #{record.cycleStatus,jdbcType=VARCHAR},
      integral_count_num = #{record.integralCountNum,jdbcType=INTEGER},
      rule_type = #{record.ruleType,jdbcType=VARCHAR},
      is_status = #{record.isStatus,jdbcType=VARCHAR},
      creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      record_status = #{record.recordStatus,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jn.user.point.entity.TbPointRule">
    update tb_point_rule
    <set>
      <if test="ruleCode != null">
        rule_code = #{ruleCode,jdbcType=VARCHAR},
      </if>
      <if test="ruleName != null">
        rule_name = #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="integralNum != null">
        integral_num = #{integralNum,jdbcType=DOUBLE},
      </if>
      <if test="integralCycle != null">
        integral_cycle = #{integralCycle,jdbcType=INTEGER},
      </if>
      <if test="cycleUnitNum != null">
        cycle_unit_num = #{cycleUnitNum,jdbcType=INTEGER},
      </if>
      <if test="cycleUnit != null">
        cycle_unit = #{cycleUnit,jdbcType=VARCHAR},
      </if>
      <if test="cycleStatus != null">
        cycle_status = #{cycleStatus,jdbcType=VARCHAR},
      </if>
      <if test="integralCountNum != null">
        integral_count_num = #{integralCountNum,jdbcType=INTEGER},
      </if>
      <if test="ruleType != null">
        rule_type = #{ruleType,jdbcType=VARCHAR},
      </if>
      <if test="isStatus != null">
        is_status = #{isStatus,jdbcType=VARCHAR},
      </if>
      <if test="creatorAccount != null">
        creator_account = #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=TINYINT},
      </if>
    </set>
    where rule_id = #{ruleId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jn.user.point.entity.TbPointRule">
    update tb_point_rule
    set rule_code = #{ruleCode,jdbcType=VARCHAR},
      rule_name = #{ruleName,jdbcType=VARCHAR},
      integral_num = #{integralNum,jdbcType=DOUBLE},
      integral_cycle = #{integralCycle,jdbcType=INTEGER},
      cycle_unit_num = #{cycleUnitNum,jdbcType=INTEGER},
      cycle_unit = #{cycleUnit,jdbcType=VARCHAR},
      cycle_status = #{cycleStatus,jdbcType=VARCHAR},
      integral_count_num = #{integralCountNum,jdbcType=INTEGER},
      rule_type = #{ruleType,jdbcType=VARCHAR},
      is_status = #{isStatus,jdbcType=VARCHAR},
      creator_account = #{creatorAccount,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      record_status = #{recordStatus,jdbcType=TINYINT}
    where rule_id = #{ruleId,jdbcType=VARCHAR}
  </update>
</mapper>