<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.user.point.dao.TbUserPointDetailMapper">
  <resultMap id="BaseResultMap" type="com.jn.user.point.entity.TbUserPointDetail">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="rule_type_name" jdbcType="VARCHAR" property="ruleTypeName" />
    <result column="rule_type_id" jdbcType="VARCHAR" property="ruleTypeId" />
    <result column="point_type" jdbcType="VARCHAR" property="pointType" />
    <result column="point_num" jdbcType="DOUBLE" property="pointNum" />
    <result column="point_balance" jdbcType="DOUBLE" property="pointBalance" />
    <result column="point_income_id" jdbcType="VARCHAR" property="pointIncomeId" />
    <result column="point_order_id" jdbcType="VARCHAR" property="pointOrderId" />
    <result column="point_status" jdbcType="VARCHAR" property="pointStatus" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="creator_account" jdbcType="VARCHAR" property="creatorAccount" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
    <result column="record_status" jdbcType="TINYINT" property="recordStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_account, rule_type_name, rule_type_id, point_type, point_num, point_balance, 
    point_income_id, point_order_id, point_status, created_time, creator_account, modified_time, 
    modifier_account, record_status
  </sql>
  <select id="selectByExample" parameterType="com.jn.user.point.entity.TbUserPointDetailCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_user_point_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_user_point_detail
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_user_point_detail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jn.user.point.entity.TbUserPointDetailCriteria">
    delete from tb_user_point_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.user.point.entity.TbUserPointDetail">
    insert into tb_user_point_detail (id, user_account, rule_type_name, 
      rule_type_id, point_type, point_num, 
      point_balance, point_income_id, point_order_id, 
      point_status, created_time, creator_account, 
      modified_time, modifier_account, record_status
      )
    values (#{id,jdbcType=VARCHAR}, #{userAccount,jdbcType=VARCHAR}, #{ruleTypeName,jdbcType=VARCHAR}, 
      #{ruleTypeId,jdbcType=VARCHAR}, #{pointType,jdbcType=VARCHAR}, #{pointNum,jdbcType=DOUBLE}, 
      #{pointBalance,jdbcType=DOUBLE}, #{pointIncomeId,jdbcType=VARCHAR}, #{pointOrderId,jdbcType=VARCHAR}, 
      #{pointStatus,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{creatorAccount,jdbcType=VARCHAR}, 
      #{modifiedTime,jdbcType=TIMESTAMP}, #{modifierAccount,jdbcType=VARCHAR}, #{recordStatus,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jn.user.point.entity.TbUserPointDetail">
    insert into tb_user_point_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userAccount != null">
        user_account,
      </if>
      <if test="ruleTypeName != null">
        rule_type_name,
      </if>
      <if test="ruleTypeId != null">
        rule_type_id,
      </if>
      <if test="pointType != null">
        point_type,
      </if>
      <if test="pointNum != null">
        point_num,
      </if>
      <if test="pointBalance != null">
        point_balance,
      </if>
      <if test="pointIncomeId != null">
        point_income_id,
      </if>
      <if test="pointOrderId != null">
        point_order_id,
      </if>
      <if test="pointStatus != null">
        point_status,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="creatorAccount != null">
        creator_account,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="modifierAccount != null">
        modifier_account,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userAccount != null">
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="ruleTypeName != null">
        #{ruleTypeName,jdbcType=VARCHAR},
      </if>
      <if test="ruleTypeId != null">
        #{ruleTypeId,jdbcType=VARCHAR},
      </if>
      <if test="pointType != null">
        #{pointType,jdbcType=VARCHAR},
      </if>
      <if test="pointNum != null">
        #{pointNum,jdbcType=DOUBLE},
      </if>
      <if test="pointBalance != null">
        #{pointBalance,jdbcType=DOUBLE},
      </if>
      <if test="pointIncomeId != null">
        #{pointIncomeId,jdbcType=VARCHAR},
      </if>
      <if test="pointOrderId != null">
        #{pointOrderId,jdbcType=VARCHAR},
      </if>
      <if test="pointStatus != null">
        #{pointStatus,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorAccount != null">
        #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.user.point.entity.TbUserPointDetailCriteria" resultType="java.lang.Long">
    select count(*) from tb_user_point_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_user_point_detail
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.userAccount != null">
        user_account = #{record.userAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.ruleTypeName != null">
        rule_type_name = #{record.ruleTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.ruleTypeId != null">
        rule_type_id = #{record.ruleTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.pointType != null">
        point_type = #{record.pointType,jdbcType=VARCHAR},
      </if>
      <if test="record.pointNum != null">
        point_num = #{record.pointNum,jdbcType=DOUBLE},
      </if>
      <if test="record.pointBalance != null">
        point_balance = #{record.pointBalance,jdbcType=DOUBLE},
      </if>
      <if test="record.pointIncomeId != null">
        point_income_id = #{record.pointIncomeId,jdbcType=VARCHAR},
      </if>
      <if test="record.pointOrderId != null">
        point_order_id = #{record.pointOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.pointStatus != null">
        point_status = #{record.pointStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creatorAccount != null">
        creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedTime != null">
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifierAccount != null">
        modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        record_status = #{record.recordStatus,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_user_point_detail
    set id = #{record.id,jdbcType=VARCHAR},
      user_account = #{record.userAccount,jdbcType=VARCHAR},
      rule_type_name = #{record.ruleTypeName,jdbcType=VARCHAR},
      rule_type_id = #{record.ruleTypeId,jdbcType=VARCHAR},
      point_type = #{record.pointType,jdbcType=VARCHAR},
      point_num = #{record.pointNum,jdbcType=DOUBLE},
      point_balance = #{record.pointBalance,jdbcType=DOUBLE},
      point_income_id = #{record.pointIncomeId,jdbcType=VARCHAR},
      point_order_id = #{record.pointOrderId,jdbcType=VARCHAR},
      point_status = #{record.pointStatus,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      record_status = #{record.recordStatus,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jn.user.point.entity.TbUserPointDetail">
    update tb_user_point_detail
    <set>
      <if test="userAccount != null">
        user_account = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="ruleTypeName != null">
        rule_type_name = #{ruleTypeName,jdbcType=VARCHAR},
      </if>
      <if test="ruleTypeId != null">
        rule_type_id = #{ruleTypeId,jdbcType=VARCHAR},
      </if>
      <if test="pointType != null">
        point_type = #{pointType,jdbcType=VARCHAR},
      </if>
      <if test="pointNum != null">
        point_num = #{pointNum,jdbcType=DOUBLE},
      </if>
      <if test="pointBalance != null">
        point_balance = #{pointBalance,jdbcType=DOUBLE},
      </if>
      <if test="pointIncomeId != null">
        point_income_id = #{pointIncomeId,jdbcType=VARCHAR},
      </if>
      <if test="pointOrderId != null">
        point_order_id = #{pointOrderId,jdbcType=VARCHAR},
      </if>
      <if test="pointStatus != null">
        point_status = #{pointStatus,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorAccount != null">
        creator_account = #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jn.user.point.entity.TbUserPointDetail">
    update tb_user_point_detail
    set user_account = #{userAccount,jdbcType=VARCHAR},
      rule_type_name = #{ruleTypeName,jdbcType=VARCHAR},
      rule_type_id = #{ruleTypeId,jdbcType=VARCHAR},
      point_type = #{pointType,jdbcType=VARCHAR},
      point_num = #{pointNum,jdbcType=DOUBLE},
      point_balance = #{pointBalance,jdbcType=DOUBLE},
      point_income_id = #{pointIncomeId,jdbcType=VARCHAR},
      point_order_id = #{pointOrderId,jdbcType=VARCHAR},
      point_status = #{pointStatus,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      creator_account = #{creatorAccount,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      record_status = #{recordStatus,jdbcType=TINYINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>