<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.park.activity.dao.ActivityApplyMapper">
   <select id="findApplyActivityList" resultType="com.jn.park.activity.model.ActivityApplyDetail">
        select
        ta.id as "id",                                                      <!--签到信息id-->
        ta.creator_account as "account",									<!--签到人账号-->
        ta.sign_status as "signStatus",                                     <!--签到状态-->
        ta.apply_status as "applyStatus",                                   <!--报名状态-->
        ta.activity_Id as "activityId",                                     <!--活动ID-->
        date_format(ta.created_time, '%Y-%m-%d %H:%i:%s') as "applyTime",     <!--报名时间-->
        date_format(ta.sign_time, '%Y-%m-%d %H:%i:%s') as "signTime"        <!--签到时间-->
        from tb_activity_apply ta
        where
        1=1
        and ta.record_status = '1'
        <if test="activityId !=null and activityId !='' ">
            and ta.activity_id=#{activityId}
        </if>
        <if test="applyStatus !=null and applyStatus !='' ">
            and ta.apply_status = #{applyStatus}
        </if>

    </select>

    <select id="findApplyAccountList" resultType="com.jn.park.activity.model.ActivityApplyDetail">
        select
        ta.id as "id",                                                      <!--签到信息id-->
        ta.activity_id as "activityId",                                     <!--活动ID-->
        ta.creator_account as "account"     									    <!--签到人账号-->
        from tb_activity_apply ta
        where
        1=1
        and ta.apply_status = '1'
        and ta.record_status = '1'
        <if test="list != null and list.size()>0">
            and ta.activity_id in
            <foreach collection="list" index="index"  item = "item" open="(" close=")" separator=",">
                #{item}
            </foreach>

        </if>

    </select>

    <!--获取企业报报名活动信息-->
    <select id="getCompanyActivityApplyInfo"  resultType="com.jn.park.activity.model.CompanyActivityApplyShow">
        select
            sa.creator_account as "applyAccount"  <!--报名人账号-->
            ,sa.created_time as "applyTime"       <!--报名时间-->
            ,sta.acti_name as "activityTitle"     <!--活动标题-->
        from tb_activity_apply sa
        left join tb_activity sta
        on sa.activity_id=sta.id
        where 1=1
        and sa.record_status=1
        and sa.apply_status='1'    <!--报名成功-->
        and sa.sign_status='1'     <!--已签到-->
        <if test="param.startTime !=null and param.startTime !='' ">
            and date_format(sa.created_time,'%Y-%m-%d')&gt;=#{param.startTime}
        </if>
        <if test="param.endTime !=null and param.endTime !='' ">
            and date_format(sa.created_time,'%Y-%m-%d')&lt;=#{param.endTime}
        </if>
        <if test="accountList!=null">
            and sa.creator_account in
            <foreach collection="accountList" item="account" index="index" open="(" close=")" separator=",">
                #{account}
            </foreach>
        </if>
    </select>
</mapper>