<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.park.activity.dao.ActivityMapper">
    <select id="selectActivityList" parameterType="com.jn.park.activity.model.ActivityContent" resultType="com.jn.park.activity.model.Activity">
        select a.id as "id", a.acti_type as "actiType", a.acti_name as "actiName",
        date_format(a.acti_start_time,'%Y-%m-%d %H:%i:%S') as "actiStartTime",
        date_format(a.acti_end_time,'%Y-%m-%d %H:%i:%S') as "actiEndTime",
        date_format(a.apply_start_time,'%Y-%m-%d %H:%i:%S') as "applyStartTime",
        date_format(a.apply_end_time,'%Y-%m-%d %H:%i:%S') as "applyEndTime",
        date_format(a.mes_send_time,'%Y-%m-%d %H:%i:%S') as "mesSendTime",
        a.acti_address as "actiAddress",a.acti_status as "actiStatus",a.is_index as "isIndex",
        a.acti_cost as "actiCost", a.acti_organizer as "actiOrganizer",
        a.acti_number as "actiNumber", a.acti_poster_url as "actiPosterUrl",
        date_format(a.created_time,'%Y-%m-%d %H:%i:%S') as "createdTime", a.creator_account as "creatorAccount",
        date_format(a.modified_time,'%Y-%m-%d %H:%i:%S') as "modifiedTime", a.modifier_account as "modifierAccount",
        a.acti_views as "actiViews", a.acti_like as "actiLike", a.apply_num as "applyNum",
        a.partic_num as "particNum",a.is_apply as "isApply",a.park_id as "parkId",co.code_name as "parkName",
        a.acti_order as "actiOrder",t.type_name as "typeName",a.show_apply_num as "showApplyNum",a.apply_check as "applyCheck"
        from tb_activity a left join tb_activity_type t on a.acti_type = t.type_id left join tb_park_code co on co.id = a.park_id
        where 1=1  and a.record_status != '0'
        <if test="actiType != null and actiType != ''">
            and a.acti_type = #{actiType}
        </if>
        <if test="actiStatus != null and actiStatus != ''">
            and a.acti_status = #{actiStatus}
        </if>
        <if test="actiName != null and actiName != ''">
            and a.acti_name LIKE concat(concat('%',#{actiName}),'%')
        </if>
        <if test="isIndex != null and isIndex!= ''">
            and a.is_index = #{isIndex}
        </if>
        <if test="actiAddress != null and actiAddress != ''">
            and a.acti_address = #{actiAddress}
        </if>
        <if test="actiCost != null and actiCost != ''">
            and a.acti_cost = #{actiCost}
        </if>
        <if test="actiOrganizer != null and actiOrganizer != ''">
            and a.acti_organizer = #{actiOrganizer}
        </if>
        <if test="showApplyNum != null and showApplyNum != ''">
            and a.show_apply_num = #{showApplyNum}
        </if>
        order by a.created_time desc
    </select>

    <select id="activityListSlim" resultType="com.jn.park.activity.model.ActivitySlim">
          select
            ta.id as "id"                                                                                 <!--活动id-->
            ,ta.acti_name as "actiName"                                                                   <!--活动名称-->
            ,ta.acti_address as "actiAddress"                                                             <!--活动地址-->
            ,ta.acti_status as "actiStatus"                                                               <!--活动状态-->
            ,date_format(ta.acti_start_time,'%Y-%m-%d %H:%i:%s') as "actiStartTime"                       <!--活动开始时间-->
            ,date_format(ta.acti_end_time,'%Y-%m-%d %H:%i:%s') as "actiEndTime"                           <!--活动结束时间-->
            ,ta.apply_num as "applyNum"                                                                   <!--活动报名人数-->
            ,ta.acti_like as "actiLike"                                                                   <!--活动点赞人数-->
            ,ta.acti_number as "actiNumber"                                                               <!--活动人数-->
            ,ta.acti_poster_url as "actiPosterUrl"                                                        <!--活动海报路径-->
            ,ta.show_apply_num as "showApplyNum"
            from tb_activity ta
            left join tb_activity_detail td on td.activity_id = ta.id
            where 1=1
            and ta.acti_status  not in ('1','5')                                                        <!--不展示活动状态为草稿(status=1),和已删除的的活动(status=5)-->
            and ta.record_status != 0
            <if test="typeId != null and typeId !=''">
                and  ta.acti_type = #{typeId,jdbcType=VARCHAR}
            </if>
            <if test="startTime != null and startTime != ''">
                and ta.acti_start_time &gt;= concat(#{startTime,jdbcType=VARCHAR}," 00:00:00")
            </if>
            <if test="endTime != null and endTime != ''">
                and ta.acti_start_time &lt;=   concat(#{endTime,jdbcType=VARCHAR}," 23:59:59")
            </if>

            <if test="keyWord != null and keyWord !=''">
            and ta.acti_name LIKE concat('%',#{keyWord},'%')
            or ta.acti_address LIKE concat('%',#{keyWord},'%')
            or td.acti_detail LIKE concat('%',#{keyWord},'%')
            </if>
        order by
        <if test = "orderBy != null and orderBy != ''">
            ${orderBy} desc,
        </if>
        ta.acti_order desc
    </select>

    <select id="findActivitySuccessfulRegistration" resultType="com.jn.park.activity.model.ActivityListApply">
      select
        t1.id as "id"
        ,t1.acti_name as "actiName"
        ,t3.type_name as "typeName"
        ,t1.acti_cost as "actiCost"
        ,t1.acti_organizer as "actiOrganizer"
        ,t2.code_name as "parkName"
        ,t1.acti_address as "actiAddress"
        , date_format(t1.acti_start_time,'%Y-%m-%d %H:%i:%s') as "actiStartTime"
        ,t1.acti_status as "actiStatus"

        from tb_activity t1
            left join tb_park_code t2 on t2.id =t1.park_id
            left join tb_activity_type t3 on t3.type_id = t1.acti_type
            where t1.record_status ='1' and t1.acti_status != '1' and  t1.id in (
            select activity_id from tb_activity_apply where creator_account = #{account} and apply_status=#{applyStatus}
            )
            <if test = "actiName != null and actiName != '' ">
                and t1.acti_name like  concat('%', #{actiName},'%')
            </if>
    </select>

    <!--机构活动列表-->
    <select id="findOrgActivityList" resultType="com.jn.park.activity.model.OrgActivityShow">
        select
        ta.id as "id"                                                                                 <!--活动id-->
        ,ta.acti_name as "actiName"                                                                   <!--活动名称-->
        ,ta.acti_address as "actiAddress"                                                             <!--活动地址-->
        ,date_format(ta.acti_start_time,'%Y-%m-%d %H:%i:%s') as "actiStartTime"                       <!--活动开始时间-->
        ,date_format(ta.acti_end_time,'%Y-%m-%d %H:%i:%s') as "actiEndTime"                           <!--活动结束时间-->
        ,ta.apply_num as "applyNum"                                                                   <!--活动报名人数-->
        ,ta.acti_like as "actiLike"                                                                   <!--活动点赞人数-->
        ,ta.acti_number as "actiNumber"                                                               <!--活动人数-->
        ,ta.acti_poster_url as "actiPosterUrl"                                                        <!--活动海报路径-->
        ,ta.show_apply_num as "showApplyNum"                                                          <!--报名人人数-->
        ,ta.acti_status as "actiStatus"                                                               <!--活动状态-->
        ,(select count(1) from tb_activity ta1 where ta1.acti_status  not in ('1','5')
                  and ta1.record_status != 0
                  and ta1.acti_type = #{activityType,jdbcType=VARCHAR}) as "actiNum"  <!--活动总数-->
        ,(select count(1) from tb_activity ta2 where ta2.acti_status  not in ('1','5')
        and ta2.record_status != 0
        and ta2.acti_type = #{activityType,jdbcType=VARCHAR}
        and ta2.acti_start_time &gt; date_add(now(), interval -1 week)
        and ta2.acti_start_time &lt; date_add(now(), interval 1 day)) as "weekNum"   <!--最近一周活动数-->
        ,(select count(1) from tb_activity ta3 where ta3.acti_status  not in ('1','5')
        and ta3.record_status != 0
        and ta3.acti_type = #{activityType,jdbcType=VARCHAR}
        and ta3.acti_start_time  &gt; date_add(now(), interval -1 month )
        and ta3.acti_start_time &lt; date_add(now(), interval 1 day)) as "monthNum"  <!--最近一月活动数-->
        from tb_activity ta
        left join tb_activity_detail td on td.activity_id = ta.id
        where 1=1
        and ta.acti_status  not in ('1','5')                                                        <!--不展示活动状态为草稿(status=1),和已删除的的活动(status=5)-->
        and ta.record_status != 0
        <if test="activityType != null and activityType !=''">
            and  ta.acti_type = #{activityType,jdbcType=VARCHAR}
        </if>
        <if test="startTime != null and startTime != ''">
            and ta.acti_start_time &gt;= concat(#{startTime,jdbcType=VARCHAR}," 00:00:00")
        </if>
        <if test="endTime != null and endTime != ''">
            and ta.acti_start_time &lt;=   concat(#{endTime,jdbcType=VARCHAR}," 23:59:59")
        </if>
        <if test="timeInterval == 2">
            and  ta.acti_start_time &gt; date_add(now(), interval -1 week)
            and ta.acti_start_time &lt; date_add(now(), interval 1 day)
        </if>
        <if test="timeInterval == 1">
            and  ta.acti_start_time  &gt; date_add(now(), interval -1 month )
            and ta.acti_start_time &lt; date_add(now(), interval 1 day)
        </if>
        order by ta.acti_start_time desc,  ta.acti_order desc
    </select>

</mapper>