<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.park.fileimg.dao.FileImgMapper">
    <!--批量插入服务机构特性值-->
    <insert id="insertFileList" parameterType="java.util.List">
        insert into tb_file_img (img_id,topic_id,img_url,img_remark,
        created_time,creator_account,modified_time,modifier_account,record_status)
        select A.* from(
        <foreach collection="list" item="item" index="index" open="" close="" separator="union all">
            ( select #{item.imgId,jdbcType=VARCHAR} as "imgId"
            ,#{item.topicId,jdbcType=VARCHAR} as "topicId"
            ,#{item.imgUrl,jdbcType=VARCHAR} as "imgUrl"
            ,#{item.imgRemark,jdbcType=VARCHAR} as "imgRemark"
            ,#{item.createdTime,jdbcType=TIMESTAMP} as "createdTime"
            ,#{item.creatorAccount,jdbcType=VARCHAR} as "creatorAccount"
            ,#{item.modifiedTime,jdbcType=TIMESTAMP} as "modifiedTime"
            ,#{item.modifierAccount,jdbcType=VARCHAR} as "modifierAccount"
            ,#{item.recordStatus,jdbcType=TINYINT} as "recordStatus"
            from dual )
        </foreach>
        )A
    </insert>

</mapper>