<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.hr.attendance.dao.AttendanceManagementMapper">
    <select id="list" parameterType="com.jn.hr.attendance.model.AttendanceManagementPage"
		resultType="com.jn.hr.attendance.model.AttendanceManagementVo">
		SELECT job_number, department_id, department,name, user_id, sum(attendance) attendance, 
      sum(late),sum(leave_early) leave_early,sum(start_miss_card) start_miss_card, 
     sum(end_miss_card)  end_miss_card,sum(absenteeism) absenteeism,sum(compassionate_leave) compassionate_leave, 
      sum(sick_leave) sick_leave, sum(marriage_holiday) marriage_holiday,sum(funeral_leave) funeral_leave, 
     sum(maternity_leave) maternity_leave,sum(annual_leave) annual_leave FROM tb_manpower_attendance_management t1
		where 1=1
		<if test="@org.apache.commons.lang.StringUtils@isNotBlank(department)">
			and t1.department = #{department,jdbcType=VARCHAR}
		</if>
		<if test="@org.apache.commons.lang.StringUtils@isNotBlank(departmentId)">
			and t1.department_id = #{departmentId,jdbcType=VARCHAR}
		</if>
		<if test="@org.apache.commons.lang.StringUtils@isNotBlank(name)">
			and t1.name like concat('%',#{name},'%')
		</if>
		<if test="@org.apache.commons.lang.StringUtils@isNotBlank(startTime)">
			and t1.attendance_date &gt;= #{startTime,jdbcType=VARCHAR}
		</if>
		<if test="@org.apache.commons.lang.StringUtils@isNotBlank(endTime)">
			and t1.attendance_date &lt;= #{endTime,jdbcType=VARCHAR}
		</if>
		group by job_number
	</select>
	
	<select id="selectByTime" parameterType="com.jn.hr.attendance.model.AttendanceManagementPage"
		resultType="com.jn.hr.attendance.model.AttendanceManagementVo">
		SELECT job_number, department_id, department,name, user_id, sum(attendance) attendance, 
      sum(late),sum(leave_early) leave_early,sum(start_miss_card) start_miss_card, 
     sum(end_miss_card)  end_miss_card,sum(absenteeism) absenteeism,sum(compassionate_leave) compassionate_leave, 
      sum(sick_leave) sick_leave, sum(marriage_holiday) marriage_holiday,sum(funeral_leave) funeral_leave, 
     sum(maternity_leave) maternity_leave,sum(annual_leave) annual_leave FROM tb_manpower_attendance_management t1
		where 1=1
		<if test="@org.apache.commons.lang.StringUtils@isNotBlank(department)">
			and t1.department = #{department,jdbcType=VARCHAR}
		</if>
		<if test="@org.apache.commons.lang.StringUtils@isNotBlank(name)">
			and t1.name like concat('%',#{name},'%')
		</if>
		<if test="@org.apache.commons.lang.StringUtils@isNotBlank(startTime)">
			and t1.attendance_date &gt;= #{startTime,jdbcType=VARCHAR}
		</if>
		<if test="@org.apache.commons.lang.StringUtils@isNotBlank(endTime)">
			and t1.attendance_date &lt;= #{endTime,jdbcType=VARCHAR}
		</if>
		group by attendance_date
	</select>
	
	<insert id="insertBatch" parameterType="java.util.List">
        insert into tb_manpower_attendance_management
        (id, job_number, department_id, department, 
      name, user_id, attendance, 
      late, leave_early, start_miss_card, 
      end_miss_card, absenteeism, compassionate_leave, 
      sick_leave, marriage_holiday, funeral_leave, 
      maternity_leave, annual_leave, attendance_date
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id}, #{item.jobNumber}, #{item.departmentId}, #{item.department}, 
      #{item.name}, #{item.userId}, #{item.attendance}, 
      #{item.late}, #{item.leaveEarly}, #{item.startMissCard}, 
      #{item.endMissCard}, #{item.absenteeism}, #{item.compassionateLeave}, 
      #{item.sickLeave}, #{item.marriageHoliday}, #{item.funeralLeave}, 
      #{item.maternityLeave}, #{item.annualLeave}, #{item.attendanceDate}
            )
        </foreach>
    </insert>
</mapper>