<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.oa.item.dao.WorkPlanUserMapper">
    <insert id="insertBatch" parameterType="java.util.List">
        insert into tb_oa_work_plan_user
        (
        id, work_plan_id,responsible_user_account,record_status,creator_account,created_time
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id,jdbcType=VARCHAR},
            #{item.workPlanId,jdbcType=VARCHAR},
            #{item.responsibleUserAccount,jdbcType=VARCHAR},
            #{item.recordStatus,jdbcType=TINYINT},
            #{item.creatorAccount,jdbcType=VARCHAR},
            NOW())
        </foreach>
    </insert>

    <update id="delete" parameterType="java.lang.String">
        UPDATE `tb_oa_work_plan_user`
        SET record_status = '0',
         modifier_account = #{account,jdbcType=VARCHAR},
         modified_time = NOW()
        WHERE
            work_plan_id = #{workPlanId,jdbcType=VARCHAR};
    </update>

    <resultMap id="BaseResultMap" type="com.jn.oa.item.vo.WorkPlanRemindUserVO">
        <id column="userId" jdbcType="VARCHAR" property="userId"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>

        <collection property="workPlanRemainList" ofType="com.jn.oa.item.model.WorkPlanRemain">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="workPlanName" column="work_plan_name" jdbcType="VARCHAR"/>
            <result property="planEndTime" column="planEndTime" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>
    <select id="getRemindWorkPlan" resultType="com.jn.oa.item.vo.WorkPlanRemindUserVO" resultMap="BaseResultMap">
        SELECT
            t1.id,
            t1.work_plan_name,
            date_format(t1.plan_end_time,'%Y-%m-%d') as "planEndTime" ,
            t3.id as userId,
            t3.email
        FROM
            tb_oa_work_plan t1,
            tb_oa_work_plan_user t2,
            tb_sys_user t3
        WHERE
            t1.id = t2.work_plan_id
        AND t2.responsible_user_account = t3.account
        AND work_plan_status != '3'
        AND t1.record_status = 1
        AND t2.record_status = 1
        AND t3.record_status = 1
    </select>

</mapper>