<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.enterprise.servicemarket.advisor.dao.AdvisorMapper">
   <select id="getServiceConsultantList" parameterType="com.jn.enterprise.servicemarket.advisor.model.AdvisorQueryConditions" resultType="com.jn.enterprise.servicemarket.advisor.model.AdvisorListInfo">
       SELECT
       tt.orgId
       ,tt.advisorAccount
       ,tt.advisorName
       ,tt.businessArea
       ,tt.avatar
       ,tt.position
       ,tt.orgName
       ,tt.isCertification
       ,tt.goodAtBusiness
       ,tt.transactionNum
       ,tt.pageviews
       ,tt.attitudeScore
       ,tt.professionScore
       ,tt.responseScore
       ,tt.priceScore
       ,((tt.attitudeScore+tt.professionScore+tt.responseScore+tt.priceScore)/4)AS "evaluationLevel"  <!--评价等级-->
       ,tt.evaluationNum									      <!--评价次数-->
       ,((tt.attitudeScore+tt.professionScore+tt.responseScore+tt.priceScore)/4* #{praiseWeight}+tt.pageviews* #{popularityWeight} +tt.transactionNum* #{serviceWeight} + #{otherFactorScore} )AS "integratedSort"  <!--综合排序结果值-->
       FROM
       (
       SELECT
       sa.`org_id` AS "orgId"			   			                      <!-- 机构id-->
       ,sa.`advisor_account` AS "advisorAccount"  			              <!-- 顾问账号-->
       ,sa.`advisor_name` AS "advisorName"				                  <!-- 顾问名称-->
       ,sa.`business_area` AS "businessArea"				              <!-- 业务领域-->
       ,sa.`avatar` AS "avatar"					                          <!-- 头像-->
       ,sa.`position` AS "position"					                      <!-- 职务-->
       ,sa.`org_name` AS "orgName"					                      <!-- 所属机构名称-->
       ,sa.`is_certification` AS "isCertification"			              <!-- 是否认证-->
       ,sa.`good_at_business` AS "goodAtBusiness"			              <!-- 业务擅长-->
       ,IFNULL(sa.`transaction_num`,0) AS "transactionNum"			      <!-- 累计交易数-->
       ,IFNULL(sa.`pageviews`,0) AS "pageviews"					          <!-- 浏览量-->
       ,IFNULL(AVG(sr.`attitude_score`),0) AS "attitudeScore"		      <!-- 服务态度评分-->
       ,IFNULL(AVG(sr.`profession_score`),0) AS "professionScore"         <!-- 服务专业评分-->
       ,IFNULL(AVG(sr.`response_score`),0) AS "responseScore"		      <!-- 服务响应评分-->
       ,IFNULL(AVG(sr.`price_score`),0)AS "priceScore"			          <!-- 服务价格评分-->
       ,COUNT(sr.`attitude_score`) AS "evaluationNum"			          <!-- 评价次数-->
       FROM tb_service_advisor  sa
       LEFT JOIN tb_service_rating sr
       ON sa.`advisor_account` = sr.`comment_obj_id`
       GROUP BY
       sa.`org_id`,sa.`advisor_account`,sa.`advisor_name`,sa.`business_area`,
       sa.`avatar`,sa.`position`,sa.`org_name`,sa.`is_certification`,
       sa.`good_at_business`,sa.`transaction_num`,sa.`pageviews`
       )tt
       where 1=1
       <if test="domain !=null  and domain !=''">
           and tt.businessArea=#{domain}  <!-- 领域-->
       </if>
       <if test="keyWords !=null  and keyWords !=''">
           <!-- 关键词-->
           and (tt.advisorName like '%'||#{domain}||'%' or tt.position like '%'||#{domain}||'%')
       </if>
       <if test="sortTypes =='integrate'">
           ORDER BY <!-- 综合排序-->
           ((tt.attitudeScore+tt.professionScore+tt.responseScore+tt.priceScore)/4* #{praiseWeight}+tt.pageviews* #{popularityWeight} +tt.transactionNum* #{serviceWeight} + #{otherFactorScore} )  <!--综合排序结果值-->
       </if>
       <if test="sortTypes =='popularity'">
           ORDER BY <!-- 人气排序-->
           tt.pageviews    <!-- 浏览量-->
       </if>
       <if test="sortTypes =='praise'">
           ORDER BY  <!-- 好评排序-->
           ((tt.attitudeScore+tt.professionScore+tt.responseScore+tt.priceScore)/4)   <!--评价等级-->
       </if>
       <if test="sortTypes =='serviceNum'">
           ORDER BY <!-- 服务量排序-->
           tt.transactionNum  <!-- 累计交易数-->
       </if>
   </select>


</mapper>