<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.portals.activity.dao.TbActivityFileMapper">
  <resultMap id="BaseResultMap" type="com.jn.portals.activity.entity.TbActivityFile">
    <result column="activityFile_id" jdbcType="VARCHAR" property="id" />
    <result column="activityFile_type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="activityFile_file_src" jdbcType="VARCHAR" property="fileSrc" />
    <result column="activityFile_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="activityFile_update_account" jdbcType="VARCHAR" property="updateAccount" />
    <result column="activityFile_update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="activityFile_state" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    activityFile.id as activityFile_id, activityFile.type_id as activityFile_type_id, 
    activityFile.file_src as activityFile_file_src, activityFile.create_time as activityFile_create_time, 
    activityFile.update_account as activityFile_update_account, activityFile.update_time as activityFile_update_time, 
    activityFile.state as activityFile_state
  </sql>
  <select id="selectByExample" parameterType="com.jn.portals.activity.entity.TbActivityFileCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_activity_file activityFile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.jn.portals.activity.entity.TbActivityFileCriteria">
    delete from tb_activity_file activityFile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.portals.activity.entity.TbActivityFile">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_activity_file (type_id, file_src, create_time, 
      update_account, update_time, state
      )
    values (#{typeId,jdbcType=VARCHAR}, #{fileSrc,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateAccount,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{state,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jn.portals.activity.entity.TbActivityFile">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_activity_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        type_id,
      </if>
      <if test="fileSrc != null">
        file_src,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateAccount != null">
        update_account,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="fileSrc != null">
        #{fileSrc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAccount != null">
        #{updateAccount,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.portals.activity.entity.TbActivityFileCriteria" resultType="java.lang.Long">
    select count(*) from tb_activity_file activityFile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_activity_file activityFile
    <set>
      <if test="record.id != null">
        activityFile.id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.typeId != null">
        activityFile.type_id = #{record.typeId,jdbcType=VARCHAR},
      </if>
      <if test="record.fileSrc != null">
        activityFile.file_src = #{record.fileSrc,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        activityFile.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateAccount != null">
        activityFile.update_account = #{record.updateAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        activityFile.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.state != null">
        activityFile.state = #{record.state,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_activity_file activityFile
    set activityFile.id = #{record.id,jdbcType=VARCHAR},
      activityFile.type_id = #{record.typeId,jdbcType=VARCHAR},
      activityFile.file_src = #{record.fileSrc,jdbcType=VARCHAR},
      activityFile.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      activityFile.update_account = #{record.updateAccount,jdbcType=VARCHAR},
      activityFile.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      activityFile.state = #{record.state,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>