<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.portals.activity.dao.TbActivityCommentMapper">
  <resultMap id="BaseResultMap" type="com.jn.portals.activity.entity.TbActivityComment">
    <result column="activityComment_id" jdbcType="VARCHAR" property="id" />
    <result column="activityComment_p_id" jdbcType="VARCHAR" property="pId" />
    <result column="activityComment_com_user_id" jdbcType="VARCHAR" property="comUserId" />
    <result column="activityComment_com_time" jdbcType="TIMESTAMP" property="comTime" />
    <result column="activityComment_like_num" jdbcType="INTEGER" property="likeNum" />
    <result column="activityComment_state" jdbcType="VARCHAR" property="state" />
    <result column="activityComment_com_type" jdbcType="VARCHAR" property="comType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    activityComment.id as activityComment_id, activityComment.p_id as activityComment_p_id, 
    activityComment.com_user_id as activityComment_com_user_id, activityComment.com_time as activityComment_com_time, 
    activityComment.like_num as activityComment_like_num, activityComment.state as activityComment_state, 
    activityComment.com_type as activityComment_com_type
  </sql>
  <select id="selectByExample" parameterType="com.jn.portals.activity.entity.TbActivityCommentCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_activity_comment activityComment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.jn.portals.activity.entity.TbActivityCommentCriteria">
    delete from tb_activity_comment activityComment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.portals.activity.entity.TbActivityComment">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_activity_comment (p_id, com_user_id, com_time, 
      like_num, state, com_type
      )
    values (#{pId,jdbcType=VARCHAR}, #{comUserId,jdbcType=VARCHAR}, #{comTime,jdbcType=TIMESTAMP}, 
      #{likeNum,jdbcType=INTEGER}, #{state,jdbcType=VARCHAR}, #{comType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jn.portals.activity.entity.TbActivityComment">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_activity_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        p_id,
      </if>
      <if test="comUserId != null">
        com_user_id,
      </if>
      <if test="comTime != null">
        com_time,
      </if>
      <if test="likeNum != null">
        like_num,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="comType != null">
        com_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        #{pId,jdbcType=VARCHAR},
      </if>
      <if test="comUserId != null">
        #{comUserId,jdbcType=VARCHAR},
      </if>
      <if test="comTime != null">
        #{comTime,jdbcType=TIMESTAMP},
      </if>
      <if test="likeNum != null">
        #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="comType != null">
        #{comType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.portals.activity.entity.TbActivityCommentCriteria" resultType="java.lang.Long">
    select count(*) from tb_activity_comment activityComment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_activity_comment activityComment
    <set>
      <if test="record.id != null">
        activityComment.id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.pId != null">
        activityComment.p_id = #{record.pId,jdbcType=VARCHAR},
      </if>
      <if test="record.comUserId != null">
        activityComment.com_user_id = #{record.comUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.comTime != null">
        activityComment.com_time = #{record.comTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.likeNum != null">
        activityComment.like_num = #{record.likeNum,jdbcType=INTEGER},
      </if>
      <if test="record.state != null">
        activityComment.state = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.comType != null">
        activityComment.com_type = #{record.comType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_activity_comment activityComment
    set activityComment.id = #{record.id,jdbcType=VARCHAR},
      activityComment.p_id = #{record.pId,jdbcType=VARCHAR},
      activityComment.com_user_id = #{record.comUserId,jdbcType=VARCHAR},
      activityComment.com_time = #{record.comTime,jdbcType=TIMESTAMP},
      activityComment.like_num = #{record.likeNum,jdbcType=INTEGER},
      activityComment.state = #{record.state,jdbcType=VARCHAR},
      activityComment.com_type = #{record.comType,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <resultMap id="BaseResultMap" type="com.jn.portals.activity.entity.TbActivityComment">
    <result column="activityComment_id" jdbcType="VARCHAR" property="id" />
    <result column="activityComment_p_id" jdbcType="VARCHAR" property="pId" />
    <result column="activityComment_com_user_id" jdbcType="VARCHAR" property="comUserId" />
    <result column="activityComment_com_time" jdbcType="TIMESTAMP" property="comTime" />
    <result column="activityComment_like_num" jdbcType="INTEGER" property="likeNum" />
    <result column="activityComment_state" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    activityComment.id as activityComment_id, activityComment.p_id as activityComment_p_id, 
    activityComment.com_user_id as activityComment_com_user_id, activityComment.com_time as activityComment_com_time, 
    activityComment.like_num as activityComment_like_num, activityComment.state as activityComment_state
  </sql>
  <select id="selectByExample" parameterType="com.jn.portals.activity.entity.TbActivityCommentCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_activity_comment activityComment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.jn.portals.activity.entity.TbActivityCommentCriteria">
    delete from tb_activity_comment activityComment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.portals.activity.entity.TbActivityComment">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_activity_comment (p_id, com_user_id, com_time, 
      like_num, state)
    values (#{pId,jdbcType=VARCHAR}, #{comUserId,jdbcType=VARCHAR}, #{comTime,jdbcType=TIMESTAMP}, 
      #{likeNum,jdbcType=INTEGER}, #{state,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jn.portals.activity.entity.TbActivityComment">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_activity_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        p_id,
      </if>
      <if test="comUserId != null">
        com_user_id,
      </if>
      <if test="comTime != null">
        com_time,
      </if>
      <if test="likeNum != null">
        like_num,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        #{pId,jdbcType=VARCHAR},
      </if>
      <if test="comUserId != null">
        #{comUserId,jdbcType=VARCHAR},
      </if>
      <if test="comTime != null">
        #{comTime,jdbcType=TIMESTAMP},
      </if>
      <if test="likeNum != null">
        #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.portals.activity.entity.TbActivityCommentCriteria" resultType="java.lang.Long">
    select count(*) from tb_activity_comment activityComment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_activity_comment activityComment
    <set>
      <if test="record.id != null">
        activityComment.id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.pId != null">
        activityComment.p_id = #{record.pId,jdbcType=VARCHAR},
      </if>
      <if test="record.comUserId != null">
        activityComment.com_user_id = #{record.comUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.comTime != null">
        activityComment.com_time = #{record.comTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.likeNum != null">
        activityComment.like_num = #{record.likeNum,jdbcType=INTEGER},
      </if>
      <if test="record.state != null">
        activityComment.state = #{record.state,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_activity_comment activityComment
    set activityComment.id = #{record.id,jdbcType=VARCHAR},
      activityComment.p_id = #{record.pId,jdbcType=VARCHAR},
      activityComment.com_user_id = #{record.comUserId,jdbcType=VARCHAR},
      activityComment.com_time = #{record.comTime,jdbcType=TIMESTAMP},
      activityComment.like_num = #{record.likeNum,jdbcType=INTEGER},
      activityComment.state = #{record.state,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>