<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.portals.activity.dao.TbActivityMapper">
  <resultMap id="BaseResultMap" type="com.jn.portals.activity.entity.TbActivity">
    <id column="activity_id" jdbcType="VARCHAR" property="id" />
    <result column="activity_acti_type" jdbcType="VARCHAR" property="actiType" />
    <result column="activity_acti_name" jdbcType="VARCHAR" property="actiName" />
    <result column="activity_acti_start_time" jdbcType="TIMESTAMP" property="actiStartTime" />
    <result column="activity_acti_end_time" jdbcType="TIMESTAMP" property="actiEndTime" />
    <result column="activity_apply_start_time" jdbcType="TIMESTAMP" property="applyStartTime" />
    <result column="activity_apply_end_time" jdbcType="TIMESTAMP" property="applyEndTime" />
    <result column="activity_mes_send_time" jdbcType="TIMESTAMP" property="mesSendTime" />
    <result column="activity_acti_address" jdbcType="VARCHAR" property="actiAddress" />
    <result column="activity_acti_cost" jdbcType="DECIMAL" property="actiCost" />
    <result column="activity_acti_organizer" jdbcType="VARCHAR" property="actiOrganizer" />
    <result column="activity_acti_number" jdbcType="INTEGER" property="actiNumber" />
    <result column="activity_acti_poster_url" jdbcType="VARCHAR" property="actiPosterUrl" />
    <result column="activity_state" jdbcType="VARCHAR" property="state" />
    <result column="activity_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="activity_create_account" jdbcType="VARCHAR" property="createAccount" />
    <result column="activity_update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="activity_update_account" jdbcType="VARCHAR" property="updateAccount" />
    <result column="activity_acti_views" jdbcType="INTEGER" property="actiViews" />
    <result column="activity_acti_like" jdbcType="INTEGER" property="actiLike" />
    <result column="activity_apply_num" jdbcType="INTEGER" property="applyNum" />
    <result column="activity_partic_num" jdbcType="INTEGER" property="particNum" />
    <result column="activity_is_top" jdbcType="VARCHAR" property="isTop" />
    <result column="activity_top_time" jdbcType="TIMESTAMP" property="topTime" />
    <result column="activity_is_apply" jdbcType="VARCHAR" property="isApply" />
    <result column="activity_acti_order" jdbcType="INTEGER" property="actiOrder" />
    <result column="activity_issue_time" jdbcType="TIMESTAMP" property="issueTime" />
    <result column="activity_issue_account" jdbcType="VARCHAR" property="issueAccount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    activity.id as activity_id, activity.acti_type as activity_acti_type, activity.acti_name as activity_acti_name, 
    activity.acti_start_time as activity_acti_start_time, activity.acti_end_time as activity_acti_end_time, 
    activity.apply_start_time as activity_apply_start_time, activity.apply_end_time as activity_apply_end_time, 
    activity.mes_send_time as activity_mes_send_time, activity.acti_address as activity_acti_address, 
    activity.acti_cost as activity_acti_cost, activity.acti_organizer as activity_acti_organizer, 
    activity.acti_number as activity_acti_number, activity.acti_poster_url as activity_acti_poster_url, 
    activity.state as activity_state, activity.create_time as activity_create_time, activity.create_account as activity_create_account, 
    activity.update_time as activity_update_time, activity.update_account as activity_update_account, 
    activity.acti_views as activity_acti_views, activity.acti_like as activity_acti_like, 
    activity.apply_num as activity_apply_num, activity.partic_num as activity_partic_num, 
    activity.is_top as activity_is_top, activity.top_time as activity_top_time, activity.is_apply as activity_is_apply, 
    activity.acti_order as activity_acti_order, activity.issue_time as activity_issue_time, 
    activity.issue_account as activity_issue_account
  </sql>
  <select id="selectByExample" parameterType="com.jn.portals.activity.entity.TbActivityCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_activity activity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_activity activity
    where activity.id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_activity
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jn.portals.activity.entity.TbActivityCriteria">
    delete from tb_activity activity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.portals.activity.entity.TbActivity">
    insert into tb_activity (id, acti_type, acti_name, 
      acti_start_time, acti_end_time, apply_start_time, 
      apply_end_time, mes_send_time, acti_address, 
      acti_cost, acti_organizer, acti_number, 
      acti_poster_url, state, create_time, 
      create_account, update_time, update_account, 
      acti_views, acti_like, apply_num, 
      partic_num, is_top, top_time, 
      is_apply, acti_order, issue_time, 
      issue_account)
    values (#{id,jdbcType=VARCHAR}, #{actiType,jdbcType=VARCHAR}, #{actiName,jdbcType=VARCHAR}, 
      #{actiStartTime,jdbcType=TIMESTAMP}, #{actiEndTime,jdbcType=TIMESTAMP}, #{applyStartTime,jdbcType=TIMESTAMP}, 
      #{applyEndTime,jdbcType=TIMESTAMP}, #{mesSendTime,jdbcType=TIMESTAMP}, #{actiAddress,jdbcType=VARCHAR}, 
      #{actiCost,jdbcType=DECIMAL}, #{actiOrganizer,jdbcType=VARCHAR}, #{actiNumber,jdbcType=INTEGER}, 
      #{actiPosterUrl,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createAccount,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateAccount,jdbcType=VARCHAR}, 
      #{actiViews,jdbcType=INTEGER}, #{actiLike,jdbcType=INTEGER}, #{applyNum,jdbcType=INTEGER}, 
      #{particNum,jdbcType=INTEGER}, #{isTop,jdbcType=VARCHAR}, #{topTime,jdbcType=TIMESTAMP}, 
      #{isApply,jdbcType=VARCHAR}, #{actiOrder,jdbcType=INTEGER}, #{issueTime,jdbcType=TIMESTAMP}, 
      #{issueAccount,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jn.portals.activity.entity.TbActivity">
    insert into tb_activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="actiType != null">
        acti_type,
      </if>
      <if test="actiName != null">
        acti_name,
      </if>
      <if test="actiStartTime != null">
        acti_start_time,
      </if>
      <if test="actiEndTime != null">
        acti_end_time,
      </if>
      <if test="applyStartTime != null">
        apply_start_time,
      </if>
      <if test="applyEndTime != null">
        apply_end_time,
      </if>
      <if test="mesSendTime != null">
        mes_send_time,
      </if>
      <if test="actiAddress != null">
        acti_address,
      </if>
      <if test="actiCost != null">
        acti_cost,
      </if>
      <if test="actiOrganizer != null">
        acti_organizer,
      </if>
      <if test="actiNumber != null">
        acti_number,
      </if>
      <if test="actiPosterUrl != null">
        acti_poster_url,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createAccount != null">
        create_account,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateAccount != null">
        update_account,
      </if>
      <if test="actiViews != null">
        acti_views,
      </if>
      <if test="actiLike != null">
        acti_like,
      </if>
      <if test="applyNum != null">
        apply_num,
      </if>
      <if test="particNum != null">
        partic_num,
      </if>
      <if test="isTop != null">
        is_top,
      </if>
      <if test="topTime != null">
        top_time,
      </if>
      <if test="isApply != null">
        is_apply,
      </if>
      <if test="actiOrder != null">
        acti_order,
      </if>
      <if test="issueTime != null">
        issue_time,
      </if>
      <if test="issueAccount != null">
        issue_account,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="actiType != null">
        #{actiType,jdbcType=VARCHAR},
      </if>
      <if test="actiName != null">
        #{actiName,jdbcType=VARCHAR},
      </if>
      <if test="actiStartTime != null">
        #{actiStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actiEndTime != null">
        #{actiEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyStartTime != null">
        #{applyStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyEndTime != null">
        #{applyEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mesSendTime != null">
        #{mesSendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actiAddress != null">
        #{actiAddress,jdbcType=VARCHAR},
      </if>
      <if test="actiCost != null">
        #{actiCost,jdbcType=DECIMAL},
      </if>
      <if test="actiOrganizer != null">
        #{actiOrganizer,jdbcType=VARCHAR},
      </if>
      <if test="actiNumber != null">
        #{actiNumber,jdbcType=INTEGER},
      </if>
      <if test="actiPosterUrl != null">
        #{actiPosterUrl,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createAccount != null">
        #{createAccount,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAccount != null">
        #{updateAccount,jdbcType=VARCHAR},
      </if>
      <if test="actiViews != null">
        #{actiViews,jdbcType=INTEGER},
      </if>
      <if test="actiLike != null">
        #{actiLike,jdbcType=INTEGER},
      </if>
      <if test="applyNum != null">
        #{applyNum,jdbcType=INTEGER},
      </if>
      <if test="particNum != null">
        #{particNum,jdbcType=INTEGER},
      </if>
      <if test="isTop != null">
        #{isTop,jdbcType=VARCHAR},
      </if>
      <if test="topTime != null">
        #{topTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isApply != null">
        #{isApply,jdbcType=VARCHAR},
      </if>
      <if test="actiOrder != null">
        #{actiOrder,jdbcType=INTEGER},
      </if>
      <if test="issueTime != null">
        #{issueTime,jdbcType=TIMESTAMP},
      </if>
      <if test="issueAccount != null">
        #{issueAccount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.portals.activity.entity.TbActivityCriteria" resultType="java.lang.Long">
    select count(*) from tb_activity activity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_activity activity
    <set>
      <if test="record.id != null">
        activity.id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.actiType != null">
        activity.acti_type = #{record.actiType,jdbcType=VARCHAR},
      </if>
      <if test="record.actiName != null">
        activity.acti_name = #{record.actiName,jdbcType=VARCHAR},
      </if>
      <if test="record.actiStartTime != null">
        activity.acti_start_time = #{record.actiStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.actiEndTime != null">
        activity.acti_end_time = #{record.actiEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.applyStartTime != null">
        activity.apply_start_time = #{record.applyStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.applyEndTime != null">
        activity.apply_end_time = #{record.applyEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mesSendTime != null">
        activity.mes_send_time = #{record.mesSendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.actiAddress != null">
        activity.acti_address = #{record.actiAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.actiCost != null">
        activity.acti_cost = #{record.actiCost,jdbcType=DECIMAL},
      </if>
      <if test="record.actiOrganizer != null">
        activity.acti_organizer = #{record.actiOrganizer,jdbcType=VARCHAR},
      </if>
      <if test="record.actiNumber != null">
        activity.acti_number = #{record.actiNumber,jdbcType=INTEGER},
      </if>
      <if test="record.actiPosterUrl != null">
        activity.acti_poster_url = #{record.actiPosterUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        activity.state = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        activity.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createAccount != null">
        activity.create_account = #{record.createAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        activity.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateAccount != null">
        activity.update_account = #{record.updateAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.actiViews != null">
        activity.acti_views = #{record.actiViews,jdbcType=INTEGER},
      </if>
      <if test="record.actiLike != null">
        activity.acti_like = #{record.actiLike,jdbcType=INTEGER},
      </if>
      <if test="record.applyNum != null">
        activity.apply_num = #{record.applyNum,jdbcType=INTEGER},
      </if>
      <if test="record.particNum != null">
        activity.partic_num = #{record.particNum,jdbcType=INTEGER},
      </if>
      <if test="record.isTop != null">
        activity.is_top = #{record.isTop,jdbcType=VARCHAR},
      </if>
      <if test="record.topTime != null">
        activity.top_time = #{record.topTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isApply != null">
        activity.is_apply = #{record.isApply,jdbcType=VARCHAR},
      </if>
      <if test="record.actiOrder != null">
        activity.acti_order = #{record.actiOrder,jdbcType=INTEGER},
      </if>
      <if test="record.issueTime != null">
        activity.issue_time = #{record.issueTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.issueAccount != null">
        activity.issue_account = #{record.issueAccount,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_activity activity
    set activity.id = #{record.id,jdbcType=VARCHAR},
      activity.acti_type = #{record.actiType,jdbcType=VARCHAR},
      activity.acti_name = #{record.actiName,jdbcType=VARCHAR},
      activity.acti_start_time = #{record.actiStartTime,jdbcType=TIMESTAMP},
      activity.acti_end_time = #{record.actiEndTime,jdbcType=TIMESTAMP},
      activity.apply_start_time = #{record.applyStartTime,jdbcType=TIMESTAMP},
      activity.apply_end_time = #{record.applyEndTime,jdbcType=TIMESTAMP},
      activity.mes_send_time = #{record.mesSendTime,jdbcType=TIMESTAMP},
      activity.acti_address = #{record.actiAddress,jdbcType=VARCHAR},
      activity.acti_cost = #{record.actiCost,jdbcType=DECIMAL},
      activity.acti_organizer = #{record.actiOrganizer,jdbcType=VARCHAR},
      activity.acti_number = #{record.actiNumber,jdbcType=INTEGER},
      activity.acti_poster_url = #{record.actiPosterUrl,jdbcType=VARCHAR},
      activity.state = #{record.state,jdbcType=VARCHAR},
      activity.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      activity.create_account = #{record.createAccount,jdbcType=VARCHAR},
      activity.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      activity.update_account = #{record.updateAccount,jdbcType=VARCHAR},
      activity.acti_views = #{record.actiViews,jdbcType=INTEGER},
      activity.acti_like = #{record.actiLike,jdbcType=INTEGER},
      activity.apply_num = #{record.applyNum,jdbcType=INTEGER},
      activity.partic_num = #{record.particNum,jdbcType=INTEGER},
      activity.is_top = #{record.isTop,jdbcType=VARCHAR},
      activity.top_time = #{record.topTime,jdbcType=TIMESTAMP},
      activity.is_apply = #{record.isApply,jdbcType=VARCHAR},
      activity.acti_order = #{record.actiOrder,jdbcType=INTEGER},
      activity.issue_time = #{record.issueTime,jdbcType=TIMESTAMP},
      activity.issue_account = #{record.issueAccount,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jn.portals.activity.entity.TbActivity">
    update tb_activity
    <set>
      <if test="actiType != null">
        acti_type = #{actiType,jdbcType=VARCHAR},
      </if>
      <if test="actiName != null">
        acti_name = #{actiName,jdbcType=VARCHAR},
      </if>
      <if test="actiStartTime != null">
        acti_start_time = #{actiStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actiEndTime != null">
        acti_end_time = #{actiEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyStartTime != null">
        apply_start_time = #{applyStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyEndTime != null">
        apply_end_time = #{applyEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mesSendTime != null">
        mes_send_time = #{mesSendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actiAddress != null">
        acti_address = #{actiAddress,jdbcType=VARCHAR},
      </if>
      <if test="actiCost != null">
        acti_cost = #{actiCost,jdbcType=DECIMAL},
      </if>
      <if test="actiOrganizer != null">
        acti_organizer = #{actiOrganizer,jdbcType=VARCHAR},
      </if>
      <if test="actiNumber != null">
        acti_number = #{actiNumber,jdbcType=INTEGER},
      </if>
      <if test="actiPosterUrl != null">
        acti_poster_url = #{actiPosterUrl,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createAccount != null">
        create_account = #{createAccount,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAccount != null">
        update_account = #{updateAccount,jdbcType=VARCHAR},
      </if>
      <if test="actiViews != null">
        acti_views = #{actiViews,jdbcType=INTEGER},
      </if>
      <if test="actiLike != null">
        acti_like = #{actiLike,jdbcType=INTEGER},
      </if>
      <if test="applyNum != null">
        apply_num = #{applyNum,jdbcType=INTEGER},
      </if>
      <if test="particNum != null">
        partic_num = #{particNum,jdbcType=INTEGER},
      </if>
      <if test="isTop != null">
        is_top = #{isTop,jdbcType=VARCHAR},
      </if>
      <if test="topTime != null">
        top_time = #{topTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isApply != null">
        is_apply = #{isApply,jdbcType=VARCHAR},
      </if>
      <if test="actiOrder != null">
        acti_order = #{actiOrder,jdbcType=INTEGER},
      </if>
      <if test="issueTime != null">
        issue_time = #{issueTime,jdbcType=TIMESTAMP},
      </if>
      <if test="issueAccount != null">
        issue_account = #{issueAccount,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jn.portals.activity.entity.TbActivity">
    update tb_activity
    set acti_type = #{actiType,jdbcType=VARCHAR},
      acti_name = #{actiName,jdbcType=VARCHAR},
      acti_start_time = #{actiStartTime,jdbcType=TIMESTAMP},
      acti_end_time = #{actiEndTime,jdbcType=TIMESTAMP},
      apply_start_time = #{applyStartTime,jdbcType=TIMESTAMP},
      apply_end_time = #{applyEndTime,jdbcType=TIMESTAMP},
      mes_send_time = #{mesSendTime,jdbcType=TIMESTAMP},
      acti_address = #{actiAddress,jdbcType=VARCHAR},
      acti_cost = #{actiCost,jdbcType=DECIMAL},
      acti_organizer = #{actiOrganizer,jdbcType=VARCHAR},
      acti_number = #{actiNumber,jdbcType=INTEGER},
      acti_poster_url = #{actiPosterUrl,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_account = #{createAccount,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_account = #{updateAccount,jdbcType=VARCHAR},
      acti_views = #{actiViews,jdbcType=INTEGER},
      acti_like = #{actiLike,jdbcType=INTEGER},
      apply_num = #{applyNum,jdbcType=INTEGER},
      partic_num = #{particNum,jdbcType=INTEGER},
      is_top = #{isTop,jdbcType=VARCHAR},
      top_time = #{topTime,jdbcType=TIMESTAMP},
      is_apply = #{isApply,jdbcType=VARCHAR},
      acti_order = #{actiOrder,jdbcType=INTEGER},
      issue_time = #{issueTime,jdbcType=TIMESTAMP},
      issue_account = #{issueAccount,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>