<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.oa.meeting.dao.TbOaMeetingParticipantsMapper">
  <resultMap id="BaseResultMap" type="com.jn.oa.meeting.entity.TbOaMeetingParticipants">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="meeting_id" jdbcType="VARCHAR" property="meetingId" />
    <result column="meeting_user_id" jdbcType="VARCHAR" property="meetingUserId" />
    <result column="sign_in_time" jdbcType="TIMESTAMP" property="signInTime" />
    <result column="sign_back_time" jdbcType="TIMESTAMP" property="signBackTime" />
    <result column="record_status" jdbcType="VARCHAR" property="recordStatus" />
    <result column="creator_account" jdbcType="VARCHAR" property="creatorAccount" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, meeting_id, meeting_user_id, sign_in_time, sign_back_time, record_status, creator_account, 
    created_time, modifier_account, modified_time
  </sql>
  <select id="selectByExample" parameterType="com.jn.oa.meeting.entity.TbOaMeetingParticipantsCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_oa_meeting_participants
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_oa_meeting_participants
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_oa_meeting_participants
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jn.oa.meeting.entity.TbOaMeetingParticipantsCriteria">
    delete from tb_oa_meeting_participants
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.oa.meeting.entity.TbOaMeetingParticipants">
    insert into tb_oa_meeting_participants (id, meeting_id, meeting_user_id, 
      sign_in_time, sign_back_time, record_status, 
      creator_account, created_time, modifier_account, 
      modified_time)
    values (#{id,jdbcType=VARCHAR}, #{meetingId,jdbcType=VARCHAR}, #{meetingUserId,jdbcType=VARCHAR}, 
      #{signInTime,jdbcType=TIMESTAMP}, #{signBackTime,jdbcType=TIMESTAMP}, #{recordStatus,jdbcType=VARCHAR}, 
      #{creatorAccount,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{modifierAccount,jdbcType=VARCHAR}, 
      #{modifiedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jn.oa.meeting.entity.TbOaMeetingParticipants">
    insert into tb_oa_meeting_participants
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="meetingId != null">
        meeting_id,
      </if>
      <if test="meetingUserId != null">
        meeting_user_id,
      </if>
      <if test="signInTime != null">
        sign_in_time,
      </if>
      <if test="signBackTime != null">
        sign_back_time,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
      <if test="creatorAccount != null">
        creator_account,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifierAccount != null">
        modifier_account,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="meetingId != null">
        #{meetingId,jdbcType=VARCHAR},
      </if>
      <if test="meetingUserId != null">
        #{meetingUserId,jdbcType=VARCHAR},
      </if>
      <if test="signInTime != null">
        #{signInTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signBackTime != null">
        #{signBackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="creatorAccount != null">
        #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.oa.meeting.entity.TbOaMeetingParticipantsCriteria" resultType="java.lang.Long">
    select count(*) from tb_oa_meeting_participants
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_oa_meeting_participants
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.meetingId != null">
        meeting_id = #{record.meetingId,jdbcType=VARCHAR},
      </if>
      <if test="record.meetingUserId != null">
        meeting_user_id = #{record.meetingUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.signInTime != null">
        sign_in_time = #{record.signInTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.signBackTime != null">
        sign_back_time = #{record.signBackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.recordStatus != null">
        record_status = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.creatorAccount != null">
        creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifierAccount != null">
        modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedTime != null">
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_oa_meeting_participants
    set id = #{record.id,jdbcType=VARCHAR},
      meeting_id = #{record.meetingId,jdbcType=VARCHAR},
      meeting_user_id = #{record.meetingUserId,jdbcType=VARCHAR},
      sign_in_time = #{record.signInTime,jdbcType=TIMESTAMP},
      sign_back_time = #{record.signBackTime,jdbcType=TIMESTAMP},
      record_status = #{record.recordStatus,jdbcType=VARCHAR},
      creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jn.oa.meeting.entity.TbOaMeetingParticipants">
    update tb_oa_meeting_participants
    <set>
      <if test="meetingId != null">
        meeting_id = #{meetingId,jdbcType=VARCHAR},
      </if>
      <if test="meetingUserId != null">
        meeting_user_id = #{meetingUserId,jdbcType=VARCHAR},
      </if>
      <if test="signInTime != null">
        sign_in_time = #{signInTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signBackTime != null">
        sign_back_time = #{signBackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="creatorAccount != null">
        creator_account = #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jn.oa.meeting.entity.TbOaMeetingParticipants">
    update tb_oa_meeting_participants
    set meeting_id = #{meetingId,jdbcType=VARCHAR},
      meeting_user_id = #{meetingUserId,jdbcType=VARCHAR},
      sign_in_time = #{signInTime,jdbcType=TIMESTAMP},
      sign_back_time = #{signBackTime,jdbcType=TIMESTAMP},
      record_status = #{recordStatus,jdbcType=VARCHAR},
      creator_account = #{creatorAccount,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>