<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.oa.meeting.dao.TbOaMeetingRoomPhotoMapper">
  <resultMap id="BaseResultMap" type="com.jn.oa.meeting.entity.TbOaMeetingRoomPhoto">
    <id column="meetingroomphoto_id" jdbcType="VARCHAR" property="id" />
    <result column="meetingroomphoto_meeting_room_id" jdbcType="VARCHAR" property="meetingRoomId" />
    <result column="meetingroomphoto_photo_url" jdbcType="VARCHAR" property="photoUrl" />
    <result column="meetingroomphoto_record_status" jdbcType="TINYINT" property="recordStatus" />
    <result column="meetingroomphoto_creator_account" jdbcType="VARCHAR" property="creatorAccount" />
    <result column="meetingroomphoto_created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="meetingroomphoto_modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
    <result column="meetingroomphoto_modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="meetingroomphoto_remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    meetingroomphoto.id as meetingroomphoto_id, meetingroomphoto.meeting_room_id as meetingroomphoto_meeting_room_id, 
    meetingroomphoto.photo_url as meetingroomphoto_photo_url, meetingroomphoto.record_status as meetingroomphoto_record_status, 
    meetingroomphoto.creator_account as meetingroomphoto_creator_account, meetingroomphoto.created_time as meetingroomphoto_created_time, 
    meetingroomphoto.modifier_account as meetingroomphoto_modifier_account, meetingroomphoto.modified_time as meetingroomphoto_modified_time, 
    meetingroomphoto.remark as meetingroomphoto_remark
  </sql>
  <select id="selectByExample" parameterType="com.jn.oa.meeting.entity.TbOaMeetingRoomPhotoCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_oa_meeting_room_photo meetingroomphoto
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_oa_meeting_room_photo meetingroomphoto
    where meetingroomphoto.id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_oa_meeting_room_photo
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jn.oa.meeting.entity.TbOaMeetingRoomPhotoCriteria">
    delete from tb_oa_meeting_room_photo meetingroomphoto
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.oa.meeting.entity.TbOaMeetingRoomPhoto">
    insert into tb_oa_meeting_room_photo (id, meeting_room_id, photo_url, 
      record_status, creator_account, created_time, 
      modifier_account, modified_time, remark
      )
    values (#{id,jdbcType=VARCHAR}, #{meetingRoomId,jdbcType=VARCHAR}, #{photoUrl,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=TINYINT}, #{creatorAccount,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{modifierAccount,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jn.oa.meeting.entity.TbOaMeetingRoomPhoto">
    insert into tb_oa_meeting_room_photo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="meetingRoomId != null">
        meeting_room_id,
      </if>
      <if test="photoUrl != null">
        photo_url,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
      <if test="creatorAccount != null">
        creator_account,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifierAccount != null">
        modifier_account,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="meetingRoomId != null">
        #{meetingRoomId,jdbcType=VARCHAR},
      </if>
      <if test="photoUrl != null">
        #{photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorAccount != null">
        #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.oa.meeting.entity.TbOaMeetingRoomPhotoCriteria" resultType="java.lang.Long">
    select count(*) from tb_oa_meeting_room_photo meetingroomphoto
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_oa_meeting_room_photo meetingroomphoto
    <set>
      <if test="record.id != null">
        meetingroomphoto.id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.meetingRoomId != null">
        meetingroomphoto.meeting_room_id = #{record.meetingRoomId,jdbcType=VARCHAR},
      </if>
      <if test="record.photoUrl != null">
        meetingroomphoto.photo_url = #{record.photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        meetingroomphoto.record_status = #{record.recordStatus,jdbcType=TINYINT},
      </if>
      <if test="record.creatorAccount != null">
        meetingroomphoto.creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        meetingroomphoto.created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifierAccount != null">
        meetingroomphoto.modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedTime != null">
        meetingroomphoto.modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        meetingroomphoto.remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_oa_meeting_room_photo meetingroomphoto
    set meetingroomphoto.id = #{record.id,jdbcType=VARCHAR},
      meetingroomphoto.meeting_room_id = #{record.meetingRoomId,jdbcType=VARCHAR},
      meetingroomphoto.photo_url = #{record.photoUrl,jdbcType=VARCHAR},
      meetingroomphoto.record_status = #{record.recordStatus,jdbcType=TINYINT},
      meetingroomphoto.creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      meetingroomphoto.created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      meetingroomphoto.modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      meetingroomphoto.modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      meetingroomphoto.remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jn.oa.meeting.entity.TbOaMeetingRoomPhoto">
    update tb_oa_meeting_room_photo
    <set>
      <if test="meetingRoomId != null">
        meeting_room_id = #{meetingRoomId,jdbcType=VARCHAR},
      </if>
      <if test="photoUrl != null">
        photo_url = #{photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorAccount != null">
        creator_account = #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jn.oa.meeting.entity.TbOaMeetingRoomPhoto">
    update tb_oa_meeting_room_photo
    set meeting_room_id = #{meetingRoomId,jdbcType=VARCHAR},
      photo_url = #{photoUrl,jdbcType=VARCHAR},
      record_status = #{recordStatus,jdbcType=TINYINT},
      creator_account = #{creatorAccount,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>