<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.enterprise.propaganda.dao.BusinessPromotionMapper">
    <!--企业宣传列表查询-->
    <select id="getBusinessPromotionList" parameterType="com.jn.enterprise.propaganda.model.BusinessPromotionListParam"
            resultType="com.jn.enterprise.propaganda.model.BusinessPromotionListShow">
        select
          sp.id_ as "id"
          ,sp.propaganda_code as "propagandaCode"
          ,sp.propaganda_title as "propagandaTitle"
          ,sp.issue_platform as "issuePlatform"
          ,date_format(sp.effective_date,'%Y/%m/%d')as "effectiveDate"
          ,date_format(sp.invalid_date,'%Y/%m/%d')as "invalidDate"
          ,sp.poster_url as "posterUrl"
          ,sp.propaganda_fee as "propagandaFee"
        from tb_propaganda sp
        where 1=1
        <if test="bpp.approvalStatus !=null and bpp.approvalStatus!=''">
            and sp.approval_status=#{bpp.approvalStatus}
        </if>
        <if test="bpp.searchContent !=null and bpp.searchContent !='' ">
            and sp.propaganda_title like concat('%',#{bpp.searchContent},'%')
        </if>
        <if test="creator !=null and creator !=''">
            and sp.creator_account=#{creator}
        </if>
        and sp.status ='1'
        and sp.record_status=1
        order by sp.sort,sp.created_time desc
    </select>

    <!--企业宣传详情-->
    <select id="getBusinessPromotionDetails" resultType="com.jn.enterprise.propaganda.model.BusinessPromotionDetailsShow">
        select
        sp.id as "id"
        ,sp.propaganda_code as "propagandaCode"
        ,case sp.issue_platform
         when '1' then 'APP'
         case '2' then '门户'
         else '其他'
         end as "issuePlatform"
        ,date_format(sp.effective_date,'%Y/%m/%d')as "effectiveDate"
        ,date_format(sp.invalid_date,'%Y/%m/%d')as "invalidDate"
        ,sp.propaganda_title as "propagandaTitle"
        ,sp.propaganda_details as "propagandaDetails"
        ,sp.propaganda_area as "propagandaArea"
        ,sp.propaganda_area_url as "propagandaAreaUrl"
        ,sp.poster_url as "posterUrl"
        ,sp.propaganda_fee as "propagandaFee"
        from tb_propaganda sp
        where 1=1
        and sp.propaganda_id=#{propagandaId}
        and sp.status ='1'
        and sp.record_status=1
    </select>

</mapper>