<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.enterprise.pay.dao.PayAccountAndAccountBookDao">

  <select id="selectPayAccountId" parameterType="java.lang.String" resultType="com.jn.pay.vo.PayAccountAndAccountBookVo">
   SELECT
	t.ACCOUNT_ID AS accountId,
	t.user_id AS userId,
    SUM(b.BALANCE)AS balance
  FROM
	tb_pay_account t ,tb_pay_account_book b
  WHERE
	1 = 1
  AND t.record_status = 1
  and b.is_show = 2
  and b.ACCOUNT_ID = t.ACCOUNT_ID
  and t.user_id = #{userId,jdbcType=VARCHAR}
  </select>

  <select id="selectPayAccountBookList" parameterType="java.lang.String" resultType="com.jn.pay.model.PayAccountBook">
    select
      account_id as accountId,
      ac_book_id as acBookId,
      ac_book_name as acBookName,
      ac_book_type as acBookType,
      balance as balance,
      automatic_deductions as automaticDeductions,
      can_recharge as canRecharge,
      is_show as isShow,
      created_time as createdTime,
      creator_account as creatorAccount,
      modified_time as modifiedTime,
      modifier_account as modifierAccount,
      record_status as recordStatus
    from tb_pay_account_book
    WHERE 1=1
    and record_status = 1
    and is_show = 2
    and account_id = #{accountId,jdbcType=VARCHAR}
  </select>

</mapper>