<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.enterprise.workflow.task.dao.TaskMapper">
    <resultMap id="TypeBaseResultMap" type="com.jn.enterprise.workflow.task.vo.TaskTypeVo">
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="total" jdbcType="VARCHAR" property="total" />
        <result column="warn_num" jdbcType="VARCHAR" property="warnNum" />
        <result column="status" jdbcType="VARCHAR" property="status" />
    </resultMap>
    <resultMap id="BaseResultMap" type="com.jn.enterprise.workflow.task.vo.TaskVo">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="record_status" jdbcType="VARCHAR" property="recordStatus" />
        <result column="creator_account" jdbcType="VARCHAR" property="creatorAccount" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="link_type" jdbcType="VARCHAR" property="linkType" />
        <result column="link_url" jdbcType="VARCHAR" property="linkUrl" />
        <result column="describes" jdbcType="VARCHAR" property="describes" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
    </resultMap>

    <sql id="Base_Column_List">
     id, record_status, creator_account, created_time, modifier_account, modified_time,
    user_id, status, type, title, end_time, link_type, link_url, describes, user_name
  </sql>

   <select id="selectTaskTypeByCondition" parameterType="com.jn.enterprise.workflow.task.model.TaskType" resultMap="TypeBaseResultMap">
       select t.type,t.total,case when tt.warn_num is null then 0 else tt.warn_num end  warn_num from
       (
          SELECT type,count( * ) AS total FROM tb_workflow_task WHERE record_status = 1
           <if test="@org.apache.commons.lang.StringUtils@isNotBlank(status)">
               AND STATUS = #{status,jdbcType=VARCHAR}
           </if>
           <if test="@org.apache.commons.lang.StringUtils@isNotBlank(userId)">
               AND user_id = #{userId,jdbcType=VARCHAR}
           </if>
           GROUP BY type
        ) t
       left join
       (
       select type , count(*) as warn_num  from tb_workflow_task
          where round(( UNIX_TIMESTAMP( end_time ) - UNIX_TIMESTAMP( NOW( ) )  ) / 3600) &lt; 24
          and record_status =1
       <if test="@org.apache.commons.lang.StringUtils@isNotBlank(status)">
           AND STATUS = #{status,jdbcType=VARCHAR}
       </if>
       <if test="@org.apache.commons.lang.StringUtils@isNotBlank(userId)">
           AND user_id = #{userId,jdbcType=VARCHAR}
       </if>
          GROUP BY type

       ) tt on t.type=tt.type

   </select>
    <select id="selectTaskListByCondition" parameterType="com.jn.enterprise.workflow.task.model.TaskPage" resultMap="BaseResultMap">

        SELECT
          <include refid="Base_Column_List"/>
        FROM
        tb_workflow_task
        where   record_status =1
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(type)">
            and type= #{type,jdbcType=VARCHAR}
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(status)">
            and STATUS= #{status,jdbcType=VARCHAR}
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(userId)">
            AND user_id = #{userId,jdbcType=VARCHAR}
        </if>
        order by created_time desc
        <if test="rowCount!= null">
                LIMIT 0,#{rowCount,jdbcType=INTEGER}
        </if>

    </select>


    <update id="deleteBranchByIds" parameterType="java.util.Map">
        update tb_workflow_task
        set
        record_status = 0,
        modifier_account=#{account},
        modified_time = now()
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>


</mapper>