<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.system.permission.dao.SysPermissionMapper">

    <select id="findByPage" parameterType="com.jn.system.permission.model.SysPermissionPage"
            resultType="com.jn.system.permission.model.SysPermission">
        select
        id,
        permission_name as permissionName,
        created_time as createdTime,
        record_status as recordStatus
        from tb_sys_permission
        where `record_status` != 0
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(permissionName)">
            and permission_name like CONCAT('%', #{permissionName,jdbcType=VARCHAR},'%')
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(recordStatus)">
            and record_status = #{recordStatus,jdbcType=VARCHAR}
        </if>
        ORDER BY created_time desc,id desc
    </select>

    <update id="deletePermissionBranch" parameterType="java.util.Map">
        update tb_sys_permission
        set
        record_status = 0,
        modifier_account=#{account},
        modified_time = now()
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>