<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.system.permission.dao.SysPermissionMenuMapper">
    <update id="deletePermissionBranch" parameterType="java.lang.String">
        update tb_sys_permission_menu set status=-1
        where permission_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="deleteBy" parameterType="java.util.List">
        update tb_sys_permission_menu set status=-1
        where menu_id in
        <foreach collection="list" item="id" open="(" close=")" index="index" separator=",">
            #{id}
        </foreach>
    </update>

    <select id="findMenuOfPermission" parameterType="java.lang.String" resultType="java.lang.String">
        select distinct
        t2.id
        from tb_sys_permission_menu t1 , tb_sys_menu t2
        where t1.menu_id = t2.id and t1.`status` = '1' and t2.`status` = '1'
        and t1.permission_id = #{id,jdbcType=VARCHAR}
    </select>

    <update id="deleteByPermissionId" parameterType="java.lang.String">
        update tb_sys_permission_menu set `status` = '-1' where permission_id = #{id,jdbcType=VARCHAR}
    </update>

    <insert id="addMenuToPermission" parameterType="java.util.List">
        insert into tb_sys_permission_menu (id, permission_id,menu_id,creator,create_time,status) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id,jdbcType=BIGINT},
            #{item.permissionId,jdbcType=VARCHAR},
            #{item.menuId,jdbcType=VARCHAR},
            #{item.creator,jdbcType=VARCHAR},
            now(),
            #{item.status,jdbcType=VARCHAR})
        </foreach>
    </insert>

</mapper>