<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.system.permission.dao.SysPermissionMapper">

    <update id="updatePermission" parameterType="com.jn.system.permission.model.SysPermission">
        UPDATE tb_sys_permission
        SET `status` = #{status,jdbcType=VARCHAR} ,
        permission_name = #{permissionName,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="findByPage" parameterType="com.jn.system.permission.model.SysPermissionPage"
            resultType="com.jn.system.permission.model.SysPermission">
        select
        id,
        permission_name as permissionName,
        create_time as createTime,
        `status`
        from tb_sys_permission
        where `status` != '-1'
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(permissionName)">
            and permission_name like CONCAT('%', #{permissionName,jdbcType=VARCHAR},'%')
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(status)">
            and status = #{status,jdbcType=VARCHAR}
        </if>
        ORDER BY create_time desc
    </select>
    <select id="getPermissionById" resultType="com.jn.system.permission.model.SysPermission"
            parameterType="java.lang.String">
            SELECT id,permission_name as permissionName,create_time as createTime,`status`
            FROM tb_sys_permission WHERE id = #{id,jdbcType=VARCHAR} and `status` != '-1'
    </select>

    <update id="deletePermissionBranch" parameterType="java.lang.String">
        update tb_sys_permission set status=-1
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>