<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.system.permission.dao.SysRoleMapper">

    <sql id="Base_Column_List">
        id,role_name as roleName ,creator_account as creatorAccount,created_time as createdTime,record_status as recordStatus
    </sql>

    <select id="findSysRoleByUserId" parameterType="java.lang.String"
            resultType="com.jn.system.permission.model.SysRole">
        select
        <include refid="Base_Column_List"/>
        from tb_sys_role
        where id in
        (select tsur.role_id
        from
        tb_sys_user_role tsur
        join tb_sys_user tsu
        on tsur.user_id = tsu.id
        where tsu.id = #{id,jdbcType=VARCHAR}
        and tsur.`record_status` = 1)
        and `record_status` = 1
        ORDER BY created_time ASC
    </select>


    <select id="findTByPage" parameterType="com.jn.system.permission.model.SysRolePage"
            resultType="com.jn.system.permission.vo.SysRoleVO">
        SELECT
        id as roleId,
        role_name as roleName,
        created_time as createdTime,
        record_status as recordStatus
        FROM `tb_sys_role`
        where `record_status` != 0
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(roleName)">
            and role_name like CONCAT('%', #{roleName,jdbcType=VARCHAR}, '%')
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(recordStatus)">
            and record_status=#{recordStatus,jdbcType=VARCHAR}
        </if>
        ORDER BY created_time desc,id desc
    </select>

    <update id="deleteBy" parameterType="java.lang.String">
        update tb_sys_role set record_status = 0
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>


</mapper>