<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.park.finance.dao.FinanceBudgetMapper">

  <update id="updateTotal">

    UPDATE tb_finance_total_budget tb
    SET tb.budget_number = (
        SELECT
        sum(bh.budget_money)
        FROM
        tb_finance_budget_history bh
        WHERE
        bh.budget_month = #{budgetMonth,jdbcType=DATE}
        AND bh.department_id = #{departmentId,jdbcType=VARCHAR}
        AND bh.cost_type_id = #{costTypeId,jdbcType=INTEGER}
      )
    WHERE
      tb.budget_month = #{budgetMonth,jdbcType=VARCHAR}
      AND tb.department_id = #{departmentId,jdbcType=VARCHAR}
      AND tb.cost_type_id = #{costTypeId,jdbcType=INTEGER}
  </update>

  <!--查询预算历史中的总预算（按月统计）-->
  <select id="calcHistoryMoney" resultType="com.jn.park.finance.model.FinanceBudgetHistoryModel">
    select department_id departmentId,cost_type_id costTypeId,budget_month budgetMonth,sum(budget_money) budgetMoney from tb_finance_budget_history bh
    <where>
      record_status=1 and cost_type_id=#{costTypeId,jdbcType=INTEGER} and department_id=#{departmentId,jdbcType=VARCHAR} and
        budget_month =#{budgetMonth,jdbcType=VARCHAR}
    </where>
    group by department_id,cost_type_id,budget_month ;
  </select>
</mapper>