<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.enterprise.servicemarket.require.dao.RequireManagementMapper">
    <!--对他人的需求列表查询-->
    <select id="getRequireOtherList" resultType="com.jn.enterprise.servicemarket.require.model.RequireInfoList">
        SELECT
            sr.`req_num` AS "reqNum"			                        <!--需求单号-->
            ,sr.`org_id_` AS "orgId"				                        <!--机构id-->
            ,sr.`org_name`AS "orgName"			                        <!--机构名称-->
            ,sr.`business_id` AS "businessId"		                    <!--领域id-->
            ,sr.`business_area` AS "businessArea"		                <!--领域名称-->
            ,sr.`product_id_` AS "productId" 		                    <!--产品id-->
            ,sr.`product_name` AS "productName"		                    <!--产品名称-->
            ,sr.`advisor_account` AS "advisorAccount"	                <!--顾问账号-->
            ,sr.`advisor_name` AS "advisorName"		                    <!--顾问姓名-->
            ,DATE_FORMAT(sr.`created_time`,"%Y/%m/%d")AS requireTime	<!--提需求日期-->
            ,CASE sr.`status`
            WHEN '1' THEN "待处理"
            WHEN '2' THEN "已处理"
            when '-1' then "已撤销"
            ELSE '--'
            END AS  "status"				      <!--需求状态-->
            ,CASE sr.handle_result
            WHEN '1' THEN "对接成功"
            WHEN '2' THEN "对接失败"
            WHEN '3' THEN "企业需求撤销"
            WHEN '4' THEN "未对接"
            ELSE '--'
            END AS "handleResult"				  <!--对接结果-->
            ,case sr.is_comment
            when '0' then "未点评"
            when '1' then "已点评"
            else '--'
            end as "isComment"                    <!--点评结果-->
            ,tsr.attitude_score as "ratingScore"  <!--点评分数-->
            ,tsr.evaluation_desc as "evaluationDesc"  <!--点评描述-->
        FROM tb_service_require sr
        left join tb_service_rating tsr
        on sr.id=tsr.require_id
        WHERE 1=1
        and sr.record_status='1'
        AND sr.issue_account=#{account}           <!--发布人  对他人的需求-->
        <if test="requireOtherParam.intentProduct!=null and requireOtherParam.intentProduct!=''">
            and (sr.product_id_ like CONCAT('%', #{requireOtherParam.intentProduct}, '%') or sr.product_name like CONCAT('%', #{requireOtherParam.intentProduct}, '%'))
        </if>
        <if test="requireOtherParam.intentOrg!=null and requireOtherParam.intentOrg!=''">
            and (sr.org_id_ like CONCAT('%', #{requireOtherParam.intentOrg}, '%') or sr.org_name like CONCAT('%', #{requireOtherParam.intentOrg}, '%'))
        </if>
        <if test="requireOtherParam.handleResult!=null and requireOtherParam.handleResult!=''">
            and sr.handle_result=#{requireOtherParam.handleResult}
        </if>
        <if test="requireOtherParam.dataStatus ==1 "> <!--待受理-->
            and sr.status= '1'
        </if>
        <if test="requireOtherParam.dataStatus ==2 "> <!--待评价-->
            and sr.status= '2'  <!--已处理-->
            and sr.handle_result='1'  <!--对接成功-->
            and sr.is_comment='0' <!--未点评-->
        </if>
        <if test="requireOtherParam.dataStatus ==3 "> <!--已评价-->
            and sr.status= '2'  <!--已处理-->
            and sr.handle_result='1'  <!--对接成功-->
            and sr.is_comment='1' <!--已点评-->
        </if>
        order by sr.`created_time` desc, sr.issue_account desc
    </select>

    <!--我收到的需求列表查询-->
    <select id="getRequireReceivedList" resultType="com.jn.enterprise.servicemarket.require.model.RequireInfoList">
        SELECT
        sr.`req_num` AS "reqNum"			                          <!--需求单号-->
        ,sr.`org_id_` AS "orgId"				                      <!--机构id-->
        ,sr.`org_name`AS "orgName"			                          <!--机构名称-->
        ,sr.`business_id` AS "businessId"		                      <!--领域id-->
        ,sr.`business_area` AS "businessArea"		                  <!--领域名称-->
        ,sr.`product_id_` AS "productId" 		                      <!--产品id-->
        ,sr.`product_name` AS "productName"		                      <!--产品名称-->
        ,sr.`advisor_account` AS "advisorAccount"	                  <!--顾问账号-->
        ,sr.`advisor_name` AS "advisorName"		                      <!--顾问姓名-->
        ,DATE_FORMAT(sr.`created_time`,"%Y/%m/%d")AS requireTime	  <!--提需求日期-->
        ,CASE sr.`status`
        WHEN '1' THEN "待处理"
        WHEN '2' THEN "已处理"
        when '-1' then "已撤销"
        ELSE '--'
        END AS  "status"				              <!--需求状态-->
        ,CASE sr.handle_result
        WHEN '1' THEN "对接成功"
        WHEN '2' THEN "对接失败"
        WHEN '3' THEN "企业需求撤销"
        WHEN '4' THEN "未对接"
        ELSE '--'
        END AS "handleResult"				          <!--对接结果-->
        ,case sr.is_comment
        when '0' then "未点评"
        when '1' then "已点评"
        else '--'
        end as "isComment"                            <!--点评结果-->
        ,tsr.attitude_score as "ratingScore"          <!--点评分数-->
        ,tsr.evaluation_desc as "evaluationDesc"      <!--点评描述-->
        FROM tb_service_require sr
        left join tb_service_rating tsr
        on sr.id=tsr.require_id
        <if test="orgId==null or orgId==''">          <!--顾问账号  我收到的需求-->
            left join tb_service_and_advisor tsa
            on sr.product_id_=tsa.product_id_
        </if>
        WHERE 1=1
        and sr.record_status='1'
        <if test="orgId==null or orgId==''">           <!--顾问账号  我收到的需求-->
            AND tsa.advisor_account=#{account}
        </if>
        <if test="orgId!=null and orgId!=''">          <!--机构账号  我收到的需求 -->
          and sr.product_id_ in
          (
            select
              sp.product_id_
            from tb_service_product sp
            where 1=1
            and sp.org_id_=#{orgId}
            and sp.record_status='1'                  <!--数据状态为有效-->
            and sp.status='1'                         <!--审核状态为有效-->
          )
          and sr.advisor_account is null              <!--机构管理员或联系人只能查看没有意向顾问的需求-->
          and sr.advisor_name is null
        </if>
        <if test="requireReceivedParam.intentProduct!=null and requireReceivedParam.intentProduct!=''"> <!--意向产品-->
            and (sr.product_id_ like CONCAT('%', #{requireReceivedParam.intentProduct}, '%') or sr.product_name like CONCAT('%', #{requireReceivedParam.intentProduct}, '%'))
        </if>
        <if test="requireReceivedParam.handleResult!=null and requireReceivedParam.handleResult!=''">   <!--对接结果-->
            and sr.handle_result=#{requireReceivedParam.handleResult}
        </if>
        <if test="requireReceivedParam.requirePerson!=null and requireReceivedParam.requirePerson!=''"> <!--需求人-->
            and (sr.req_name like CONCAT('%', #{requireReceivedParam.requirePerson}, '%') or sr.issue_account like CONCAT('%', #{requireReceivedParam.requirePerson}, '%'))
        </if>
        <if test="requireReceivedParam.dataStatus ==1 "> <!--待受理-->
            and sr.status= '1'
        </if>
        <if test="requireReceivedParam.dataStatus ==2 "> <!--待评价-->
            and sr.status= '2'  <!--已处理-->
            and sr.handle_result='1'  <!--对接成功-->
            and sr.is_comment='0' <!--未点评-->
        </if>
        <if test="requireReceivedParam.dataStatus ==3 "> <!--已评价-->
            and sr.status= '2'  <!--已处理-->
            and sr.handle_result='1'  <!--对接成功-->
            and sr.is_comment='1' <!--已点评-->
        </if>
        order by sr.`created_time` desc ,sr.issue_account desc
    </select>

    <!--需求管理列表查询（后台门户管理）-->
    <select id="getPortalRequireInfoList" parameterType="com.jn.enterprise.servicemarket.require.model.RequirePortalParam"
            resultType="com.jn.enterprise.servicemarket.require.model.RequirePortalInfoList">
        SELECT
        sr.req_num AS "reqNum"					                  <!--需求单号-->
        ,sr.`business_id` AS "businessId"				          <!--领域id-->
        ,sr.`business_area` AS "businessArea"			          <!--领域名称-->
        ,sr.`org_id_` AS "orgId"					                  <!--机构id-->
        ,sr.`org_name` AS "orgName"					              <!--机构名称-->
        ,IFNULL(sr.`advisor_account`,"未指定") AS"advisorAccount" <!--顾问账号-->
        ,IFNULL(sr.`advisor_name`,"未指定") AS "advisorName"	      <!--顾问名称-->
        ,sr.issue_account AS "issueAccount"				          <!--需求人-->
        ,sr.`product_id_` AS "productId"				              <!--产品id-->
        ,sr.`product_name` AS "productName"				          <!--产品名称-->
        ,CASE sp.product_type
        WHEN '0' THEN "常规服务产品"
        WHEN '1' THEN "特色服务产品"
        ELSE ''
        END  AS "productType"					                  <!--产品分类-->
        ,DATE_FORMAT(sr.`issue_time`,"%Y/%m/%d")AS requireTime	  <!--需求日期-->
        ,CASE sr.handle_result
        WHEN '1' THEN "对接成功"
        WHEN '2' THEN "对接失败"
        WHEN '3' THEN "企业需求撤销"
        WHEN '4' THEN "未对接"
        ELSE '--'
        END AS "handleResult"				 	                  <!--对接结果-->
        FROM tb_service_require sr
        LEFT JOIN tb_service_product sp
        ON sr.product_id_=sp.product_id_
        where 1=1
        <if test="productType!=null and productType!=''">           <!--产品类型精确搜索-->
            and sp.product_type=#{productType}
        </if>
        <if test="handleResult!=null and handleResult!=''">         <!--对接结果精确搜索-->
            and sr.handle_result=#{handleResult}
        </if>
        <if test="businessId!=null and businessId!=''">             <!--业务领域精确搜索-->
            and sr.business_id=#{businessId}
        </if>
        <if test="serviceOrg!=null and serviceOrg!=''">             <!--服务机构模糊搜索-->
            and (sr.org_id_ like  CONCAT('%', #{serviceOrg}, '%') or sr.org_name like CONCAT('%', #{serviceOrg}, '%'))
        </if>
        <if test="requireStartTime!=null and requireStartTime!=''"> <!--需求日期开始时间精确搜索-->
            and date_format(sr.`issue_time`,'%Y%m')&gt;=#{requireStartTime}
        </if>
        <if test="requireEndTime!=null and requireEndTime!=''">     <!--需求日期结束时间精确搜索-->
            and date_format(sr.`issue_time`,'%Y%m')&lt;=#{requireEndTime}
        </if>
        <if test="serviceProduct!=null and serviceProduct!=''">     <!--服务产品模糊搜索-->
            and (sr.product_id_ like  CONCAT('%', #{serviceProduct}, '%') or sr.product_name like CONCAT('%', #{serviceProduct}, '%'))
        </if>
        ORDER BY sr.`issue_time` DESC
    </select>

    <select id="getPortalRequireDetails" resultType="com.jn.enterprise.servicemarket.require.model.RequirePortalDetails">
        SELECT
        sr.req_num AS "reqNum"					                  <!--需求单号-->
        ,sr.`business_area` AS "businessArea"			          <!--领域名称-->
        ,sr.`org_name` AS "orgName"					              <!--机构名称-->
        ,IFNULL(sr.`advisor_name`,"未指定") AS "advisorName"	      <!--顾问名称-->
        ,sr.issue_account AS "issueAccount"				          <!--需求人-->
        ,sr.`product_name` AS "productName"				          <!--产品名称-->
        ,CASE sp.product_type
        WHEN '0' THEN "常规服务产品"
        WHEN '1' THEN "特色服务产品"
        ELSE ''
        END  AS "productType"					                  <!--产品分类-->
        ,DATE_FORMAT(sr.`issue_time`,"%Y/%m/%d")AS issueTime	  <!--发布时间-->
        ,sr.req_name as "reqName"                                 <!--联系人姓名-->
        ,sr.req_phone as "reqPhone"                               <!--联系人手机-->
        ,sr.req_email as "reqEmail"                               <!--联系人邮箱-->
        ,sr.contract_amount as "contractAmount"                   <!--合同总金额-->
        ,sr.req_detail as "requireDetail"                         <!--需求描述-->
        ,CASE sr.handle_result
        WHEN '1' THEN "对接成功"
        WHEN '2' THEN "对接失败"
        WHEN '3' THEN "企业需求撤销"
        WHEN '4' THEN "未对接"
        ELSE '暂无'
        END AS "handleResult"				 	                  <!--对接结果-->
        ,IFNULL(sr.result_detail,"暂无") as "resultDetail"         <!--结果描述-->
        ,sr.financing_amount as "financingAmount"                 <!--[科技金融]融资金额-->
        ,sr.financing_period_max as "financingPeriod"             <!--[科技金融]融资期限-->
        ,sr.actual_loan_amount as "actualLoanAmount"              <!--[科技金融]实际贷款金额(万元)-->
        ,sr.funds_req_desc as "fundsReqDesc"                      <!--[科技金融]资金需求说明-->
        ,DATE_FORMAT(sr.expected_date,"%Y-%m-%d")as "expectedDate"<!--[科技金融]资金需求日期")-->
        ,sr.contract_home_page as "contractHomePage"              <!--合同首页-->
        ,sr.contract_end_page as "contractEndPage"                <!--合同尾页-->
        ,tsr.attitude_score as "ratingScore"                      <!--点评分数-->
        ,tsr.evaluation_desc as "evaluationDesc"                  <!--点评描述-->
        FROM tb_service_require sr
        left join tb_service_rating tsr
        on sr.id=tsr.require_id
        LEFT JOIN tb_service_product sp
        ON sr.product_id_=sp.product_id_
        where 1=1
        and sr.req_num=#{reqNum}
    </select>

</mapper>