<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.hr.exam.dao.TbManpowerExaminaExamQuestionMapper">
  <resultMap id="BaseResultMap" type="com.jn.hr.exam.entity.TbManpowerExaminaExamQuestion">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="examina_id" jdbcType="VARCHAR" property="examinaId" />
    <result column="test_question_id" jdbcType="VARCHAR" property="testQuestionId" />
    <result column="fraction" jdbcType="VARCHAR" property="fraction" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, examina_id, test_question_id, fraction
  </sql>
  <select id="selectByExample" parameterType="com.jn.hr.exam.entity.TbManpowerExaminaExamQuestionCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_manpower_examina_exam_question
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_manpower_examina_exam_question
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_manpower_examina_exam_question
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jn.hr.exam.entity.TbManpowerExaminaExamQuestionCriteria">
    delete from tb_manpower_examina_exam_question
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.hr.exam.entity.TbManpowerExaminaExamQuestion">
    insert into tb_manpower_examina_exam_question (id, examina_id, test_question_id, 
      fraction)
    values (#{id,jdbcType=VARCHAR}, #{examinaId,jdbcType=VARCHAR}, #{testQuestionId,jdbcType=VARCHAR}, 
      #{fraction,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jn.hr.exam.entity.TbManpowerExaminaExamQuestion">
    insert into tb_manpower_examina_exam_question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="examinaId != null">
        examina_id,
      </if>
      <if test="testQuestionId != null">
        test_question_id,
      </if>
      <if test="fraction != null">
        fraction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="examinaId != null">
        #{examinaId,jdbcType=VARCHAR},
      </if>
      <if test="testQuestionId != null">
        #{testQuestionId,jdbcType=VARCHAR},
      </if>
      <if test="fraction != null">
        #{fraction,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.hr.exam.entity.TbManpowerExaminaExamQuestionCriteria" resultType="java.lang.Long">
    select count(*) from tb_manpower_examina_exam_question
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_manpower_examina_exam_question
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.examinaId != null">
        examina_id = #{record.examinaId,jdbcType=VARCHAR},
      </if>
      <if test="record.testQuestionId != null">
        test_question_id = #{record.testQuestionId,jdbcType=VARCHAR},
      </if>
      <if test="record.fraction != null">
        fraction = #{record.fraction,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_manpower_examina_exam_question
    set id = #{record.id,jdbcType=VARCHAR},
      examina_id = #{record.examinaId,jdbcType=VARCHAR},
      test_question_id = #{record.testQuestionId,jdbcType=VARCHAR},
      fraction = #{record.fraction,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jn.hr.exam.entity.TbManpowerExaminaExamQuestion">
    update tb_manpower_examina_exam_question
    <set>
      <if test="examinaId != null">
        examina_id = #{examinaId,jdbcType=VARCHAR},
      </if>
      <if test="testQuestionId != null">
        test_question_id = #{testQuestionId,jdbcType=VARCHAR},
      </if>
      <if test="fraction != null">
        fraction = #{fraction,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jn.hr.exam.entity.TbManpowerExaminaExamQuestion">
    update tb_manpower_examina_exam_question
    set examina_id = #{examinaId,jdbcType=VARCHAR},
      test_question_id = #{testQuestionId,jdbcType=VARCHAR},
      fraction = #{fraction,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>