<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.hr.exam.dao.TbManpowerExaminaManagementMapper">
  <resultMap id="BaseResultMap" type="com.jn.hr.exam.entity.TbManpowerExaminaManagement">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="examina_name" jdbcType="VARCHAR" property="examinaName" />
    <result column="effective_time_start" jdbcType="TIMESTAMP" property="effectiveTimeStart" />
    <result column="effective_time_end" jdbcType="TIMESTAMP" property="effectiveTimeEnd" />
    <result column="examina_notes" jdbcType="VARCHAR" property="examinaNotes" />
    <result column="total_score" jdbcType="INTEGER" property="totalScore" />
    <result column="pass_score" jdbcType="INTEGER" property="passScore" />
    <result column="answer_time" jdbcType="INTEGER" property="answerTime" />
    <result column="examina_dimensional" jdbcType="VARCHAR" property="examinaDimensional" />
    <result column="examina_url" jdbcType="VARCHAR" property="examinaUrl" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="is_release" jdbcType="TINYINT" property="isRelease" />
    <result column="record_status" jdbcType="TINYINT" property="recordStatus" />
    <result column="creator_account" jdbcType="VARCHAR" property="creatorAccount" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, examina_name, effective_time_start, effective_time_end, examina_notes, total_score, 
    pass_score, answer_time, examina_dimensional, examina_url, status, is_release, record_status, 
    creator_account, created_time, modifier_account, modified_time
  </sql>
  <select id="selectByExample" parameterType="com.jn.hr.exam.entity.TbManpowerExaminaManagementCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_manpower_examina_management
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_manpower_examina_management
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_manpower_examina_management
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jn.hr.exam.entity.TbManpowerExaminaManagementCriteria">
    delete from tb_manpower_examina_management
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.hr.exam.entity.TbManpowerExaminaManagement">
    insert into tb_manpower_examina_management (id, examina_name, effective_time_start, 
      effective_time_end, examina_notes, total_score, 
      pass_score, answer_time, examina_dimensional, 
      examina_url, status, is_release, 
      record_status, creator_account, created_time, 
      modifier_account, modified_time)
    values (#{id,jdbcType=VARCHAR}, #{examinaName,jdbcType=VARCHAR}, #{effectiveTimeStart,jdbcType=TIMESTAMP}, 
      #{effectiveTimeEnd,jdbcType=TIMESTAMP}, #{examinaNotes,jdbcType=VARCHAR}, #{totalScore,jdbcType=INTEGER}, 
      #{passScore,jdbcType=INTEGER}, #{answerTime,jdbcType=INTEGER}, #{examinaDimensional,jdbcType=VARCHAR}, 
      #{examinaUrl,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{isRelease,jdbcType=TINYINT}, 
      #{recordStatus,jdbcType=TINYINT}, #{creatorAccount,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{modifierAccount,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jn.hr.exam.entity.TbManpowerExaminaManagement">
    insert into tb_manpower_examina_management
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="examinaName != null">
        examina_name,
      </if>
      <if test="effectiveTimeStart != null">
        effective_time_start,
      </if>
      <if test="effectiveTimeEnd != null">
        effective_time_end,
      </if>
      <if test="examinaNotes != null">
        examina_notes,
      </if>
      <if test="totalScore != null">
        total_score,
      </if>
      <if test="passScore != null">
        pass_score,
      </if>
      <if test="answerTime != null">
        answer_time,
      </if>
      <if test="examinaDimensional != null">
        examina_dimensional,
      </if>
      <if test="examinaUrl != null">
        examina_url,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isRelease != null">
        is_release,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
      <if test="creatorAccount != null">
        creator_account,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifierAccount != null">
        modifier_account,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="examinaName != null">
        #{examinaName,jdbcType=VARCHAR},
      </if>
      <if test="effectiveTimeStart != null">
        #{effectiveTimeStart,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTimeEnd != null">
        #{effectiveTimeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="examinaNotes != null">
        #{examinaNotes,jdbcType=VARCHAR},
      </if>
      <if test="totalScore != null">
        #{totalScore,jdbcType=INTEGER},
      </if>
      <if test="passScore != null">
        #{passScore,jdbcType=INTEGER},
      </if>
      <if test="answerTime != null">
        #{answerTime,jdbcType=INTEGER},
      </if>
      <if test="examinaDimensional != null">
        #{examinaDimensional,jdbcType=VARCHAR},
      </if>
      <if test="examinaUrl != null">
        #{examinaUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="isRelease != null">
        #{isRelease,jdbcType=TINYINT},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorAccount != null">
        #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.hr.exam.entity.TbManpowerExaminaManagementCriteria" resultType="java.lang.Long">
    select count(*) from tb_manpower_examina_management
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_manpower_examina_management
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.examinaName != null">
        examina_name = #{record.examinaName,jdbcType=VARCHAR},
      </if>
      <if test="record.effectiveTimeStart != null">
        effective_time_start = #{record.effectiveTimeStart,jdbcType=TIMESTAMP},
      </if>
      <if test="record.effectiveTimeEnd != null">
        effective_time_end = #{record.effectiveTimeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="record.examinaNotes != null">
        examina_notes = #{record.examinaNotes,jdbcType=VARCHAR},
      </if>
      <if test="record.totalScore != null">
        total_score = #{record.totalScore,jdbcType=INTEGER},
      </if>
      <if test="record.passScore != null">
        pass_score = #{record.passScore,jdbcType=INTEGER},
      </if>
      <if test="record.answerTime != null">
        answer_time = #{record.answerTime,jdbcType=INTEGER},
      </if>
      <if test="record.examinaDimensional != null">
        examina_dimensional = #{record.examinaDimensional,jdbcType=VARCHAR},
      </if>
      <if test="record.examinaUrl != null">
        examina_url = #{record.examinaUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.isRelease != null">
        is_release = #{record.isRelease,jdbcType=TINYINT},
      </if>
      <if test="record.recordStatus != null">
        record_status = #{record.recordStatus,jdbcType=TINYINT},
      </if>
      <if test="record.creatorAccount != null">
        creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifierAccount != null">
        modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedTime != null">
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_manpower_examina_management
    set id = #{record.id,jdbcType=VARCHAR},
      examina_name = #{record.examinaName,jdbcType=VARCHAR},
      effective_time_start = #{record.effectiveTimeStart,jdbcType=TIMESTAMP},
      effective_time_end = #{record.effectiveTimeEnd,jdbcType=TIMESTAMP},
      examina_notes = #{record.examinaNotes,jdbcType=VARCHAR},
      total_score = #{record.totalScore,jdbcType=INTEGER},
      pass_score = #{record.passScore,jdbcType=INTEGER},
      answer_time = #{record.answerTime,jdbcType=INTEGER},
      examina_dimensional = #{record.examinaDimensional,jdbcType=VARCHAR},
      examina_url = #{record.examinaUrl,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      is_release = #{record.isRelease,jdbcType=TINYINT},
      record_status = #{record.recordStatus,jdbcType=TINYINT},
      creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jn.hr.exam.entity.TbManpowerExaminaManagement">
    update tb_manpower_examina_management
    <set>
      <if test="examinaName != null">
        examina_name = #{examinaName,jdbcType=VARCHAR},
      </if>
      <if test="effectiveTimeStart != null">
        effective_time_start = #{effectiveTimeStart,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTimeEnd != null">
        effective_time_end = #{effectiveTimeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="examinaNotes != null">
        examina_notes = #{examinaNotes,jdbcType=VARCHAR},
      </if>
      <if test="totalScore != null">
        total_score = #{totalScore,jdbcType=INTEGER},
      </if>
      <if test="passScore != null">
        pass_score = #{passScore,jdbcType=INTEGER},
      </if>
      <if test="answerTime != null">
        answer_time = #{answerTime,jdbcType=INTEGER},
      </if>
      <if test="examinaDimensional != null">
        examina_dimensional = #{examinaDimensional,jdbcType=VARCHAR},
      </if>
      <if test="examinaUrl != null">
        examina_url = #{examinaUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="isRelease != null">
        is_release = #{isRelease,jdbcType=TINYINT},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorAccount != null">
        creator_account = #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jn.hr.exam.entity.TbManpowerExaminaManagement">
    update tb_manpower_examina_management
    set examina_name = #{examinaName,jdbcType=VARCHAR},
      effective_time_start = #{effectiveTimeStart,jdbcType=TIMESTAMP},
      effective_time_end = #{effectiveTimeEnd,jdbcType=TIMESTAMP},
      examina_notes = #{examinaNotes,jdbcType=VARCHAR},
      total_score = #{totalScore,jdbcType=INTEGER},
      pass_score = #{passScore,jdbcType=INTEGER},
      answer_time = #{answerTime,jdbcType=INTEGER},
      examina_dimensional = #{examinaDimensional,jdbcType=VARCHAR},
      examina_url = #{examinaUrl,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      is_release = #{isRelease,jdbcType=TINYINT},
      record_status = #{recordStatus,jdbcType=TINYINT},
      creator_account = #{creatorAccount,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>