<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.system.menu.dao.SysMenuMapper">

    <update id="deleteBy" parameterType="java.util.List">
        update tb_sys_menu set record_status= 0
        where id in
        <foreach collection="list" item="id" open="(" close=")" index="index" separator=",">
            #{id}
        </foreach>
    </update>

    <update id="updateBatch" parameterType="java.util.List">
            update tb_sys_menu
            <trim prefix="set" suffixOverrides=",">
                <trim prefix="menu_name =case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when id=#{item.id} then #{item.menuName}
                    </foreach>
                </trim>
                <trim prefix="menu_url =case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when id=#{item.id} then #{item.menuUrl}
                    </foreach>
                </trim>
                <trim prefix="sort =case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when id=#{item.id} then #{item.sort}
                    </foreach>
                </trim>
            </trim>
            where id in
            <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
                #{item.id,jdbcType=BIGINT}
            </foreach>
    </update>

    <select id="findLevelByMenuId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT level FROM `tb_sys_menu` where id = #{id,jdbcType=VARCHAR} LIMIT 1
    </select>

    <select id="findSortByMenuId" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT max(sort) FROM `tb_sys_menu` where parent_id = #{id,jdbcType=VARCHAR} AND `record_status` = 1 LIMIT 1
    </select>

    <select id="getChildrenMenuByParentId" resultType="com.jn.system.menu.vo.SysMenuTreeVO" parameterType="java.lang.String">
        SELECT
        t.id,
        t.menu_name as label,
        t.menu_url as menuUrl,
        (select menu_name
        from tb_sys_menu
        where id = t.parent_id
        and `record_status` = 1) as parentName,
        t.parent_id as parentId,
        t.is_dir as isDir,
        t.created_time as createdTime,
        t.sort
        FROM `tb_sys_menu` t
        where t.parent_id = #{id,jdbcType=VARCHAR}
        and t.`record_status` = 1
        ORDER BY t.`sort` ASC
    </select>

    <select id="getDynamicMenu" resultType="com.jn.system.menu.vo.SysMenuTreeVO"
            parameterType="java.lang.String">
        select distinct
        sm.id,
        sm.menu_name as label,
        sm.is_dir as isDir,
        sm.`level`,
        sm.parent_id as parentId,
        sm.sort,
        sm.menu_url as path
        from
        tb_sys_user su
        ,tb_sys_user_role sur
        ,tb_sys_role sr
        ,tb_sys_permission sp
        ,tb_sys_role_permission srp
        ,tb_sys_menu sm
        ,tb_sys_permission_menu spm
        where su.id = sur.user_id
        and sr.id = sur.role_id
        and sr.id = srp.role_id
        and sp.id = srp.permission_id
        and sp.id = spm.permission_id
        and sm.id = spm.menu_id
        and su.record_status =1
        and sur.record_status =1
        and sr.record_status = 1
        and sp.record_status = 1
        and srp.record_status = 1
        and sm.record_status = 1
        and spm.record_status = 1
        and su.id = #{id,jdbcType=VARCHAR}
        ORDER BY sm.`level` ASC , sm.sort ASC
    </select>

    <resultMap id="menu_resources_map" type="com.jn.system.menu.vo.SysMenuTreeVO">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="menu_name" jdbcType="VARCHAR" property="label" javaType="java.lang.String"/>
        <result column="menu_url" jdbcType="VARCHAR" property="menuUrl" javaType="java.lang.String"/>
        <result column="sort" jdbcType="INTEGER" property="sort" javaType="java.lang.Integer"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId" javaType="java.lang.String"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" javaType="java.util.Date"/>
        <result column="is_dir" jdbcType="VARCHAR" property="isDir" javaType="java.lang.String"/>
        <result column="parentName" jdbcType="VARCHAR" property="parentName" javaType="java.lang.String"/>
        <result column="level" jdbcType="VARCHAR" property="level" javaType="java.lang.String"/>
        <collection property="resourcesList" javaType="java.util.List" ofType="com.jn.system.menu.model.SysResources">
            <id column="r_id" property="id" jdbcType="VARCHAR"/>
            <result column="resources_name" property="resourcesName" jdbcType="VARCHAR"/>
            <result column="resources_url" property="resourcesUrl" jdbcType="VARCHAR"/>
            <result column="menu_id" property="menuId" jdbcType="VARCHAR"/>
            <result column="r_create_time" property="createdTime" jdbcType="TIMESTAMP"/>
            <result column="r_status" property="recordStatus" jdbcType="VARCHAR"/>
        </collection>
        <collection property="children" javaType="java.util.List" ofType="com.jn.system.menu.model.SysResources">
            <id column="r_id" property="id" jdbcType="VARCHAR"/>
            <result column="resources_name" property="label" jdbcType="VARCHAR"/>
            <result column="resources_url" property="resourcesUrl" jdbcType="VARCHAR"/>
            <result column="menu_id" property="menuId" jdbcType="VARCHAR"/>
            <result column="r_create_time" property="createdTime" jdbcType="TIMESTAMP"/>
            <result column="r_status" property="recordStatus" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <select id="getMenuAndResources" resultMap="menu_resources_map">
        SELECT
        m.id,
        m.menu_name,
        m.menu_url,
        m.parent_id,
        m.is_dir,
        m.sort,
        m.creator_account,
        m.created_time,
        m.`record_status`,
        m.`level`,
        r.r_id,
        r.resources_name,
        r.resources_url,
        r.menu_id,
        r.r_creator,
        r.r_create_time,
        r.r_status
        FROM tb_sys_menu m
        LEFT JOIN
        (SELECT
        id as r_id,
        resources_name,
        resources_url,
        menu_id,
        creator_account as r_creator,
        created_time as r_create_time,
        `record_status` as r_status
        FROM tb_sys_resources
        WHERE `record_status` = 1) r
        ON
        m.id = r.menu_id
        WHERE m.`record_status` = 1
        ORDER BY m.sort ASC,r.r_create_time DESC
    </select>

    <select id="getChildrenMenuIdS" resultType="java.lang.String">
        SELECT queryChildrenSysMenuInfo(#{id,jdbcType=VARCHAR})      <!--queryChildrenSysMenuInfo菜单节点向下递归函数-->
    </select>

</mapper>