<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.system.menu.dao.SysResourcesMapper">

    <update id="deleteByIds" parameterType="java.util.Map">
        update tb_sys_resources
        set
        record_status = 0,
        modifier_account=#{account},
        modified_time = now()
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="deleteBy" parameterType="java.util.List">
        update tb_sys_resources set record_status= 0
        where menu_id in
        <foreach collection="list" item="id" open="(" close=")" index="index" separator=",">
            #{id}
        </foreach>
    </update>

    <!-- 获取用户菜单、功能列表-->
    <select id="findPermissionsUrlById" parameterType="java.lang.String" resultType="java.lang.String">
        select distinct
        sm.menu_url "url"
        from
        tb_sys_user su
        ,tb_sys_user_role sur
        ,tb_sys_role sr
        ,tb_sys_permission sp
        ,tb_sys_role_permission srp
        ,tb_sys_menu sm
        ,tb_sys_permission_menu spm
        where su.id = sur.user_id
        and sr.id = sur.role_id
        and sr.id = srp.role_id
        and sp.id = srp.permission_id
        and sp.id = spm.permission_id
        and sm.id = spm.menu_id
        and su.record_status =1
        and sur.record_status =1
        and sr.record_status = 1
        and sp.record_status = 1
        and srp.record_status = 1
        and sm.record_status = 1
        and spm.record_status = 1
        and su.id = #{id,jdbcType=VARCHAR}
        union all
        select distinct
        tsr.resources_url "url"
        from
        tb_sys_user su
        ,tb_sys_user_role sur
        ,tb_sys_role sr
        ,tb_sys_permission sp
        ,tb_sys_role_permission srp
        ,tb_sys_resources tsr
        ,tb_sys_permission_resources spr
        where su.id = sur.user_id
        and sr.id = sur.role_id
        and sr.id = srp.role_id
        and sp.id = srp.permission_id
        and sp.id = spr.permission_id
        and tsr.id = spr.resources_id
        and su.record_status =1
        and sur.record_status =1
        and sr.record_status = 1
        and sp.record_status = 1
        and srp.record_status = 1
        and sr.record_status = 1
        and spr.record_status = 1
        and su.id = #{id,jdbcType=VARCHAR}
    </select>

    <!-- 获取菜单对应功能链接-->
    <select id="getMenuResourcesUrlById" parameterType="java.lang.String"
            resultType="com.jn.system.model.MenuResources">
        select distinct
        tsr.id "resourcesId"
        ,tsr.resources_url "resourcesUrl"
        ,tsr.menu_id "menuId"
        ,sm.menu_url "menuUrl"
        from
        tb_sys_user su
        ,tb_sys_user_role sur
        ,tb_sys_role sr
        ,tb_sys_permission sp
        ,tb_sys_role_permission srp
        ,tb_sys_resources tsr
        ,tb_sys_permission_resources spr
        ,tb_sys_menu sm
        where su.id = sur.user_id
        and sr.id = sur.role_id
        and sr.id = srp.role_id
        and sp.id = srp.permission_id
        and sp.id = spr.permission_id
        and tsr.id = spr.resources_id
        and sm.id = tsr.menu_id
        and su.record_status =1
        and sur.record_status =1
        and sr.record_status = 1
        and sp.record_status = 1
        and srp.record_status = 1
        and sr.record_status = 1
        and spr.record_status = 1
        and sm.record_status = 1
        and su.id = #{id,jdbcType=VARCHAR}
        order by sm.menu_url asc
    </select>

    <select id="findResourceById" parameterType="java.lang.String" resultType="com.jn.system.menu.model.SysResources">
        select distinct
        r.id,
        r.resources_name as resourcesName,
        r.created_time as createdTime,
        r.creator_account as creatorAccount,
        r.resources_url as resourcesUrl,
        r.record_status as recordStatus,
        m.menu_name as menuId
        from tb_sys_resources r left join
        (SELECT * FROM tb_sys_menu WHERE record_status = 1) m
        on r.menu_id = m.id where r.id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="getResourcesByMenuId" resultType="java.lang.String"
            parameterType="java.lang.String">
        SELECT
        id
        FROM tb_sys_resources
        WHERE menu_id = #{id,jdbcType=VARCHAR}
        AND `record_status` = 1
        ORDER BY created_time DESC
    </select>

</mapper>