<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.hr.assessment.dao.AssessmentTemplateDetailMapper">

    <select id="selectByTemplateId" parameterType="java.lang.String"
		resultType="com.jn.hr.assessment.model.AssessmentTemplateDetailVo">
		SELECT * FROM tb_manpower_assessment_template_detail t1
		where t1.template_id = #{templateId,jdbcType=VARCHAR}
	</select>
	
	<insert id="insertBatch" parameterType="java.util.List">
        insert into tb_manpower_assessment_template_detail
        ( id, target_category, serial_number, 
      assessment_target, score, score_rubric, 
      lead_assessment_department, template_id
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id}, #{item.targetCategory}, #{item.serialNumber}, 
      #{item.assessmentTarget}, #{item.score}, #{item.scoreRubric}, 
      #{item.leadAssessmentDepartment}, #{item.templateId}
            )
        </foreach>
    </insert>
    
</mapper>