<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.portals.activity.dao.ActivityFileMapper">
    <!--批量插入活动类型模板-->
    <insert id="insertActivityTypeTemp" parameterType="java.util.Map">
        INSERT INTO TB_ACTIVITY_FILE (ID,TYPE_ID,FILE_SRC,CREATE_TIME,UPDATE_ACCOUNT,STATE)
        select A.* from(
        <foreach collection="list" item="item" index="index" open="" close="" separator="union all">
            ( select #{item.id,jdbcType=VARCHAR}
            ,#{item.typeId,jdbcType=VARCHAR}
            ,#{item.fileSrc,jdbcType=VARCHAR}
            ,#{item.createTime,jdbcType=TIMESTAMP}
            ,#{item.updateAccount,jdbcType=VARCHAR}
            ,#{item.state,jdbcType=VARCHAR}
            from dual)
        </foreach>
        )A
    </insert>
    <!--活动类型列表查询 -->
    <select id="findActivityTypeListByState" resultType="com.jn.activity.model.ActivityType">
        select
              t.type_id as typeId
              ,t.type_name as typeName
              ,t.state as state
              ,count(f.type_id) as fileTotal
        from   tb_activity_type t
        left join  tb_activity_file f  on  t.type_id = f.type_id
        where 1=1
        and   t.state != '-1'
        <if test="state != null and state!=''">
              and t.state = #{state,jdbcType=VARCHAR}
        </if>
        group by   t.type_id
    </select>

    <!--具体活动类型展示
    <select id="findActivityTypeByState" resultMap="ActivityMap">
        select t.type_id as typeId
            ,t.type_name as typeName
            ,t.state as state
            ,f.file_src as fileSrc
        from   tb_activity_type t
        left join  tb_activity_file f  on  t.type_id = f.type_id
        where 1=1
        and   t.type_id = 'id';
    </select>
    <resultMap id="ActivityMap" type="bean">
        <id column="typeId" property="typeId" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="typeName" property="typeName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="state" property="state" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <collection column="fileSrc" property="fileSrc" ofType="java.lang.String"  javaType="java.util.List"/>
    </resultMap>
-->
</mapper>