<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.enterprise.pay.dao.TbPayAccountBookMoneyRecordMapper">
  <resultMap id="BaseResultMap" type="com.jn.enterprise.pay.entity.TbPayAccountBookMoneyRecord">
    <id column="DEDUCTION_ID" jdbcType="VARCHAR" property="deductionId" />
    <result column="BILL_ID" jdbcType="VARCHAR" property="billId" />
    <result column="AC_BOOK_ID" jdbcType="VARCHAR" property="acBookId" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="PAYMENT_METHOD" jdbcType="CHAR" property="paymentMethod" />
    <result column="payment_action" jdbcType="CHAR" property="paymentAction" />
    <result column="NATURE_CODE" jdbcType="VARCHAR" property="natureCode" />
    <result column="MONEY" jdbcType="DECIMAL" property="money" />
    <result column="BALANCE" jdbcType="DECIMAL" property="balance" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="creator_account" jdbcType="VARCHAR" property="creatorAccount" />
    <result column="record_status" jdbcType="CHAR" property="recordStatus" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    DEDUCTION_ID, BILL_ID, AC_BOOK_ID, REMARK, PAYMENT_METHOD, payment_action, NATURE_CODE, 
    MONEY, BALANCE, created_time, creator_account, record_status, modified_time, modifier_account
  </sql>
  <select id="selectByExample" parameterType="com.jn.enterprise.pay.entity.TbPayAccountBookMoneyRecordCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_pay_account_book_money_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_pay_account_book_money_record
    where DEDUCTION_ID = #{deductionId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_pay_account_book_money_record
    where DEDUCTION_ID = #{deductionId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jn.enterprise.pay.entity.TbPayAccountBookMoneyRecordCriteria">
    delete from tb_pay_account_book_money_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.enterprise.pay.entity.TbPayAccountBookMoneyRecord">
    insert into tb_pay_account_book_money_record (DEDUCTION_ID, BILL_ID, AC_BOOK_ID, 
      REMARK, PAYMENT_METHOD, payment_action, 
      NATURE_CODE, MONEY, BALANCE, 
      created_time, creator_account, record_status, 
      modified_time, modifier_account)
    values (#{deductionId,jdbcType=VARCHAR}, #{billId,jdbcType=VARCHAR}, #{acBookId,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{paymentMethod,jdbcType=CHAR}, #{paymentAction,jdbcType=CHAR}, 
      #{natureCode,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}, #{balance,jdbcType=DECIMAL}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{creatorAccount,jdbcType=VARCHAR}, #{recordStatus,jdbcType=CHAR}, 
      #{modifiedTime,jdbcType=TIMESTAMP}, #{modifierAccount,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jn.enterprise.pay.entity.TbPayAccountBookMoneyRecord">
    insert into tb_pay_account_book_money_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deductionId != null">
        DEDUCTION_ID,
      </if>
      <if test="billId != null">
        BILL_ID,
      </if>
      <if test="acBookId != null">
        AC_BOOK_ID,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="paymentMethod != null">
        PAYMENT_METHOD,
      </if>
      <if test="paymentAction != null">
        payment_action,
      </if>
      <if test="natureCode != null">
        NATURE_CODE,
      </if>
      <if test="money != null">
        MONEY,
      </if>
      <if test="balance != null">
        BALANCE,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="creatorAccount != null">
        creator_account,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="modifierAccount != null">
        modifier_account,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deductionId != null">
        #{deductionId,jdbcType=VARCHAR},
      </if>
      <if test="billId != null">
        #{billId,jdbcType=VARCHAR},
      </if>
      <if test="acBookId != null">
        #{acBookId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="paymentMethod != null">
        #{paymentMethod,jdbcType=CHAR},
      </if>
      <if test="paymentAction != null">
        #{paymentAction,jdbcType=CHAR},
      </if>
      <if test="natureCode != null">
        #{natureCode,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorAccount != null">
        #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=CHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        #{modifierAccount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.enterprise.pay.entity.TbPayAccountBookMoneyRecordCriteria" resultType="java.lang.Long">
    select count(*) from tb_pay_account_book_money_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_pay_account_book_money_record
    <set>
      <if test="record.deductionId != null">
        DEDUCTION_ID = #{record.deductionId,jdbcType=VARCHAR},
      </if>
      <if test="record.billId != null">
        BILL_ID = #{record.billId,jdbcType=VARCHAR},
      </if>
      <if test="record.acBookId != null">
        AC_BOOK_ID = #{record.acBookId,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentMethod != null">
        PAYMENT_METHOD = #{record.paymentMethod,jdbcType=CHAR},
      </if>
      <if test="record.paymentAction != null">
        payment_action = #{record.paymentAction,jdbcType=CHAR},
      </if>
      <if test="record.natureCode != null">
        NATURE_CODE = #{record.natureCode,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null">
        MONEY = #{record.money,jdbcType=DECIMAL},
      </if>
      <if test="record.balance != null">
        BALANCE = #{record.balance,jdbcType=DECIMAL},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creatorAccount != null">
        creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        record_status = #{record.recordStatus,jdbcType=CHAR},
      </if>
      <if test="record.modifiedTime != null">
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifierAccount != null">
        modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_pay_account_book_money_record
    set DEDUCTION_ID = #{record.deductionId,jdbcType=VARCHAR},
      BILL_ID = #{record.billId,jdbcType=VARCHAR},
      AC_BOOK_ID = #{record.acBookId,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      PAYMENT_METHOD = #{record.paymentMethod,jdbcType=CHAR},
      payment_action = #{record.paymentAction,jdbcType=CHAR},
      NATURE_CODE = #{record.natureCode,jdbcType=VARCHAR},
      MONEY = #{record.money,jdbcType=DECIMAL},
      BALANCE = #{record.balance,jdbcType=DECIMAL},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      record_status = #{record.recordStatus,jdbcType=CHAR},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      modifier_account = #{record.modifierAccount,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jn.enterprise.pay.entity.TbPayAccountBookMoneyRecord">
    update tb_pay_account_book_money_record
    <set>
      <if test="billId != null">
        BILL_ID = #{billId,jdbcType=VARCHAR},
      </if>
      <if test="acBookId != null">
        AC_BOOK_ID = #{acBookId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="paymentMethod != null">
        PAYMENT_METHOD = #{paymentMethod,jdbcType=CHAR},
      </if>
      <if test="paymentAction != null">
        payment_action = #{paymentAction,jdbcType=CHAR},
      </if>
      <if test="natureCode != null">
        NATURE_CODE = #{natureCode,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        MONEY = #{money,jdbcType=DECIMAL},
      </if>
      <if test="balance != null">
        BALANCE = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorAccount != null">
        creator_account = #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=CHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      </if>
    </set>
    where DEDUCTION_ID = #{deductionId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jn.enterprise.pay.entity.TbPayAccountBookMoneyRecord">
    update tb_pay_account_book_money_record
    set BILL_ID = #{billId,jdbcType=VARCHAR},
      AC_BOOK_ID = #{acBookId,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      PAYMENT_METHOD = #{paymentMethod,jdbcType=CHAR},
      payment_action = #{paymentAction,jdbcType=CHAR},
      NATURE_CODE = #{natureCode,jdbcType=VARCHAR},
      MONEY = #{money,jdbcType=DECIMAL},
      BALANCE = #{balance,jdbcType=DECIMAL},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      creator_account = #{creatorAccount,jdbcType=VARCHAR},
      record_status = #{recordStatus,jdbcType=CHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      modifier_account = #{modifierAccount,jdbcType=VARCHAR}
    where DEDUCTION_ID = #{deductionId,jdbcType=VARCHAR}
  </update>
</mapper>