<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.enterprise.pay.dao.TbPayAccountBookMapper">
  <resultMap id="BaseResultMap" type="com.jn.enterprise.pay.entity.TbPayAccountBook">
    <id column="AC_BOOK_ID" jdbcType="VARCHAR" property="acBookId" />
    <result column="ACCOUNT_ID" jdbcType="VARCHAR" property="accountId" />
    <result column="AC_BOOK_NAME" jdbcType="VARCHAR" property="acBookName" />
    <result column="AC_BOOK_TYPE" jdbcType="VARCHAR" property="acBookType" />
    <result column="BALANCE" jdbcType="DECIMAL" property="balance" />
    <result column="AUTOMATIC_DEDUCTIONS" jdbcType="CHAR" property="automaticDeductions" />
    <result column="CAN_RECHARGE" jdbcType="CHAR" property="canRecharge" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="creator_account" jdbcType="VARCHAR" property="creatorAccount" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
    <result column="record_status" jdbcType="CHAR" property="recordStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    AC_BOOK_ID, ACCOUNT_ID, AC_BOOK_NAME, AC_BOOK_TYPE, BALANCE, AUTOMATIC_DEDUCTIONS, 
    CAN_RECHARGE, created_time, creator_account, modified_time, modifier_account, record_status
  </sql>
  <select id="selectByExample" parameterType="com.jn.enterprise.pay.entity.TbPayAccountBookCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_pay_account_book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_pay_account_book
    where AC_BOOK_ID = #{acBookId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_pay_account_book
    where AC_BOOK_ID = #{acBookId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jn.enterprise.pay.entity.TbPayAccountBookCriteria">
    delete from tb_pay_account_book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.enterprise.pay.entity.TbPayAccountBook">
    insert into tb_pay_account_book (AC_BOOK_ID, ACCOUNT_ID, AC_BOOK_NAME, 
      AC_BOOK_TYPE, BALANCE, AUTOMATIC_DEDUCTIONS, 
      CAN_RECHARGE, created_time, creator_account, 
      modified_time, modifier_account, record_status
      )
    values (#{acBookId,jdbcType=VARCHAR}, #{accountId,jdbcType=VARCHAR}, #{acBookName,jdbcType=VARCHAR}, 
      #{acBookType,jdbcType=VARCHAR}, #{balance,jdbcType=DECIMAL}, #{automaticDeductions,jdbcType=CHAR}, 
      #{canRecharge,jdbcType=CHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{creatorAccount,jdbcType=VARCHAR}, 
      #{modifiedTime,jdbcType=TIMESTAMP}, #{modifierAccount,jdbcType=VARCHAR}, #{recordStatus,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jn.enterprise.pay.entity.TbPayAccountBook">
    insert into tb_pay_account_book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="acBookId != null">
        AC_BOOK_ID,
      </if>
      <if test="accountId != null">
        ACCOUNT_ID,
      </if>
      <if test="acBookName != null">
        AC_BOOK_NAME,
      </if>
      <if test="acBookType != null">
        AC_BOOK_TYPE,
      </if>
      <if test="balance != null">
        BALANCE,
      </if>
      <if test="automaticDeductions != null">
        AUTOMATIC_DEDUCTIONS,
      </if>
      <if test="canRecharge != null">
        CAN_RECHARGE,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="creatorAccount != null">
        creator_account,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="modifierAccount != null">
        modifier_account,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="acBookId != null">
        #{acBookId,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="acBookName != null">
        #{acBookName,jdbcType=VARCHAR},
      </if>
      <if test="acBookType != null">
        #{acBookType,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="automaticDeductions != null">
        #{automaticDeductions,jdbcType=CHAR},
      </if>
      <if test="canRecharge != null">
        #{canRecharge,jdbcType=CHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorAccount != null">
        #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.enterprise.pay.entity.TbPayAccountBookCriteria" resultType="java.lang.Long">
    select count(*) from tb_pay_account_book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_pay_account_book
    <set>
      <if test="record.acBookId != null">
        AC_BOOK_ID = #{record.acBookId,jdbcType=VARCHAR},
      </if>
      <if test="record.accountId != null">
        ACCOUNT_ID = #{record.accountId,jdbcType=VARCHAR},
      </if>
      <if test="record.acBookName != null">
        AC_BOOK_NAME = #{record.acBookName,jdbcType=VARCHAR},
      </if>
      <if test="record.acBookType != null">
        AC_BOOK_TYPE = #{record.acBookType,jdbcType=VARCHAR},
      </if>
      <if test="record.balance != null">
        BALANCE = #{record.balance,jdbcType=DECIMAL},
      </if>
      <if test="record.automaticDeductions != null">
        AUTOMATIC_DEDUCTIONS = #{record.automaticDeductions,jdbcType=CHAR},
      </if>
      <if test="record.canRecharge != null">
        CAN_RECHARGE = #{record.canRecharge,jdbcType=CHAR},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creatorAccount != null">
        creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedTime != null">
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifierAccount != null">
        modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        record_status = #{record.recordStatus,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_pay_account_book
    set AC_BOOK_ID = #{record.acBookId,jdbcType=VARCHAR},
      ACCOUNT_ID = #{record.accountId,jdbcType=VARCHAR},
      AC_BOOK_NAME = #{record.acBookName,jdbcType=VARCHAR},
      AC_BOOK_TYPE = #{record.acBookType,jdbcType=VARCHAR},
      BALANCE = #{record.balance,jdbcType=DECIMAL},
      AUTOMATIC_DEDUCTIONS = #{record.automaticDeductions,jdbcType=CHAR},
      CAN_RECHARGE = #{record.canRecharge,jdbcType=CHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      record_status = #{record.recordStatus,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jn.enterprise.pay.entity.TbPayAccountBook">
    update tb_pay_account_book
    <set>
      <if test="accountId != null">
        ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="acBookName != null">
        AC_BOOK_NAME = #{acBookName,jdbcType=VARCHAR},
      </if>
      <if test="acBookType != null">
        AC_BOOK_TYPE = #{acBookType,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        BALANCE = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="automaticDeductions != null">
        AUTOMATIC_DEDUCTIONS = #{automaticDeductions,jdbcType=CHAR},
      </if>
      <if test="canRecharge != null">
        CAN_RECHARGE = #{canRecharge,jdbcType=CHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorAccount != null">
        creator_account = #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=CHAR},
      </if>
    </set>
    where AC_BOOK_ID = #{acBookId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jn.enterprise.pay.entity.TbPayAccountBook">
    update tb_pay_account_book
    set ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      AC_BOOK_NAME = #{acBookName,jdbcType=VARCHAR},
      AC_BOOK_TYPE = #{acBookType,jdbcType=VARCHAR},
      BALANCE = #{balance,jdbcType=DECIMAL},
      AUTOMATIC_DEDUCTIONS = #{automaticDeductions,jdbcType=CHAR},
      CAN_RECHARGE = #{canRecharge,jdbcType=CHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      creator_account = #{creatorAccount,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      record_status = #{recordStatus,jdbcType=CHAR}
    where AC_BOOK_ID = #{acBookId,jdbcType=VARCHAR}
  </update>
</mapper>