<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.system.file.dao.SysFileGroupMapper">
    <update id="deleteByIds" parameterType="java.util.Map">
        update tb_sys_file_group
        set
        record_status = 0,
        modifier_account=#{account},
        modified_time = now()
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <select id="getFileGroupByPage" resultType="com.jn.system.file.model.SysFileGroup"
            parameterType="com.jn.system.file.model.SysFileGroupPage">
        SELECT
        id,
        file_group_name as fileGroupName,
        file_group_describe as fileGroupDescribe,
        created_time as createdTime,
        record_status as recordStatus
        FROM `tb_sys_file_group`
        WHERE record_status != 0
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(fileGroupName)">
            and `file_group_name` like CONCAT('%', #{fileGroupName,jdbcType=VARCHAR}, '%')
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(recordStatus)">
            and record_status=#{recordStatus,jdbcType=VARCHAR}
        </if>
        ORDER BY created_time desc,id desc
    </select>
</mapper>