<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.system.file.dao.SysFileGroupFileMapper">
    <resultMap id="BaseResultMap" type="com.jn.system.file.model.SysFileGroupFile">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="file_group_id" jdbcType="VARCHAR" property="fileGroupId"/>
        <result column="file_id" jdbcType="VARCHAR" property="fileId"/>
        <result column="creatorAccount" jdbcType="VARCHAR" property="creatorAccount"/>
        <result column="createdTime" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="recordStatus" jdbcType="VARCHAR" property="recordStatus"/>
    </resultMap>

    <update id="deleteByIds" parameterType="java.lang.String">
        update tb_sys_file_group_file set record_status = 0
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="deleteByFileIds" parameterType="java.lang.String">
        update tb_sys_file_group_file set record_status = 0
        where file_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="deleteByFileGroupIds" parameterType="java.util.Map">
        update tb_sys_file_group_file
        set
        record_status = 0,
        modifier_account=#{account},
        modified_time = now()
        where file_group_id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <!-- 根据用户获取文件组 -->
    <select id="getUserFileGroupById" parameterType="java.lang.String"
            resultMap="BaseResultMap">
        select
        sfg.id "id"
        ,sfg.file_group_name "fileGroupName"
        ,sfg.file_group_describe "fileGroupDescribe"
        ,sfg.creator_account as creatorAccount
        ,sfg.created_time "createdTime"
        ,sfg.record_status as recordStatus
        from
        tb_sys_user su
        ,tb_sys_user_role sur
        ,tb_sys_role sr
        ,tb_sys_permission sp
        ,tb_sys_role_permission srp
        ,tb_sys_file_group sfg
        ,tb_sys_permission_files spf
        where su.id = sur.user_id
        and sr.id = sur.role_id
        and sr.id = srp.role_id
        and sp.id = srp.permission_id
        and sp.id = spf.permission_id
        and sfg.id = spf.file_group_id
        and su.record_status =1
        and sur.record_status =1
        and sr.record_status = 1
        and sp.record_status = 1
        and srp.record_status = 1
        and sfg.record_status = 1
        and spf.record_status = 1
        and su.id = #{userId,jdbcType=VARCHAR})
    </select>

    <!-- 获取用户是否拥有该文件的下载权限 -->
    <select id="getUserFilePermission" parameterType="java.lang.String"
            resultType="java.lang.String">
        select
        sf.file_url
        from
        tb_sys_user su
        ,tb_sys_user_role sur
        ,tb_sys_role sr
        ,tb_sys_permission sp
        ,tb_sys_role_permission srp
        ,tb_sys_file_group sfg
        ,tb_sys_permission_files spf
        ,tb_sys_file sf
        ,tb_sys_file_group_file sfgf
        where su.id = sur.user_id
        and sr.id = sur.role_id
        and sr.id = srp.role_id
        and sp.id = srp.permission_id
        and sp.id = spf.permission_id
        and sfg.id = spf.file_group_id
        and sf.id = sfgf.file_id
        and sfg.id = sfgf.file_group_id
        and su.record_status =1
        and sur.record_status =1
        and sr.record_status = 1
        and sp.record_status = 1
        and srp.record_status = 1
        and sfg.record_status = 1
        and spf.record_status = 1
        and sf.record_status = 1
        and sfgf.record_status = 1
        and su.id = #{0}
        and sf.file_url = #{1}
    </select>
    <!-- 获取用户是否拥有该文件组的操作权限 -->
    <select id="getUserFileGroupPermission" parameterType="java.lang.String"
            resultType="java.lang.String">
       select
       sfg.id
        from
        tb_sys_user su
        ,tb_sys_user_role sur
        ,tb_sys_role sr
        ,tb_sys_permission sp
        ,tb_sys_role_permission srp
        ,tb_sys_file_group sfg
        ,tb_sys_permission_files spf
        where su.id = sur.user_id
        and sr.id = sur.role_id
        and sr.id = srp.role_id
        and sp.id = srp.permission_id
        and sp.id = spf.permission_id
        and sfg.id = spf.file_group_id
        and su.record_status =1
        and sur.record_status =1
        and sr.record_status = 1
        and sp.record_status = 1
        and srp.record_status = 1
        and sfg.record_status = 1
        and spf.record_status = 1
        and su.id = #{0}
        and sfg.id = #{1}
    </select>

    <select id="findFileGroupNameByFileId" parameterType="java.lang.String"
            resultType="java.lang.String">
        select
        t.file_group_name as fileGroupName
        from tb_sys_file_group t,tb_sys_file_group_file tt
        where t.id = tt.file_group_id and t.`record_status` = 1
        and tt.`record_status` = 1 and tt.file_id = #{id,jdbcType=VARCHAR}
    </select>

    <resultMap id="QueryResultMap" type="com.jn.system.file.vo.SysFileVO">
        <id column="id" jdbcType="VARCHAR" property="fileId"/>
        <result column="file_name" jdbcType="VARCHAR" property="fileName"/>
        <result column="file_url" jdbcType="VARCHAR" property="fileUrl"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="record_status" jdbcType="TINYINT" property="recordStatus"/>
        <collection property="fileGroupNameList" javaType="java.util.List"
                    ofType="java.lang.String">
            <result column="file_group_name"  jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <select id="findFileByFileGroupName" parameterType="com.jn.system.file.model.SysFilePage"
            resultMap="QueryResultMap">
        select DISTINCT
        t3.id,
        t3.file_name,
        t3.file_url,
        t3.created_time,
        t3.record_status ,
        t2.file_group_name
        from tb_sys_file_group_file t1
        inner join
        (select id as file_group_id,file_group_name
        from tb_sys_file_group
        where file_group_name like CONCAT('%', #{fileGroupName,jdbcType=VARCHAR}, '%')
        and `record_status` = 1) t2
        on t1.file_group_id = t2.file_group_id
        inner join
        (select id ,file_name,file_url,created_time,`record_status`
        from tb_sys_file
        where `record_status` != 0) t3
        on t1.file_id = t3.id
        <where>
            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(fileName)">
                and t3.file_name like CONCAT('%', #{fileName,jdbcType=VARCHAR}, '%')
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(recordStatus)">
                and t3.`record_status`=#{recordStatus,jdbcType=VARCHAR}
            </if>
        </where>
        ORDER BY t3.created_time DESC,t3.id DESC
    </select>
</mapper>