<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.system.file.dao.SysFileMapper">
    <resultMap id="queryForListResultMap" type="com.jn.system.file.vo.SysFileVO">
        <id column="f_id" jdbcType="VARCHAR" property="fileId"/>
        <result column="f_fileName" jdbcType="VARCHAR" property="fileName" javaType="java.lang.String"/>
        <result column="f_fileUrl" jdbcType="VARCHAR" property="fileUrl" javaType="java.lang.String"/>
        <result column="f_createTime" jdbcType="TIMESTAMP" property="createdTime" javaType="java.sql.Timestamp"/>
        <result column="f_status" jdbcType="VARCHAR" property="recordStatus" javaType="java.lang.String"/>
        <collection property="fileGroupNameList" javaType="java.util.List" ofType="com.jn.system.file.model.SysFileGroup">
            <id column="fg_id" property="id" jdbcType="VARCHAR"/>
            <result column="fg_fileGroupName" property="fileGroupName" jdbcType="VARCHAR"/>
            <result column="fg_createTime" property="createdTime" jdbcType="VARCHAR"/>
            <result column="fg_status" property="recordStatus" jdbcType="VARCHAR"/>
        </collection>

    </resultMap>

    <update id="deleteByIds" parameterType="java.lang.String">
        update tb_sys_file set record_status = 0
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="selectFileListBySearchKey" parameterType="com.jn.system.file.model.SysFilePage"
            resultMap="queryForListResultMap">
        SELECT
        f.id AS f_id,
        f.STATUS AS f_status,
        f.file_url AS f_fileUrl,
        f.file_name AS f_fileName,
        f.created_time AS f_createTime,
        fg.id AS fg_id,
        fg.file_group_name AS fg_fileGroupName,
        fg.created_time AS fg_createTime,
        fg.STATUS AS fg_status
        FROM
        tb_sys_file f
        LEFT JOIN ( SELECT file_group_id, file_id FROM tb_sys_file_group_file WHERE record_status != 0 ) fgf ON fgf.file_id =
        f.id
        LEFT JOIN ( SELECT * FROM tb_sys_file_group WHERE record_status != 0 ) fg ON fgf.file_group_id = fg.id

        where 1=1
        and f.record_status != 0
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(fileName)">
            and f.file_name=#{fileName,jdbcType=VARCHAR},
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(recordStatus)">
            and f.record_status=#{status,jdbcType=VARCHAR},
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(id)">
            and f.id=#{id,jdbcType=VARCHAR}
        </if>
        ORDER BY f.created_time desc
    </select>

    <select id="findFileByPage" parameterType="com.jn.system.file.model.SysFilePage"
            resultType="com.jn.system.file.vo.SysFileVO">
        SELECT
        id as fileId,
        file_name as fileName,
        created_time as createdTime,
        creator_account as creatorAccount,
        file_url as fileUrl,
        record_status as recordStatus
        FROM `tb_sys_file`
        where `record_status` != 0
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(fileName)">
            and file_name like CONCAT('%', #{fileName,jdbcType=VARCHAR}, '%')
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(recordStatus)">
            and record_status=#{recordStatus,jdbcType=VARCHAR}
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(fileUrl)">
            and file_url=#{fileUrl,jdbcType=VARCHAR}
        </if>
        ORDER BY created_time DESC , id DESC
    </select>

</mapper>