<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.system.user.dao.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.jn.system.user.vo.SysUserDepartmentPostVO">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="account" jdbcType="VARCHAR" property="account" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="record_status" jdbcType="TINYINT" property="recordStatus" />

        <collection ofType="com.jn.system.vo.SysDepartmentPostVO" property="sysDepartmentPostVOList">
            <result column="departmentId" jdbcType="VARCHAR" property="departmentId" />
            <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
            <result column="postId" jdbcType="VARCHAR" property="postId" />
            <result column="post_name" jdbcType="VARCHAR" property="postName" />
            <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
            <result column="level" jdbcType="VARCHAR" property="level" />
            <result column="is_default" jdbcType="VARCHAR" property="isDefault" />
        </collection>
    </resultMap>
    <resultMap id="SimpleResultMap" type="com.jn.system.model.User">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="account" jdbcType="VARCHAR" property="account" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="wechat_account" jdbcType="VARCHAR" property="wechatAccount" />
    </resultMap>

    <sql id="Get_User_Page_Column">
        t.id,
        t.account,
        t.name,
        t.phone,
        t.email,
        t.record_status as recordStatus,
        t.remark,
        t.created_time as createdTime,
        t.wechat_account as wechatAccount,
        tt.department_name as departmentName,
        tt.post_name as postName,
        tt.department_id,
        tt.is_default,
        tt.rank
    </sql>
    <sql id="Get_User_Column">
        t.id,
        t.account,
        t.name,
        t.phone,
        t.email,
        t.recordStatus,
        t.remark,
        date_format(t.createdTime,'%Y-%m-%d %H:%i:%s') as createdTime,
        t.wechatAccount,
        t.departmentName,
        t.postName,
        t.department_id,
        t.rank
    </sql>

    <select id="findDepartmentAndPostByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        u.id,
        u.account,
        u.`name`,
        u.phone,
        u.email,
        u.created_time,
        u.`record_status`,
        tt.departmentId,
        tt.department_name,
        tt.postId,
        tt.post_name,
        tt.parent_id,
        tt.`level`
        from tb_sys_user u
        left join
        (select
        t2.id as departmentId,
        t2.department_name,
        t2.parent_id,
        t2.`level`,
        t3.id as postId ,
        t3.post_name,
        t1.user_id
        from tb_sys_user_department_post t1,
        tb_sys_department t2,
        tb_sys_post t3
        where t1.department_id = t2.id
        and t1.post_id = t3.id
        and t1.`record_status` = 1
        and t2.`record_status` = 1
        and t3.`record_status` = 1) tt
        on u.id = tt.user_id
        where u.id = #{id,jdbcType=VARCHAR}
    </select>

    <sql id="Group_Select_Sql">
            (
                SELECT
                    t3.id,
                    t3.account,
                    t3.`name`,
                    t3.phone,
                    t3.email,
                    t3.creator_account,
                    t3.created_time,
                    t3.record_status,
                    t3.remark,
                    t3.wechat_account,
                    t3.modified_time,
                    t3.modifier_account
                FROM
                    tb_sys_group t1,
                    tb_sys_user_group t2,
                    tb_sys_user t3
                WHERE t1.id = t2.group_id
                    AND t2.user_id = t3.id
                    AND t1.record_status = 1
                    AND t2.record_status = 1
                    AND t3.record_status != 0
                    AND t1.id = #{userGroupId,jdbcType=VARCHAR}
            ) t
    </sql>
    <select id="findSysUserByPage" parameterType="com.jn.system.model.UserPage"
        resultType="com.jn.system.user.vo.SysUserVO">
        select
        <include refid="Get_User_Column"></include>
        from
        (select
        <include refid="Get_User_Page_Column" />
        from
        <if test="@org.apache.commons.lang.StringUtils@isBlank(userGroupId)">
            tb_sys_user t
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(userGroupId)">
            <include refid="Group_Select_Sql" />
        </if>
        left join
        (select
        t1.department_name,
        t3.department_id,
        t2.post_name,
        t2.rank,
        t3.user_id,
        t3.is_default
        from tb_sys_department t1
        ,tb_sys_post t2
        ,tb_sys_user_department_post t3
        where t1.id = t3.department_id
        and t2.id = t3.post_id
        and t1.record_status = 1
        and t2.record_status = 1
        and t3.record_status = 1
        <if test="@org.apache.commons.lang.StringUtils@isBlank(departmentId)">
            and t3.is_default = '1'
        </if>
        ) tt on t.id = tt.user_id
        where t.record_status != 0
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(name)">
            and t.`name` like CONCAT('%', #{name,jdbcType=VARCHAR}, '%')
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(phone)">
            and t.`phone` like CONCAT('%', #{phone,jdbcType=VARCHAR}, '%')
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(recordStatus)">
            and t.record_status = #{recordStatus,jdbcType=TINYINT}
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(departmentId)">
            and tt.department_id = #{departmentId,jdbcType=VARCHAR}
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(departmentId)">
            ORDER BY tt.is_default desc
        </if>
        ) t
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(departmentId)"> <!-- 对同一部门同一用户多个岗位信息去重 -->
            LEFT JOIN
            (SELECT t3.id
            FROM tb_sys_user t3
            INNER JOIN tb_sys_user_department_post t4
            ON t3.id = t4.user_id
            where t3.record_status != 0
            AND t4.department_id = #{departmentId,jdbcType=VARCHAR}
            AND t4.`record_status` = 1
            GROUP BY t3.id
            HAVING COUNT(t3.id) > 1) tt
            ON t.id = tt.id
            GROUP BY t.id
        </if>
        ORDER BY t.rank ASC, t.id ASC
    </select>

    <select id="getSysUserByPageAndPost" parameterType="com.jn.system.model.UserPage"
        resultType="com.jn.system.user.vo.SysUserVO">
        SELECT
        <include refid="Get_User_Column"></include>
        from
        (select distinct
        <include refid="Get_User_Page_Column" />
        from tb_sys_user t
        left join
        (select
        t1.department_name,
        t3.department_id,
        t2.post_name,
        t2.rank,
        t3.user_id,
        t3.is_default
        from tb_sys_department t1
        ,tb_sys_post t2
        ,tb_sys_user_department_post t3
        where t1.id = t3.department_id
        and t2.id = t3.post_id
        and t1.record_status = 1
        and t2.record_status = 1
        and t3.record_status = 1
        ) tt on t.id = tt.user_id
        where t.record_status != 0
        and tt.`post_name` like CONCAT('%', #{postOrTypeName,jdbcType=VARCHAR}, '%')
        ) t
        <where>
            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(name)">
                and t.`name` like CONCAT('%', #{name,jdbcType=VARCHAR}, '%')
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(phone)">
                and t.`phone` like CONCAT('%', #{phone,jdbcType=VARCHAR}, '%')
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(recordStatus)">
                and t.recordStatus = #{recordStatus,jdbcType=TINYINT}
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(departmentId)">
                and t.department_id = #{departmentId,jdbcType=VARCHAR}
            </if>
        </where>
        GROUP BY t.id
        ORDER BY t.rank ASC,t.id ASC
    </select>

    <update id="deleteSysUser" parameterType="java.lang.String">
        update tb_sys_user
        set `record_status` = 0
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <insert id="addDepartmentAndPostToUserBatch" parameterType="java.util.List">
        insert into tb_sys_user_department_post
        (id, user_id,department_id,post_id,is_default,creator_account,created_time,record_status) values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.id,jdbcType=VARCHAR},
            #{item.userId,jdbcType=VARCHAR},
            #{item.departmentId,jdbcType=VARCHAR},
            #{item.postId,jdbcType=VARCHAR},
            #{item.isDefault,jdbcType=VARCHAR},
            #{item.creatorAccount,jdbcType=VARCHAR},
            now(),
            #{item.recordStatus,jdbcType=TINYINT})
        </foreach>
    </insert>

    <select id="getUserById" parameterType="java.lang.String" resultType="com.jn.system.user.model.SysUser">
        SELECT id,account,`name`,phone,email,created_time as createdTime,`record_status` as recordStatus
        FROM tb_sys_user WHERE id = #{id,jdbcType=VARCHAR} and `record_status` != 1
    </select>

    <resultMap id="resultUserMap" type="com.jn.system.model.User">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="account" jdbcType="VARCHAR" property="account" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="creator_account" jdbcType="VARCHAR" property="creatorAccount" />
        <result column="record_status" jdbcType="TINYINT" property="recordStatus" />
        <result column="wechat_account" jdbcType="VARCHAR" property="wechatAccount" />

        <collection ofType="com.jn.system.vo.SysDepartmentPostVO" property="sysDepartmentPostVO">
            <result column="department_id" jdbcType="VARCHAR" property="departmentId" />
            <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
            <result column="post_id" jdbcType="VARCHAR" property="postId" />
            <result column="post_name" jdbcType="VARCHAR" property="postName" />
            <result column="is_default" jdbcType="VARCHAR" property="isDefault" />
        </collection>
    </resultMap>
    <select id="getUserAll" resultMap="resultUserMap">
        SELECT
        t.id,
        t.account,
        t.`name`,
        t.phone,
        t.email,
        t.creator_account,
        t.created_time,
        t.record_status,
        t.wechat_account,
        tt.department_id,
        tt.department_name,
        tt.is_default,
        tt.post_id,
        tt.post_name
        FROM
        `tb_sys_user` t
        LEFT JOIN
        (SELECT
        t1.user_id,
        t1.department_id,
        t1.post_id,
        t1.is_default,
        t2.department_name,
        t3.post_name
        FROM
        tb_sys_user_department_post t1,
        tb_sys_department t2,
        tb_sys_post t3
        WHERE t1.department_id = t2.id
        AND t1.post_id = t3.id
        AND t1.record_status = 1
        AND t2.record_status = 1
        AND t3.record_status = 1) tt
        ON t.id = tt.user_id
        WHERE t.record_status = 1
        ORDER BY t.created_time DESC
    </select>
    <select id="selectUserByIds" parameterType="java.util.Arrays" resultMap="SimpleResultMap">
        SELECT
        t.id,
        t.account,
        t.phone,
        t.email,
        t.wechat_account,
        case when t.`name` is null then t.account
        else t.`name` end name
        FROM
        `tb_sys_user` t
        WHERE t.record_status = 1

        and id in
        <foreach close=")" collection="ids" item="id" open="(" separator=",">
            #{id}
        </foreach>
    </select>


    <resultMap id="getUserInfoMap" type="com.jn.system.model.User">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="account" jdbcType="VARCHAR" property="account" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="creator_account" jdbcType="VARCHAR" property="creatorAccount" />
        <result column="record_status" jdbcType="TINYINT" property="recordStatus" />
        <result column="wechat_account" jdbcType="VARCHAR" property="wechatAccount" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />

        <collection ofType="com.jn.system.model.SysRole" property="sysRole">
            <id column="roleId" jdbcType="VARCHAR" property="id" />
            <result column="role_name" jdbcType="VARCHAR" property="roleName" />
            <result column="r_created_time" jdbcType="TIMESTAMP" property="createdTime" />
            <result column="r_creator_account" jdbcType="VARCHAR" property="creatorAccount" />
            <result column="r_record_status" jdbcType="TINYINT" property="recordStatus" />
        </collection>
        <collection column="id" ofType="com.jn.system.vo.SysDepartmentPostVO"
            property="sysDepartmentPostVO" select="com.jn.system.dept.dao.SysUserDepartmentPostMapper.findDepartmentAndPostByUserId">
            <result column="departmentId" jdbcType="VARCHAR" property="departmentId" />
            <result column="departmentName" jdbcType="VARCHAR" property="departmentName" />
            <result column="parentId" jdbcType="VARCHAR" property="parentId" />
            <result column="level" jdbcType="VARCHAR" property="level" />
            <result column="postId" jdbcType="VARCHAR" property="postId" />
            <result column="postName" jdbcType="VARCHAR" property="postName" />
            <result column="isDefault" jdbcType="VARCHAR" property="isDefault" />
            <result column="postTypeId" jdbcType="VARCHAR" property="postTypeId" />
            <result column="postTypeName" jdbcType="VARCHAR" property="postTypeName" />
        </collection>
        <collection column="id" ofType="com.jn.system.vo.SysGroupVO" property="sysGroupVO" select="getGroupAndRole" />
    </resultMap>
    <select id="getUserInfoByAccount" parameterType="java.util.List" resultMap="getUserInfoMap">
        SELECT
        t1.id,
        t1.account,
        t1.`name`,
        t1.phone,
        t1.email,
        t1.creator_account,
        t1.created_time,
        t1.record_status,
        t1.wechat_account,
        t1.remark,
        t2.id as roleId,
        t2.role_name,
        t2.created_time as r_created_time,
        t2.creator_account as r_creator_account,
        t2.record_status as r_record_status
        FROM
        (
        SELECT
        id,
        account,
        `name`,
        phone,
        email,
        creator_account,
        created_time,
        record_status,
        wechat_account,
        remark
        FROM
        tb_sys_user
        WHERE
        account IN
        <foreach close=")" collection="accountList" item="account" open="(" separator=",">
            #{account,jdbcType=VARCHAR}
        </foreach>
        AND record_status = 1
        ) t1
        LEFT JOIN (
        SELECT
        sur.user_id,
        tsr.id,
        tsr.role_name,
        tsr.created_time,
        tsr.creator_account,
        tsr.record_status
        FROM
        tb_sys_user_role sur,
        tb_sys_role tsr
        WHERE
        sur.role_id = tsr.id
        AND sur.record_status = 1
        AND tsr.record_status = 1
        ) t2 ON t1.id = t2.user_id
    </select>

    <resultMap id="getGroupAndRoleMap" type="com.jn.system.vo.SysGroupVO">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="group_name" jdbcType="VARCHAR" property="groupName" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="creator_account" jdbcType="VARCHAR" property="creatorAccount" />
        <result column="record_status" jdbcType="TINYINT" property="recordStatus" />

        <collection ofType="com.jn.system.model.SysRole" property="sysRoleList">
            <id column="roleId" jdbcType="VARCHAR" property="id" />
            <result column="role_name" jdbcType="VARCHAR" property="roleName" />
            <result column="r_created_time" jdbcType="TIMESTAMP" property="createdTime" />
            <result column="r_creator_account" jdbcType="VARCHAR" property="creatorAccount" />
            <result column="r_record_status" jdbcType="TINYINT" property="recordStatus" />
        </collection>
    </resultMap>
    <select id="getGroupAndRole" parameterType="java.lang.String" resultMap="getGroupAndRoleMap">
        SELECT
            t2.id,
            t2.group_name,
            t2.record_status,
            t2.created_time,
            t2.creator_account,
            t4.id AS roleId,
            t4.role_name,
            t4.created_time as r_created_time,
            t4.creator_account as r_creator_account,
            t4.record_status as r_record_status
        FROM
            tb_sys_user_group t1,
            tb_sys_group t2,
            tb_sys_group_role t3,
            tb_sys_role t4
        WHERE
            t1.group_id = t2.id
        AND t3.user_group_id = t2.id
        AND t3.role_id = t4.id
        AND t1.record_status = 1
        AND t2.record_status = 1
        AND t3.record_status = 1
        AND t4.record_status = 1
        AND t1.user_id = #{id,jdbcType=VARCHAR}
    </select>

    <update id="deleteUserBranch" parameterType="java.util.Map">
        update tb_sys_user
        set
        record_status = 0,
        modifier_account=#{account},
        modified_time = now()
        where id in
        <foreach close=")" collection="ids" item="id" open="(" separator=",">
            #{id}
        </foreach>
    </update>

</mapper>