<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.system.dao.SysGroupMapper">

    <sql id="Base_Column_List">
            id, group_name as groupName,creator, create_time as createTime, status
    </sql>

    <!--查询所有用户组-->
    <select id="findSysGroupAll" resultType="com.jn.system.vo.SysGroupUserRoleVO"
            parameterType="com.jn.system.model.SysGroupPage">
        select
        <include refid="Base_Column_List"/>
          from tb_sys_group
        where  `status` != '-1'
            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(groupName)">
                and group_name like CONCAT('%', #{groupName,jdbcType=VARCHAR},'%')
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(status)">
                and status = #{status,jdbcType=VARCHAR}
            </if>
    </select>

    <select id="findGroupAll" resultType="com.jn.system.entity.TbSysGroup">
        select
        <include refid="Base_Column_List"/>
        from tb_sys_group
        ORDER BY create_time desc
    </select>

    <!--通过用户id获取用户组-->
    <select id="findSysGroupByUserId" parameterType="java.lang.String" resultType="com.jn.system.entity.TbSysGroup">
        select
        <include refid="Base_Column_List"/>
        from tb_sys_group
        where id in
        (select tsug.group_id
        from
        tb_sys_user_group tsug
        join tb_sys_user tsu
        on tsug.user_id = tsu.id
        where tsu.id = #{id}
        and tsug.`status` = '1')
    </select>
    <!--添加用户组-->
    <insert id="addSysGroup" parameterType="com.jn.system.entity.TbSysGroup">
                insert into tb_sys_group (id, group_name, create_time,creator,
                  status)
                values (#{id,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},
                #{creator,jdbcType=TIMESTAMP}, #{status,jdbcType=CHAR})
     </insert>

    <!--逻辑删除用户组-->
    <update id="deleSysGroup" parameterType="java.lang.String">
            update tb_sys_group
            set `status` = '-1'
            where id = #{id,jdbcType=VARCHAR}
    </update>

    <!--更新用户组信息-->
    <update id="updateSysGroup" parameterType="com.jn.system.entity.TbSysGroup">
        update tb_sys_group
        <set>
            <if test="groupName != null">
                group_name = #{groupName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <!--根据用户组id获取用户组信息-->
    <select id="findSysGroupById" parameterType="java.lang.String" resultType="com.jn.system.entity.TbSysGroup">
        select
        <include refid="Base_Column_List"/>
        from tb_sys_group
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <update id="deleteGroupBranch" parameterType="java.lang.String">
        update tb_sys_group set status=-1
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>