<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.system.dao.SysPermissionMenuMapper">
    <update id="deletePermissionBranch" parameterType="java.lang.String">
        update tb_sys_permission_menu set status=-1
        where permission_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="findMenuOfPermission" parameterType="java.lang.String" resultType="com.jn.system.model.SysMenu">
        select distinct
        t2.id,
        t2.menu_name as menuName,
        t2.menu_url as menuUrl,
        t2.parent_id as parentId,
        t2.is_dir as isDir,
        t2.sort,
        t2.creator,
        t2.create_time as createTime,
        t2.`status`
        from tb_sys_permission_menu t1 , tb_sys_menu t2
        where t1.menu_id = t2.id and t1.`status` = '1' and t2.`status` = '1'
        and t1.permission_id = #{id,jdbcType=VARCHAR}
    </select>

    <update id="deleteByPermissionId" parameterType="java.lang.String">
        update tb_sys_permission_menu set `status` = '-1' where permission_id = #{id,jdbcType=VARCHAR}
    </update>

    <insert id="addMenuToPermission" parameterType="java.util.List">
        insert into tb_sys_permission_menu (id, permission_id,menu_id,creator,create_time,status) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id,jdbcType=BIGINT},
            #{item.permissionId,jdbcType=VARCHAR},
            #{item.menuId,jdbcType=VARCHAR},
            #{item.creator,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.status,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <select id="findMenuByPermissionPage" parameterType="com.jn.system.model.SysPermissionMenuPage"
            resultType="com.jn.system.model.SysMenu">
        select DISTINCT
        t.id,
        t.menu_name as menuName
        from tb_sys_menu t left join
        (select t1.id from tb_sys_menu t1,tb_sys_permission_menu t2
        where t1.id = t2.menu_id and t1.`status` = '1' and t2.`status` = '1'
        and t2.permission_id = #{permissionId,jdbcType=VARCHAR}) tt
        on t.id = tt.id
        where t.`status` = '1' and tt.id is null
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(menuName)">
            and t.menu_name like CONCAT('%', #{menuName,jdbcType=VARCHAR}, '%')
        </if>
    </select>

</mapper>