<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.system.dao.SysResourcesMapper">
    <resultMap id="BaseResultMap" type="com.jn.system.model.SysResources">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="resources_name" jdbcType="VARCHAR" property="resourcesName" />
        <result column="resources_url" jdbcType="VARCHAR" property="resourcesUrl" />
        <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
        <result column="creator" jdbcType="VARCHAR" property="creator" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="status" jdbcType="VARCHAR" property="status" />
    </resultMap>

    <resultMap id="MenuResourcesResultMap" type="com.jn.system.vo.SysResourcesVO">
        <id column="r_resourcesId" jdbcType="VARCHAR" property="resourcesId"/>
        <result column="r_resourcesName" jdbcType="VARCHAR" property="resourcesName"/>
        <result column="r_resourcesUrl" jdbcType="VARCHAR" property="resourcesUrl" />
        <result column="r_menuId" jdbcType="VARCHAR" property="menuId" />
        <result column="r_creator" jdbcType="VARCHAR" property="creator" />
        <result column="r_createTime" jdbcType="TIMESTAMP" property="createTime" />
        <result column="r_status" jdbcType="VARCHAR" property="status" />
        <association property="sysMenu" javaType="com.jn.system.model.SysMenu">
            <id column="m_id" property="id" jdbcType="VARCHAR"/>
            <result column="m_menuName" property="menuName" jdbcType="VARCHAR"/>
            <result column="m_menuUrl" property="menuUrl" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        id,resources_name,resources_url,menu_id,creator,create_time,status
    </sql>

    <update id="deleteByIds" parameterType="java.lang.String">
        update tb_sys_resources set status=-1
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="findMenuResourcesByPage" parameterType="com.jn.system.model.SysResourcesPage" resultMap="MenuResourcesResultMap">
       SELECT
            r.id AS r_resourcesId,
            r.resources_name AS r_resourcesName,
            r.resources_url AS r_resourcesUrl,
            r.menu_id AS r_menuId,
            r.status as r_status,
            u.NAME AS r_creator,
            r.create_time AS r_createTime,
            m.id AS m_id,
            m.menu_url AS m_menuUrl,
            m.menu_name AS m_menuName
        FROM
            tb_sys_resources r
            LEFT JOIN ( SELECT * FROM tb_sys_menu WHERE STATUS !=- 1 ) m ON r.menu_id = m.id
            LEFT JOIN tb_sys_user u ON u.id = r.creator
        WHERE
            1 = 1
            AND r.STATUS != - 1
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(resourcesName)">
            and r.resources_name like CONCAT('%', #{resourcesName,jdbcType=VARCHAR}, '%')
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(id)">
            and r.id=#{id,jdbcType=VARCHAR}
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(status)">
            and r.status=#{status,jdbcType=VARCHAR}
        </if>
        ORDER BY r.create_time DESC
    </select>

    <!-- 获取用户菜单、功能列表-->
    <select id="findPermissionsUrlById" parameterType="java.lang.String" resultType="java.lang.String">
        select distinct
        sm.menu_url "url"
        from
        tb_sys_user su
        ,tb_sys_user_role sur
        ,tb_sys_role sr
        ,tb_sys_permission sp
        ,tb_sys_role_permission srp
        ,tb_sys_menu sm
        ,tb_sys_permission_menu spm
        where su.id = sur.user_id
        and sr.id = sur.role_id
        and sr.id = srp.role_id
        and sp.id = srp.permission_id
        and sp.id = spm.permission_id
        and sm.id = spm.menu_id
        and su.status =1
        and sur.status =1
        and sr.status = 1
        and sp.status = 1
        and srp.status = 1
        and sm.status = 1
        and spm.status = 1
        and su.id = #{id,jdbcType=VARCHAR}
        union all
        select distinct
        tsr.resources_url "url"
        from
        tb_sys_user su
        ,tb_sys_user_role sur
        ,tb_sys_role sr
        ,tb_sys_permission sp
        ,tb_sys_role_permission srp
        ,tb_sys_resources tsr
        ,tb_sys_permission_resources spr
        where su.id = sur.user_id
        and sr.id = sur.role_id
        and sr.id = srp.role_id
        and sp.id = srp.permission_id
        and sp.id = spr.permission_id
        and tsr.id = spr.resources_id
        and su.status =1
        and sur.status =1
        and sr.status = 1
        and sp.status = 1
        and srp.status = 1
        and sr.status = 1
        and spr.status = 1
        and su.id = #{id,jdbcType=VARCHAR}
    </select>

    <!-- 获取菜单对应功能链接-->
    <select id="getMenuResourcesUrlById" parameterType="java.lang.String"
            resultType="com.jn.system.model.MenuResources">
        select distinct
        tsr.id "resourcesId"
        ,tsr.resources_url "resourcesUrl"
        ,tsr.menu_id "menuId"
        ,sm.menu_url "menuUrl"
        from
        tb_sys_user su
        ,tb_sys_user_role sur
        ,tb_sys_role sr
        ,tb_sys_permission sp
        ,tb_sys_role_permission srp
        ,tb_sys_resources tsr
        ,tb_sys_permission_resources spr
        ,tb_sys_menu sm
        where su.id = sur.user_id
        and sr.id = sur.role_id
        and sr.id = srp.role_id
        and sp.id = srp.permission_id
        and sp.id = spr.permission_id
        and tsr.id = spr.resources_id
        and sm.id = tsr.menu_id
        and su.status =1
        and sur.status =1
        and sr.status = 1
        and sp.status = 1
        and srp.status = 1
        and sr.status = 1
        and spr.status = 1
        and sm.status = 1
        and su.id = #{id,jdbcType=VARCHAR}
        order by sm.menu_url asc
    </select>

    <select id="findResourceById" parameterType="java.lang.String" resultType="com.jn.system.model.SysResources">
        select distinct
        r.id,
        r.resources_name as resourcesName,
        r.create_time as createTime,
        r.creator,
        r.resources_url as resourcesUrl,
        r.`status`,
        m.menu_name as menuId
        from tb_sys_resources r left join
        (SELECT * FROM tb_sys_menu WHERE STATUS = '1') m
        on r.menu_id = m.id where r.id = #{id,jdbcType=VARCHAR}
    </select>

</mapper>