<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.system.user.dao.TbSysUserMapper">
  <resultMap id="BaseResultMap" type="com.jn.system.user.entity.TbSysUser">
    <id column="user_id" jdbcType="VARCHAR" property="id" />
    <result column="user_account" jdbcType="VARCHAR" property="account" />
    <result column="user_password" jdbcType="VARCHAR" property="password" />
    <result column="user_name" jdbcType="VARCHAR" property="name" />
    <result column="user_phone" jdbcType="VARCHAR" property="phone" />
    <result column="user_email" jdbcType="VARCHAR" property="email" />
    <result column="user_creator_account" jdbcType="VARCHAR" property="creatorAccount" />
    <result column="user_created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="user_record_status" jdbcType="TINYINT" property="recordStatus" />
    <result column="user_wechat_account" jdbcType="VARCHAR" property="wechatAccount" />
    <result column="user_remark" jdbcType="VARCHAR" property="remark" />
    <result column="user_modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
    <result column="user_modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user.id as user_id, user.account as user_account, user.password as user_password, 
    user.name as user_name, user.phone as user_phone, user.email as user_email, user.creator_account as user_creator_account, 
    user.created_time as user_created_time, user.record_status as user_record_status, 
    user.wechat_account as user_wechat_account, user.remark as user_remark, user.modifier_account as user_modifier_account, 
    user.modified_time as user_modified_time
  </sql>
  <select id="selectByExample" parameterType="com.jn.system.user.entity.TbSysUserCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_sys_user user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_sys_user user
    where user.id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_sys_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jn.system.user.entity.TbSysUserCriteria">
    delete from tb_sys_user user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.system.user.entity.TbSysUser">
    insert into tb_sys_user (id, account, password, 
      name, phone, email, 
      creator_account, created_time, record_status, 
      wechat_account, remark, modifier_account, 
      modified_time)
    values (#{id,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{creatorAccount,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{recordStatus,jdbcType=TINYINT}, 
      #{wechatAccount,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{modifierAccount,jdbcType=VARCHAR}, 
      #{modifiedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jn.system.user.entity.TbSysUser">
    insert into tb_sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="creatorAccount != null">
        creator_account,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
      <if test="wechatAccount != null">
        wechat_account,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="modifierAccount != null">
        modifier_account,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="creatorAccount != null">
        #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="wechatAccount != null">
        #{wechatAccount,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="modifierAccount != null">
        #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.system.user.entity.TbSysUserCriteria" resultType="java.lang.Long">
    select count(*) from tb_sys_user user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_sys_user user
    <set>
      <if test="record.id != null">
        user.id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.account != null">
        user.account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        user.password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        user.name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        user.phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        user.email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.creatorAccount != null">
        user.creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        user.created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.recordStatus != null">
        user.record_status = #{record.recordStatus,jdbcType=TINYINT},
      </if>
      <if test="record.wechatAccount != null">
        user.wechat_account = #{record.wechatAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        user.remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.modifierAccount != null">
        user.modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedTime != null">
        user.modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_sys_user user
    set user.id = #{record.id,jdbcType=VARCHAR},
      user.account = #{record.account,jdbcType=VARCHAR},
      user.password = #{record.password,jdbcType=VARCHAR},
      user.name = #{record.name,jdbcType=VARCHAR},
      user.phone = #{record.phone,jdbcType=VARCHAR},
      user.email = #{record.email,jdbcType=VARCHAR},
      user.creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      user.created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      user.record_status = #{record.recordStatus,jdbcType=TINYINT},
      user.wechat_account = #{record.wechatAccount,jdbcType=VARCHAR},
      user.remark = #{record.remark,jdbcType=VARCHAR},
      user.modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      user.modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jn.system.user.entity.TbSysUser">
    update tb_sys_user
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="creatorAccount != null">
        creator_account = #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="wechatAccount != null">
        wechat_account = #{wechatAccount,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="modifierAccount != null">
        modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jn.system.user.entity.TbSysUser">
    update tb_sys_user
    set account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      creator_account = #{creatorAccount,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      record_status = #{recordStatus,jdbcType=TINYINT},
      wechat_account = #{wechatAccount,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>