.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.posA {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 20px 0;
}

.userHome .header {
  padding: 0px 160px;
  -webkit-box-shadow: 0px 12px 12px #ccc;
          box-shadow: 0px 12px 12px #ccc;
}

.userHome .header .titleImg {
  width: 155px;
  height: 38px;
  padding: 18px 0;
}

.userHome .header .titleImg img {
  width: 100%;
  height: 100%;
}

.userHome .header .nav {
  width: 600px;
  height: 37.6px;
  margin: 0 auto;
}

.userHome .header .nav > ul > li {
  float: left;
  color: #ccc;
  font-size: 14px;
  text-align: center;
  line-height: 38px;
  margin: 0 50px;
}

.userHome .header .nav .sousuo {
  font-size: 18px;
  line-height: 38px;
}

.userHome .header .nav .sousuo > input {
  border: none;
  width: 350px;
  height: 38px;
  font-size: 14px;
}

.userHome .header .nav .sousuo > input::-webkit-input-placeholder {
  color: #b7b7b7;
  font-size: 12px;
}

.userHome .header .headerRight {
  line-height: 38px;
}

.userHome .header .headerRight .imgU {
  width: 74px;
  height: 74px;
  display: inline-block;
}

.userHome .header .headerRight .imgU > img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.userHome .header .headerRight .imgU.active {
  background: #00a040;
}

.userHome .header .headerRight .line {
  height: 10px;
  display: inline-block;
  background: #ccc;
  width: 1px;
  margin-left: 10px;
}

.userHome .header .headerRight .avaMenu {
  position: absolute;
  -webkit-box-shadow: 2px 2px 5px #eee;
          box-shadow: 2px 2px 5px #eee;
  background: #fff;
  z-index: 4;
  left: 5px;
}

.userHome .header .headerRight .avaMenu ul {
  width: 150px;
}

.userHome .header .headerRight .avaMenu ul > li {
  padding: 5px 15px;
  font-size: 13px;
  color: #333;
  cursor: pointer;
}

.userHome .header .headerRight .avaMenu ul > li.liActi {
  background: #00a040;
  color: #fff;
}

.userHome .header .headerRight .avaMenu .bxcard .el-card__body {
  padding: 0;
}

.userHome .userContent {
  background: #f3f3f3;
  font-size: 13px;
  color: #333;
  padding-bottom: 50px;
}

.userHome .userContent .honcontent .bread {
  padding: 15px 0;
}

.userHome .userContent .honcontent .bread .changeCol .el-breadcrumb__inner {
  color: #00a041;
}

.userHome .userContent .honcontent .userCon .zhedieUl {
  width: 150px;
  position: relative;
  text-indent: 25px;
  left: -28px;
  top: 15px;
}

.userHome .userContent .honcontent .userCon .zhedieUl > li {
  padding: 12px 0;
  background: #f7f7f7;
  border-bottom: 1px solid #eee;
  position: relative;
}

.userHome .userContent .honcontent .userCon .zhedieUl > li.lihover {
  background: #00a040 !important;
  color: #fff !important;
}

.userHome .userContent .honcontent .userCon .zhedieUl > li.lick {
  color: #00a040;
}

.userHome .userContent .honcontent .userCon .el-header {
  background-color: #fff;
  color: #333;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 16px;
}

.userHome .userContent .honcontent .userCon .el-header > div {
  width: 64px;
  height: 64px;
  display: inline-block;
}

.userHome .userContent .honcontent .userCon .el-header > div > img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 50%;
}

.userHome .userContent .honcontent .userCon .el-header > span {
  margin-left: 20px;
}

.userHome .userContent .honcontent .userCon .el-aside {
  background-color: #fff;
  color: #333;
  margin-right: 12px;
  border-radius: 3px;
  height: 512px;
}

.userHome .userContent .honcontent .userCon .el-aside > ul > li {
  padding: 15px 28px;
  border-bottom: 1px solid #eee;
  position: relative;
  cursor: pointer;
}

.userHome .userContent .honcontent .userCon .el-aside > ul > li .line {
  display: inline-block;
  width: 2px;
  height: 20px;
  background: #00a041;
  position: absolute;
  top: 24px;
  left: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.userHome .userContent .honcontent .userCon .el-aside > ul > li.lick {
  color: #00a041;
  font-weight: bold;
}

.userHome .userContent .honcontent .userCon .el-aside > ul > li.lihover {
  background-color: #00a041;
  color: #fff;
}

.userHome .userContent .honcontent .userCon .el-main {
  background-color: #fff;
  color: #333;
  border-radius: 3px;
  padding: 0;
  text-align: center;
  position: relative;
}

.userHome .userContent .honcontent .userCon .el-main > .imgItem {
  width: 390px;
  height: 218px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.userHome .inputItem {
  border: 1px solid #eee;
  height: 27px;
  border-radius: 3px;
  background: #f7f7f7;
  width: 200px;
  text-indent: 10px;
  color: #333;
}

.userHome .btn {
  background: #00a040;
  border: none;
  border-radius: 3px;
  color: #fff;
  padding: 5px 14px;
  font-size: 12px;
  margin-left: 10px;
}

.userHome .tip {
  font-size: 12px;
  text-indent: 94px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.userHome .textRight {
  display: inline-block;
  width: 80px;
  text-align: right;
}

.userHome .mg {
  margin-right: 30px;
}

.userHome .setphone {
  padding: 30px 0 20px 87px;
  border-bottom: 1px solid #eee;
}

.userHome .setTit {
  margin-top: 20px;
}

.userHome .setdistance {
  margin-bottom: 30px;
}

.userHome .setdistance .hobbySel {
  padding: 5px 15px;
  background: #f7f7f7;
  border: 1px solid #eee;
  border-radius: 3px;
  margin-right: 20px;
  color: #999;
}

.userHome .imageItem {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-radius: 3px;
}

.userHome .subBtn, .userHome .editBtn {
  width: 100px;
  height: 35px;
  border: 1px solid #41d787;
  color: #00a041;
  background: #ecfcf2;
  font-size: 14px;
  line-height: 5px;
  margin: 30px 0 30px 150px;
}
/*# sourceMappingURL=home.css.map */