<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.oa.schedule.dao.TbOaScheduleMapper">
  <resultMap id="BaseResultMap" type="com.jn.oa.schedule.entity.TbOaSchedule">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="remind_time" jdbcType="TIMESTAMP" property="remindTime" />
    <result column="is_remind" jdbcType="VARCHAR" property="isRemind" />
    <result column="wechat_remind" jdbcType="VARCHAR" property="wechatRemind" />
    <result column="message_remind" jdbcType="VARCHAR" property="messageRemind" />
    <result column="pc_remind" jdbcType="VARCHAR" property="pcRemind" />
    <result column="app_remind" jdbcType="VARCHAR" property="appRemind" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="record_status" jdbcType="TINYINT" property="recordStatus" />
    <result column="creator_account" jdbcType="VARCHAR" property="creatorAccount" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, title, content, start_time, end_time, remind_time, is_remind, wechat_remind, 
    message_remind, pc_remind, app_remind, remark, record_status, creator_account, created_time, 
    modifier_account, modified_time
  </sql>
  <select id="selectByExample" parameterType="com.jn.oa.schedule.entity.TbOaScheduleCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_oa_schedule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_oa_schedule
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_oa_schedule
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jn.oa.schedule.entity.TbOaScheduleCriteria">
    delete from tb_oa_schedule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.oa.schedule.entity.TbOaSchedule">
    insert into tb_oa_schedule (id, title, content, 
      start_time, end_time, remind_time, 
      is_remind, wechat_remind, message_remind, 
      pc_remind, app_remind, remark, 
      record_status, creator_account, created_time, 
      modifier_account, modified_time)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{remindTime,jdbcType=TIMESTAMP}, 
      #{isRemind,jdbcType=VARCHAR}, #{wechatRemind,jdbcType=VARCHAR}, #{messageRemind,jdbcType=VARCHAR}, 
      #{pcRemind,jdbcType=VARCHAR}, #{appRemind,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=TINYINT}, #{creatorAccount,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{modifierAccount,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jn.oa.schedule.entity.TbOaSchedule">
    insert into tb_oa_schedule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="remindTime != null">
        remind_time,
      </if>
      <if test="isRemind != null">
        is_remind,
      </if>
      <if test="wechatRemind != null">
        wechat_remind,
      </if>
      <if test="messageRemind != null">
        message_remind,
      </if>
      <if test="pcRemind != null">
        pc_remind,
      </if>
      <if test="appRemind != null">
        app_remind,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
      <if test="creatorAccount != null">
        creator_account,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifierAccount != null">
        modifier_account,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remindTime != null">
        #{remindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isRemind != null">
        #{isRemind,jdbcType=VARCHAR},
      </if>
      <if test="wechatRemind != null">
        #{wechatRemind,jdbcType=VARCHAR},
      </if>
      <if test="messageRemind != null">
        #{messageRemind,jdbcType=VARCHAR},
      </if>
      <if test="pcRemind != null">
        #{pcRemind,jdbcType=VARCHAR},
      </if>
      <if test="appRemind != null">
        #{appRemind,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorAccount != null">
        #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.oa.schedule.entity.TbOaScheduleCriteria" resultType="java.lang.Long">
    select count(*) from tb_oa_schedule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_oa_schedule
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null">
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remindTime != null">
        remind_time = #{record.remindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isRemind != null">
        is_remind = #{record.isRemind,jdbcType=VARCHAR},
      </if>
      <if test="record.wechatRemind != null">
        wechat_remind = #{record.wechatRemind,jdbcType=VARCHAR},
      </if>
      <if test="record.messageRemind != null">
        message_remind = #{record.messageRemind,jdbcType=VARCHAR},
      </if>
      <if test="record.pcRemind != null">
        pc_remind = #{record.pcRemind,jdbcType=VARCHAR},
      </if>
      <if test="record.appRemind != null">
        app_remind = #{record.appRemind,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        record_status = #{record.recordStatus,jdbcType=TINYINT},
      </if>
      <if test="record.creatorAccount != null">
        creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifierAccount != null">
        modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedTime != null">
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_oa_schedule
    set id = #{record.id,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      remind_time = #{record.remindTime,jdbcType=TIMESTAMP},
      is_remind = #{record.isRemind,jdbcType=VARCHAR},
      wechat_remind = #{record.wechatRemind,jdbcType=VARCHAR},
      message_remind = #{record.messageRemind,jdbcType=VARCHAR},
      pc_remind = #{record.pcRemind,jdbcType=VARCHAR},
      app_remind = #{record.appRemind,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      record_status = #{record.recordStatus,jdbcType=TINYINT},
      creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jn.oa.schedule.entity.TbOaSchedule">
    update tb_oa_schedule
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remindTime != null">
        remind_time = #{remindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isRemind != null">
        is_remind = #{isRemind,jdbcType=VARCHAR},
      </if>
      <if test="wechatRemind != null">
        wechat_remind = #{wechatRemind,jdbcType=VARCHAR},
      </if>
      <if test="messageRemind != null">
        message_remind = #{messageRemind,jdbcType=VARCHAR},
      </if>
      <if test="pcRemind != null">
        pc_remind = #{pcRemind,jdbcType=VARCHAR},
      </if>
      <if test="appRemind != null">
        app_remind = #{appRemind,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorAccount != null">
        creator_account = #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jn.oa.schedule.entity.TbOaSchedule">
    update tb_oa_schedule
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      remind_time = #{remindTime,jdbcType=TIMESTAMP},
      is_remind = #{isRemind,jdbcType=VARCHAR},
      wechat_remind = #{wechatRemind,jdbcType=VARCHAR},
      message_remind = #{messageRemind,jdbcType=VARCHAR},
      pc_remind = #{pcRemind,jdbcType=VARCHAR},
      app_remind = #{appRemind,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      record_status = #{recordStatus,jdbcType=TINYINT},
      creator_account = #{creatorAccount,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>