<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.park.approve.dao.TbApproveGuideMaterialsMapper">
  <resultMap id="BaseResultMap" type="com.jn.park.approve.entity.TbApproveGuideMaterials">
    <id column="gm_id" jdbcType="INTEGER" property="id" />
    <result column="gm_guide_id" jdbcType="INTEGER" property="guideId" />
    <result column="gm_name" jdbcType="VARCHAR" property="name" />
    <result column="gm_sample" jdbcType="VARCHAR" property="sample" />
    <result column="gm_paper_quantity" jdbcType="VARCHAR" property="paperQuantity" />
    <result column="gm_is_need_electronic" jdbcType="TINYINT" property="isNeedElectronic" />
    <result column="gm_is_required" jdbcType="TINYINT" property="isRequired" />
    <result column="gm_description" jdbcType="VARCHAR" property="description" />
    <result column="gm_record_status" jdbcType="TINYINT" property="recordStatus" />
    <result column="gm_creator_account" jdbcType="VARCHAR" property="creatorAccount" />
    <result column="gm_created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="gm_modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
    <result column="gm_modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    gm.id as gm_id, gm.guide_id as gm_guide_id, gm.name as gm_name, gm.sample as gm_sample, 
    gm.paper_quantity as gm_paper_quantity, gm.is_need_electronic as gm_is_need_electronic, 
    gm.is_required as gm_is_required, gm.description as gm_description, gm.record_status as gm_record_status, 
    gm.creator_account as gm_creator_account, gm.created_time as gm_created_time, gm.modifier_account as gm_modifier_account, 
    gm.modified_time as gm_modified_time
  </sql>
  <select id="selectByExample" parameterType="com.jn.park.approve.entity.TbApproveGuideMaterialsCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_approve_guide_materials gm
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_approve_guide_materials gm
    where gm.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_approve_guide_materials
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jn.park.approve.entity.TbApproveGuideMaterialsCriteria">
    delete from tb_approve_guide_materials gm
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.park.approve.entity.TbApproveGuideMaterials">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_approve_guide_materials (guide_id, name, sample, 
      paper_quantity, is_need_electronic, is_required, 
      description, record_status, creator_account, 
      created_time, modifier_account, modified_time
      )
    values (#{guideId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sample,jdbcType=VARCHAR}, 
      #{paperQuantity,jdbcType=VARCHAR}, #{isNeedElectronic,jdbcType=TINYINT}, #{isRequired,jdbcType=TINYINT}, 
      #{description,jdbcType=VARCHAR}, #{recordStatus,jdbcType=TINYINT}, #{creatorAccount,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{modifierAccount,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jn.park.approve.entity.TbApproveGuideMaterials">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_approve_guide_materials
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="guideId != null">
        guide_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sample != null">
        sample,
      </if>
      <if test="paperQuantity != null">
        paper_quantity,
      </if>
      <if test="isNeedElectronic != null">
        is_need_electronic,
      </if>
      <if test="isRequired != null">
        is_required,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
      <if test="creatorAccount != null">
        creator_account,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifierAccount != null">
        modifier_account,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="guideId != null">
        #{guideId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sample != null">
        #{sample,jdbcType=VARCHAR},
      </if>
      <if test="paperQuantity != null">
        #{paperQuantity,jdbcType=VARCHAR},
      </if>
      <if test="isNeedElectronic != null">
        #{isNeedElectronic,jdbcType=TINYINT},
      </if>
      <if test="isRequired != null">
        #{isRequired,jdbcType=TINYINT},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorAccount != null">
        #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.park.approve.entity.TbApproveGuideMaterialsCriteria" resultType="java.lang.Long">
    select count(*) from tb_approve_guide_materials gm
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_approve_guide_materials gm
    <set>
      <if test="record.id != null">
        gm.id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.guideId != null">
        gm.guide_id = #{record.guideId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        gm.name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.sample != null">
        gm.sample = #{record.sample,jdbcType=VARCHAR},
      </if>
      <if test="record.paperQuantity != null">
        gm.paper_quantity = #{record.paperQuantity,jdbcType=VARCHAR},
      </if>
      <if test="record.isNeedElectronic != null">
        gm.is_need_electronic = #{record.isNeedElectronic,jdbcType=TINYINT},
      </if>
      <if test="record.isRequired != null">
        gm.is_required = #{record.isRequired,jdbcType=TINYINT},
      </if>
      <if test="record.description != null">
        gm.description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        gm.record_status = #{record.recordStatus,jdbcType=TINYINT},
      </if>
      <if test="record.creatorAccount != null">
        gm.creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        gm.created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifierAccount != null">
        gm.modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedTime != null">
        gm.modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_approve_guide_materials gm
    set gm.id = #{record.id,jdbcType=INTEGER},
      gm.guide_id = #{record.guideId,jdbcType=INTEGER},
      gm.name = #{record.name,jdbcType=VARCHAR},
      gm.sample = #{record.sample,jdbcType=VARCHAR},
      gm.paper_quantity = #{record.paperQuantity,jdbcType=VARCHAR},
      gm.is_need_electronic = #{record.isNeedElectronic,jdbcType=TINYINT},
      gm.is_required = #{record.isRequired,jdbcType=TINYINT},
      gm.description = #{record.description,jdbcType=VARCHAR},
      gm.record_status = #{record.recordStatus,jdbcType=TINYINT},
      gm.creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      gm.created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      gm.modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      gm.modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jn.park.approve.entity.TbApproveGuideMaterials">
    update tb_approve_guide_materials
    <set>
      <if test="guideId != null">
        guide_id = #{guideId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sample != null">
        sample = #{sample,jdbcType=VARCHAR},
      </if>
      <if test="paperQuantity != null">
        paper_quantity = #{paperQuantity,jdbcType=VARCHAR},
      </if>
      <if test="isNeedElectronic != null">
        is_need_electronic = #{isNeedElectronic,jdbcType=TINYINT},
      </if>
      <if test="isRequired != null">
        is_required = #{isRequired,jdbcType=TINYINT},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorAccount != null">
        creator_account = #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jn.park.approve.entity.TbApproveGuideMaterials">
    update tb_approve_guide_materials
    set guide_id = #{guideId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      sample = #{sample,jdbcType=VARCHAR},
      paper_quantity = #{paperQuantity,jdbcType=VARCHAR},
      is_need_electronic = #{isNeedElectronic,jdbcType=TINYINT},
      is_required = #{isRequired,jdbcType=TINYINT},
      description = #{description,jdbcType=VARCHAR},
      record_status = #{recordStatus,jdbcType=TINYINT},
      creator_account = #{creatorAccount,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>