<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.park.approve.dao.TbApproveGuideMessageMapper">
  <resultMap id="BaseResultMap" type="com.jn.park.approve.entity.TbApproveGuideMessage">
    <id column="gmess_id" jdbcType="INTEGER" property="id" />
    <result column="gmess_company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="gmess_concat_name" jdbcType="TINYINT" property="concatName" />
    <result column="gmess_concat_phone" jdbcType="VARCHAR" property="concatPhone" />
    <result column="gmess_title" jdbcType="VARCHAR" property="title" />
    <result column="gmess_message" jdbcType="VARCHAR" property="message" />
    <result column="gmess_guide_id" jdbcType="INTEGER" property="guideId" />
    <result column="gmess_reply_status" jdbcType="CHAR" property="replyStatus" />
    <result column="gmess_reply_user_account" jdbcType="INTEGER" property="replyUserAccount" />
    <result column="gmess_reply_time" jdbcType="TIMESTAMP" property="replyTime" />
    <result column="gmess_reply_message" jdbcType="VARCHAR" property="replyMessage" />
    <result column="gmess_solution_status" jdbcType="VARCHAR" property="solutionStatus" />
    <result column="gmess_record_status" jdbcType="TINYINT" property="recordStatus" />
    <result column="gmess_creator_account" jdbcType="VARCHAR" property="creatorAccount" />
    <result column="gmess_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="gmess_modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
    <result column="gmess_modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    gmess.id as gmess_id, gmess.company_name as gmess_company_name, gmess.concat_name as gmess_concat_name, 
    gmess.concat_phone as gmess_concat_phone, gmess.title as gmess_title, gmess.message as gmess_message, 
    gmess.guide_id as gmess_guide_id, gmess.reply_status as gmess_reply_status, gmess.reply_user_account as gmess_reply_user_account, 
    gmess.reply_time as gmess_reply_time, gmess.reply_message as gmess_reply_message, 
    gmess.solution_status as gmess_solution_status, gmess.record_status as gmess_record_status, 
    gmess.creator_account as gmess_creator_account, gmess.create_time as gmess_create_time, 
    gmess.modifier_account as gmess_modifier_account, gmess.modified_time as gmess_modified_time
  </sql>
  <select id="selectByExample" parameterType="com.jn.park.approve.entity.TbApproveGuideMessageCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_approve_guide_message gmess
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_approve_guide_message gmess
    where gmess.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_approve_guide_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jn.park.approve.entity.TbApproveGuideMessageCriteria">
    delete from tb_approve_guide_message gmess
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.park.approve.entity.TbApproveGuideMessage">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_approve_guide_message (company_name, concat_name, concat_phone, 
      title, message, guide_id, 
      reply_status, reply_user_account, reply_time, 
      reply_message, solution_status, record_status, 
      creator_account, create_time, modifier_account, 
      modified_time)
    values (#{companyName,jdbcType=VARCHAR}, #{concatName,jdbcType=TINYINT}, #{concatPhone,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, #{guideId,jdbcType=INTEGER}, 
      #{replyStatus,jdbcType=CHAR}, #{replyUserAccount,jdbcType=INTEGER}, #{replyTime,jdbcType=TIMESTAMP}, 
      #{replyMessage,jdbcType=VARCHAR}, #{solutionStatus,jdbcType=VARCHAR}, #{recordStatus,jdbcType=TINYINT}, 
      #{creatorAccount,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifierAccount,jdbcType=VARCHAR}, 
      #{modifiedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jn.park.approve.entity.TbApproveGuideMessage">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_approve_guide_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyName != null">
        company_name,
      </if>
      <if test="concatName != null">
        concat_name,
      </if>
      <if test="concatPhone != null">
        concat_phone,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="message != null">
        message,
      </if>
      <if test="guideId != null">
        guide_id,
      </if>
      <if test="replyStatus != null">
        reply_status,
      </if>
      <if test="replyUserAccount != null">
        reply_user_account,
      </if>
      <if test="replyTime != null">
        reply_time,
      </if>
      <if test="replyMessage != null">
        reply_message,
      </if>
      <if test="solutionStatus != null">
        solution_status,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
      <if test="creatorAccount != null">
        creator_account,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifierAccount != null">
        modifier_account,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="concatName != null">
        #{concatName,jdbcType=TINYINT},
      </if>
      <if test="concatPhone != null">
        #{concatPhone,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="guideId != null">
        #{guideId,jdbcType=INTEGER},
      </if>
      <if test="replyStatus != null">
        #{replyStatus,jdbcType=CHAR},
      </if>
      <if test="replyUserAccount != null">
        #{replyUserAccount,jdbcType=INTEGER},
      </if>
      <if test="replyTime != null">
        #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyMessage != null">
        #{replyMessage,jdbcType=VARCHAR},
      </if>
      <if test="solutionStatus != null">
        #{solutionStatus,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorAccount != null">
        #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.park.approve.entity.TbApproveGuideMessageCriteria" resultType="java.lang.Long">
    select count(*) from tb_approve_guide_message gmess
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_approve_guide_message gmess
    <set>
      <if test="record.id != null">
        gmess.id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.companyName != null">
        gmess.company_name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.concatName != null">
        gmess.concat_name = #{record.concatName,jdbcType=TINYINT},
      </if>
      <if test="record.concatPhone != null">
        gmess.concat_phone = #{record.concatPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        gmess.title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.message != null">
        gmess.message = #{record.message,jdbcType=VARCHAR},
      </if>
      <if test="record.guideId != null">
        gmess.guide_id = #{record.guideId,jdbcType=INTEGER},
      </if>
      <if test="record.replyStatus != null">
        gmess.reply_status = #{record.replyStatus,jdbcType=CHAR},
      </if>
      <if test="record.replyUserAccount != null">
        gmess.reply_user_account = #{record.replyUserAccount,jdbcType=INTEGER},
      </if>
      <if test="record.replyTime != null">
        gmess.reply_time = #{record.replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.replyMessage != null">
        gmess.reply_message = #{record.replyMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.solutionStatus != null">
        gmess.solution_status = #{record.solutionStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        gmess.record_status = #{record.recordStatus,jdbcType=TINYINT},
      </if>
      <if test="record.creatorAccount != null">
        gmess.creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        gmess.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifierAccount != null">
        gmess.modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedTime != null">
        gmess.modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_approve_guide_message gmess
    set gmess.id = #{record.id,jdbcType=INTEGER},
      gmess.company_name = #{record.companyName,jdbcType=VARCHAR},
      gmess.concat_name = #{record.concatName,jdbcType=TINYINT},
      gmess.concat_phone = #{record.concatPhone,jdbcType=VARCHAR},
      gmess.title = #{record.title,jdbcType=VARCHAR},
      gmess.message = #{record.message,jdbcType=VARCHAR},
      gmess.guide_id = #{record.guideId,jdbcType=INTEGER},
      gmess.reply_status = #{record.replyStatus,jdbcType=CHAR},
      gmess.reply_user_account = #{record.replyUserAccount,jdbcType=INTEGER},
      gmess.reply_time = #{record.replyTime,jdbcType=TIMESTAMP},
      gmess.reply_message = #{record.replyMessage,jdbcType=VARCHAR},
      gmess.solution_status = #{record.solutionStatus,jdbcType=VARCHAR},
      gmess.record_status = #{record.recordStatus,jdbcType=TINYINT},
      gmess.creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      gmess.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      gmess.modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      gmess.modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jn.park.approve.entity.TbApproveGuideMessage">
    update tb_approve_guide_message
    <set>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="concatName != null">
        concat_name = #{concatName,jdbcType=TINYINT},
      </if>
      <if test="concatPhone != null">
        concat_phone = #{concatPhone,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="guideId != null">
        guide_id = #{guideId,jdbcType=INTEGER},
      </if>
      <if test="replyStatus != null">
        reply_status = #{replyStatus,jdbcType=CHAR},
      </if>
      <if test="replyUserAccount != null">
        reply_user_account = #{replyUserAccount,jdbcType=INTEGER},
      </if>
      <if test="replyTime != null">
        reply_time = #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyMessage != null">
        reply_message = #{replyMessage,jdbcType=VARCHAR},
      </if>
      <if test="solutionStatus != null">
        solution_status = #{solutionStatus,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorAccount != null">
        creator_account = #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jn.park.approve.entity.TbApproveGuideMessage">
    update tb_approve_guide_message
    set company_name = #{companyName,jdbcType=VARCHAR},
      concat_name = #{concatName,jdbcType=TINYINT},
      concat_phone = #{concatPhone,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      guide_id = #{guideId,jdbcType=INTEGER},
      reply_status = #{replyStatus,jdbcType=CHAR},
      reply_user_account = #{replyUserAccount,jdbcType=INTEGER},
      reply_time = #{replyTime,jdbcType=TIMESTAMP},
      reply_message = #{replyMessage,jdbcType=VARCHAR},
      solution_status = #{solutionStatus,jdbcType=VARCHAR},
      record_status = #{recordStatus,jdbcType=TINYINT},
      creator_account = #{creatorAccount,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>