<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.park.approve.dao.TbApproveGuideContentMapper">
  <resultMap id="BaseResultMap" type="com.jn.park.approve.entity.TbApproveGuideContent">
    <id column="gc_guide_id" jdbcType="INTEGER" property="guideId" />
    <result column="gc_word_count" jdbcType="VARCHAR" property="wordCount" />
    <result column="gc_description" jdbcType="VARCHAR" property="description" />
    <result column="gc_deal_days" jdbcType="INTEGER" property="dealDays" />
    <result column="gc_deal_address" jdbcType="VARCHAR" property="dealAddress" />
    <result column="gc_deal_time" jdbcType="VARCHAR" property="dealTime" />
    <result column="gc_link_phone" jdbcType="VARCHAR" property="linkPhone" />
    <result column="gc_deal_online_url" jdbcType="VARCHAR" property="dealOnlineUrl" />
    <result column="gc_is_deal_model_of_message" jdbcType="TINYINT" property="isDealModelOfMessage" />
    <result column="gc_is_deal_model_of_qq_group" jdbcType="TINYINT" property="isDealModelOfQqGroup" />
    <result column="gc_qq_group_number" jdbcType="VARCHAR" property="qqGroupNumber" />
    <result column="gc_record_status" jdbcType="TINYINT" property="recordStatus" />
    <result column="gc_creator_account" jdbcType="VARCHAR" property="creatorAccount" />
    <result column="gc_created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="gc_modifier_account" jdbcType="VARCHAR" property="modifierAccount" />
    <result column="gc_modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.jn.park.approve.entity.TbApproveGuideContent">
    <result column="gc_detail" jdbcType="LONGVARCHAR" property="detail" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    gc.guide_id as gc_guide_id, gc.word_count as gc_word_count, gc.description as gc_description, 
    gc.deal_days as gc_deal_days, gc.deal_address as gc_deal_address, gc.deal_time as gc_deal_time, 
    gc.link_phone as gc_link_phone, gc.deal_online_url as gc_deal_online_url, gc.is_deal_model_of_message as gc_is_deal_model_of_message, 
    gc.is_deal_model_of_qq_group as gc_is_deal_model_of_qq_group, gc.qq_group_number as gc_qq_group_number, 
    gc.record_status as gc_record_status, gc.creator_account as gc_creator_account, gc.created_time as gc_created_time, 
    gc.modifier_account as gc_modifier_account, gc.modified_time as gc_modified_time
  </sql>
  <sql id="Blob_Column_List">
    gc.detail as gc_detail
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.jn.park.approve.entity.TbApproveGuideContentCriteria" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_approve_guide_content gc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.jn.park.approve.entity.TbApproveGuideContentCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_approve_guide_content gc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_approve_guide_content gc
    where gc.guide_id = #{guideId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_approve_guide_content
    where guide_id = #{guideId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jn.park.approve.entity.TbApproveGuideContentCriteria">
    delete from tb_approve_guide_content gc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jn.park.approve.entity.TbApproveGuideContent">
    insert into tb_approve_guide_content (guide_id, word_count, description, 
      deal_days, deal_address, deal_time, 
      link_phone, deal_online_url, is_deal_model_of_message, 
      is_deal_model_of_qq_group, qq_group_number, record_status, 
      creator_account, created_time, modifier_account, 
      modified_time, detail)
    values (#{guideId,jdbcType=INTEGER}, #{wordCount,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{dealDays,jdbcType=INTEGER}, #{dealAddress,jdbcType=VARCHAR}, #{dealTime,jdbcType=VARCHAR}, 
      #{linkPhone,jdbcType=VARCHAR}, #{dealOnlineUrl,jdbcType=VARCHAR}, #{isDealModelOfMessage,jdbcType=TINYINT}, 
      #{isDealModelOfQqGroup,jdbcType=TINYINT}, #{qqGroupNumber,jdbcType=VARCHAR}, #{recordStatus,jdbcType=TINYINT}, 
      #{creatorAccount,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{modifierAccount,jdbcType=VARCHAR}, 
      #{modifiedTime,jdbcType=TIMESTAMP}, #{detail,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jn.park.approve.entity.TbApproveGuideContent">
    insert into tb_approve_guide_content
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="guideId != null">
        guide_id,
      </if>
      <if test="wordCount != null">
        word_count,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="dealDays != null">
        deal_days,
      </if>
      <if test="dealAddress != null">
        deal_address,
      </if>
      <if test="dealTime != null">
        deal_time,
      </if>
      <if test="linkPhone != null">
        link_phone,
      </if>
      <if test="dealOnlineUrl != null">
        deal_online_url,
      </if>
      <if test="isDealModelOfMessage != null">
        is_deal_model_of_message,
      </if>
      <if test="isDealModelOfQqGroup != null">
        is_deal_model_of_qq_group,
      </if>
      <if test="qqGroupNumber != null">
        qq_group_number,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
      <if test="creatorAccount != null">
        creator_account,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifierAccount != null">
        modifier_account,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="detail != null">
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="guideId != null">
        #{guideId,jdbcType=INTEGER},
      </if>
      <if test="wordCount != null">
        #{wordCount,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="dealDays != null">
        #{dealDays,jdbcType=INTEGER},
      </if>
      <if test="dealAddress != null">
        #{dealAddress,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null">
        #{dealTime,jdbcType=VARCHAR},
      </if>
      <if test="linkPhone != null">
        #{linkPhone,jdbcType=VARCHAR},
      </if>
      <if test="dealOnlineUrl != null">
        #{dealOnlineUrl,jdbcType=VARCHAR},
      </if>
      <if test="isDealModelOfMessage != null">
        #{isDealModelOfMessage,jdbcType=TINYINT},
      </if>
      <if test="isDealModelOfQqGroup != null">
        #{isDealModelOfQqGroup,jdbcType=TINYINT},
      </if>
      <if test="qqGroupNumber != null">
        #{qqGroupNumber,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorAccount != null">
        #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jn.park.approve.entity.TbApproveGuideContentCriteria" resultType="java.lang.Long">
    select count(*) from tb_approve_guide_content gc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_approve_guide_content gc
    <set>
      <if test="record.guideId != null">
        gc.guide_id = #{record.guideId,jdbcType=INTEGER},
      </if>
      <if test="record.wordCount != null">
        gc.word_count = #{record.wordCount,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        gc.description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.dealDays != null">
        gc.deal_days = #{record.dealDays,jdbcType=INTEGER},
      </if>
      <if test="record.dealAddress != null">
        gc.deal_address = #{record.dealAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.dealTime != null">
        gc.deal_time = #{record.dealTime,jdbcType=VARCHAR},
      </if>
      <if test="record.linkPhone != null">
        gc.link_phone = #{record.linkPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.dealOnlineUrl != null">
        gc.deal_online_url = #{record.dealOnlineUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.isDealModelOfMessage != null">
        gc.is_deal_model_of_message = #{record.isDealModelOfMessage,jdbcType=TINYINT},
      </if>
      <if test="record.isDealModelOfQqGroup != null">
        gc.is_deal_model_of_qq_group = #{record.isDealModelOfQqGroup,jdbcType=TINYINT},
      </if>
      <if test="record.qqGroupNumber != null">
        gc.qq_group_number = #{record.qqGroupNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        gc.record_status = #{record.recordStatus,jdbcType=TINYINT},
      </if>
      <if test="record.creatorAccount != null">
        gc.creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        gc.created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifierAccount != null">
        gc.modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedTime != null">
        gc.modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.detail != null">
        gc.detail = #{record.detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update tb_approve_guide_content gc
    set gc.guide_id = #{record.guideId,jdbcType=INTEGER},
      gc.word_count = #{record.wordCount,jdbcType=VARCHAR},
      gc.description = #{record.description,jdbcType=VARCHAR},
      gc.deal_days = #{record.dealDays,jdbcType=INTEGER},
      gc.deal_address = #{record.dealAddress,jdbcType=VARCHAR},
      gc.deal_time = #{record.dealTime,jdbcType=VARCHAR},
      gc.link_phone = #{record.linkPhone,jdbcType=VARCHAR},
      gc.deal_online_url = #{record.dealOnlineUrl,jdbcType=VARCHAR},
      gc.is_deal_model_of_message = #{record.isDealModelOfMessage,jdbcType=TINYINT},
      gc.is_deal_model_of_qq_group = #{record.isDealModelOfQqGroup,jdbcType=TINYINT},
      gc.qq_group_number = #{record.qqGroupNumber,jdbcType=VARCHAR},
      gc.record_status = #{record.recordStatus,jdbcType=TINYINT},
      gc.creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      gc.created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      gc.modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      gc.modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      gc.detail = #{record.detail,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_approve_guide_content gc
    set gc.guide_id = #{record.guideId,jdbcType=INTEGER},
      gc.word_count = #{record.wordCount,jdbcType=VARCHAR},
      gc.description = #{record.description,jdbcType=VARCHAR},
      gc.deal_days = #{record.dealDays,jdbcType=INTEGER},
      gc.deal_address = #{record.dealAddress,jdbcType=VARCHAR},
      gc.deal_time = #{record.dealTime,jdbcType=VARCHAR},
      gc.link_phone = #{record.linkPhone,jdbcType=VARCHAR},
      gc.deal_online_url = #{record.dealOnlineUrl,jdbcType=VARCHAR},
      gc.is_deal_model_of_message = #{record.isDealModelOfMessage,jdbcType=TINYINT},
      gc.is_deal_model_of_qq_group = #{record.isDealModelOfQqGroup,jdbcType=TINYINT},
      gc.qq_group_number = #{record.qqGroupNumber,jdbcType=VARCHAR},
      gc.record_status = #{record.recordStatus,jdbcType=TINYINT},
      gc.creator_account = #{record.creatorAccount,jdbcType=VARCHAR},
      gc.created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      gc.modifier_account = #{record.modifierAccount,jdbcType=VARCHAR},
      gc.modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jn.park.approve.entity.TbApproveGuideContent">
    update tb_approve_guide_content
    <set>
      <if test="wordCount != null">
        word_count = #{wordCount,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="dealDays != null">
        deal_days = #{dealDays,jdbcType=INTEGER},
      </if>
      <if test="dealAddress != null">
        deal_address = #{dealAddress,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null">
        deal_time = #{dealTime,jdbcType=VARCHAR},
      </if>
      <if test="linkPhone != null">
        link_phone = #{linkPhone,jdbcType=VARCHAR},
      </if>
      <if test="dealOnlineUrl != null">
        deal_online_url = #{dealOnlineUrl,jdbcType=VARCHAR},
      </if>
      <if test="isDealModelOfMessage != null">
        is_deal_model_of_message = #{isDealModelOfMessage,jdbcType=TINYINT},
      </if>
      <if test="isDealModelOfQqGroup != null">
        is_deal_model_of_qq_group = #{isDealModelOfQqGroup,jdbcType=TINYINT},
      </if>
      <if test="qqGroupNumber != null">
        qq_group_number = #{qqGroupNumber,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorAccount != null">
        creator_account = #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierAccount != null">
        modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where guide_id = #{guideId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jn.park.approve.entity.TbApproveGuideContent">
    update tb_approve_guide_content
    set word_count = #{wordCount,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      deal_days = #{dealDays,jdbcType=INTEGER},
      deal_address = #{dealAddress,jdbcType=VARCHAR},
      deal_time = #{dealTime,jdbcType=VARCHAR},
      link_phone = #{linkPhone,jdbcType=VARCHAR},
      deal_online_url = #{dealOnlineUrl,jdbcType=VARCHAR},
      is_deal_model_of_message = #{isDealModelOfMessage,jdbcType=TINYINT},
      is_deal_model_of_qq_group = #{isDealModelOfQqGroup,jdbcType=TINYINT},
      qq_group_number = #{qqGroupNumber,jdbcType=VARCHAR},
      record_status = #{recordStatus,jdbcType=TINYINT},
      creator_account = #{creatorAccount,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      detail = #{detail,jdbcType=LONGVARCHAR}
    where guide_id = #{guideId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jn.park.approve.entity.TbApproveGuideContent">
    update tb_approve_guide_content
    set word_count = #{wordCount,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      deal_days = #{dealDays,jdbcType=INTEGER},
      deal_address = #{dealAddress,jdbcType=VARCHAR},
      deal_time = #{dealTime,jdbcType=VARCHAR},
      link_phone = #{linkPhone,jdbcType=VARCHAR},
      deal_online_url = #{dealOnlineUrl,jdbcType=VARCHAR},
      is_deal_model_of_message = #{isDealModelOfMessage,jdbcType=TINYINT},
      is_deal_model_of_qq_group = #{isDealModelOfQqGroup,jdbcType=TINYINT},
      qq_group_number = #{qqGroupNumber,jdbcType=VARCHAR},
      record_status = #{recordStatus,jdbcType=TINYINT},
      creator_account = #{creatorAccount,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modifier_account = #{modifierAccount,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where guide_id = #{guideId,jdbcType=INTEGER}
  </update>
</mapper>